{% if tooltip %}
    <abbr title="{{ tooltip }}" style="text-decoration: none">
{% endif %}

<i class="{{ class }}"
   {% if style %}style="{{ style }}"{% endif %}
    {% if "data" in kwargs %}
       {% for key, value in kwargs.get("data").items() %}
           data-{{ key }}={{value}}
       {% endfor %}
    {% endif %}>
   {% if value %}{{ value }}{% endif %}
</i>

{% if tooltip %}
    </abbr>
{% endif %}