<ul>
    {% for group, ingredients in groups.items() %}
        <hr>
        <h6> {{ group }} </h6>
        {% for ingredient in ingredients %}
        	<li>
        		<details>
        			<summary class="row">
            			<div class="col font-weight-bold">
                            {{ link_to(ingredient) }}
                        </div>
                            {% if ingredient.measurement.thousand_fold and ingredient.amount % 1000 != ingredient.amount %}
                                <div class="col font-weight-bold"> {{ formatted_amount(ingredient.amount/1000) }} </div>
                                <div class="col font-weight-bold"> {{ ingredient.measurement.thousand_fold }} </div>
                            {% else %}
                                <div class="col font-weight-bold"> {{ formatted_amount(ingredient.amount) }} </div>
                                <div class="col font-weight-bold"> {{ ingredient.measurement.name }} </div>
                            {% endif %}
        			</summary>

    		    	{% for recipe in ingredient.event_recipes %}
                        {% set amount = amounts[ingredient.id]["recipes"][recipe.id]["amount"] %}
                        {% set occurences = amounts[ingredient.id]["recipes"][recipe.id]["occurences"] %}
                        {% set comment = amounts[ingredient.id]["recipes"][recipe.id]["comment"] %}

                        <li class="row"> 
                            <div class="col"> {{ link_or_name(recipe) }} {% if occurences > 1 %}({{ occurences }}x){% endif %} </div>
                            {% if ingredient.measurement.thousand_fold and amount % 1000 != amount %}
                                <div class="col"> {{ formatted_amount(amount/1000) }}  {% if comment %} <em> - {{ comment }} </em>{% endif %}  </div>
                                <div class="col"> {{ ingredient.measurement.thousand_fold }} </div>
                            {% else %}
                                <div class="col"> {{ formatted_amount(amount) }}  {% if comment %} <em> - {{ comment }} </em>{% endif %} </div>
                                <div class="col"> {{ ingredient.measurement.name }} </div>
                            {% endif %}
                        </li>
    		    	{% endfor %}
        		</details>
        	</li>
        {% endfor %}
    {% endfor %}
</ul>
