<ul>
    {% for ingredient in ingredients %}
    	<li>
    		<details>
    			<summary class="row">
        			<span class="col font-weight-bold"><a href="{{ url_for('IngredientsView:show', id=ingredient.id) }}">{{ ingredient.name }}</a></span>
                        {% if ingredient.measurement.thousand_fold and ingredient.amount % 1000 != ingredient.amount %}
                            <span class="col font-weight-bold">{{ ingredient.amount/1000 | round(1) }}</span>
                            <span class="col font-weight-bold">{{ ingredient.measurement.thousand_fold }}</span>
                        {% else %}
                            <span class="col font-weight-bold">{{ ingredient.amount | round | int }}</span>
                            <span class="col font-weight-bold">{{ ingredient.measurement.name }}</span>
                        {% endif %}
    			</summary>

		    	{% for recipe in ingredient.event_recipes %}
                    {% set amount = amounts[ingredient.id]["recipes"][recipe.id]["amount"] %}

                    <li class="row"> 
                        <span class="col"> {{ link_to(recipe) }} {% if recipe.occurences > 1 %}({{ recipe.occurences }}x){% endif %}</span>
                        {% if ingredient.measurement.thousand_fold and ingredient.amount % 1000 != ingredient.amount %}
                            <span class="col"> {{ amount/1000 | round(1) }} {% if recipe.occurences > 1 %}(x{{ recipe.occurences }}){% endif %} </span>
                            <span class="col"> {{ ingredient.measurement.thousand_fold }} </span>
                        {% else %}
                            <span class="col"> {{ amount | round | int }} {% if recipe.occurences > 1 %}(x{{ recipe.occurences }}){% endif %} </span>
                            <span class="col"> {{ ingredient.measurement.name }} </span>
                        {% endif %}
                    </li>
		    	{% endfor %}
    		</details>
    	</li>
    {% endfor %}
</ul>