{% extends "base/base.html.j2" %}
{% block title %} kuchařka {% endblock %}

{% block content %}

<h1 class="text-uppercase font-comfortaa text-center mb-3"> kuchařka - {{ link_or_name(event) }} </h1>

{{ recipes_html | safe }}

{% endblock %}
