{% extends "base/base.html.j2" %}
{% block title %} Seznam surovin {% endblock %}

{% block content %}

<h2>Suroviny (pro {{ event.people_count }} lidí)</h2>
<ul>
    {% for ingredient in ingredients %}
    	<li>
    		<details>
    			<summary class="row">
        			<span class="col font-weight-bold">{{ ingredient.name }}</span>
                	<span class="col font-weight-bold">{{ ingredient.amount | int }}</span>
                	<span class="col font-weight-bold">{{ ingredient.measurement.name }}</span>
    			</summary>

		    	{% for recipe in ingredient.event_recipes %}
                    <li class="row"> 
                        <span class="col"> {{ link_to(recipe) }} </span>
                        <span class="col"> {{ amounts[ingredient.id]["recipes"][recipe.id]["amount"] | int }} </span>
                        <span class="col"> {{ ingredient.measurement.name }} </span>
                    </li>
		    	{% endfor %}
    		</details>
    	</li>
    {% endfor %}
</ul>

{# <table class="table">
    {% for ingredient in ingredients %}
    <tr>
        <td>{{ ingredient.name }}</td>
        <td>{{ ingredient.amount | int }}</td>
        <td>{{ ingredient.measurement.name }}</td>
        <td>
        	
    	{% for recipe in ingredient.event_recipes %}
			{{ link_to(recipe) }}
    	{% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>
 #}
{% endblock %}
