{% extends "base/base.html.j2" %}

{% block content %}

<h2 class="text-uppercase font-comfortaa">Suroviny (pro {{ event.people_count }} lidí)</h2>
{% include 'event_exporter/_ingredient_list.html.j2' %}

{% endblock %}
