{% extends "base/base.html.j2" %}
{% block title %} jídelníček {% endblock %}

{% block content_container %}

<div class="container-fluid">
<h1 class="text-uppercase text-center mb-3 d-print-none"> {{ link_or_name(event) }} </h1>

<div class="row">
    {% for day_group in event.timetable.all_days_with_agenda | batch(2) %}
        <div class="row">
            {% for day in day_group %}
                {% include("daily_plans/_print_day_badge.html.j2") %}
            {% endfor %}
        </div>
    {% endfor %}
</div>

</div>
{% endblock %}
