{% extends "base/base.html.j2" %}
{% block title %} jídelníček {% endblock %}

{% block content %}

<h1 class="text-uppercase text-center mb-3" > {{ link_or_name(event) }} </h1>
<h2 class="text-uppercase text-center"> recepty </h2>

<div class="row">
    {% for daily_plan in daily_plans %}
        <div class="col bg-color-light-grey m-1" style="padding: 0.5rem; border-radius: 0.3rem;">
        <h4>{{ human_format_date(daily_plan.date) }}</h4>
        {{ list_of_links(daily_plan.real_recipes) }}
        </div>
    {% endfor %}
</div>


{% endblock %}
