{% extends "base/base.html.j2" %}
{% block title %} jídelníček {% endblock %}

{% block style %}
<style type="text/css">
    @page {
        size: A4 landscape;
    }
</style>
{% endblock %}

{% block content %}

<div class="row">
    {% for day_group in event.active_daily_plans | batch(4) %}
        <div class="row">
            {% for day in day_group %}
                {% include("daily_plans/_print_day_badge.html.j2") %}
            {% endfor %}            
        </div>
    {% endfor %}
</div>

</div>
{% endblock %}
