{% extends "base/base.html.j2" %}
{% block title %} nákupní seznam {% endblock %}

{% block content %}

<h1 class="text-uppercase text-center mb-3" >{{ link_or_name(event) }} fuu</h1>

<h2 class="text-uppercase"> suroviny (pro {{ event.people_count }} lidí) </h2>

<h3> trvanlivé </h3>
{% with groups=lasting_ingredients_shopping.grouped_shopping_list, ingredients=lasting_ingredients, amounts=lasting_ingredients_shopping.recipe_ingredient_amounts %}
    {% include 'event_exporter/_ingredient_table.html.j2' %}
{% endwith %}

{% for shopping in shoppings %}
    {% if shopping.is_shopping %}
        <h3>{{ human_format_date(shopping.date) }}</h3>
    {% else %}
        <h3>Před {{ human_format_date(shopping.date) }}</h3>
    {% endif %}

    {% with groups=shopping.grouped_shopping_list, ingredients=shopping.shopping_list, amounts=shopping.recipe_ingredient_amounts %}
        {% include 'event_exporter/_ingredient_table.html.j2' %}
    {% endwith %}
{% endfor %}

{% endblock %}