{% extends "base/base.html.j2" %}
{% block title %} Nákupní seznam {% endblock %}

{% block content %}

<h2>Suroviny (pro {{ event.people_count }} lidí)</h2>
<table class="table">
    {% for ingredient in ingredients %}
    <tr>
        <td>{{ ingredient.name }}</td>
        <td>{{ ingredient.amount | round | int }}</td>
        <td>{{ ingredient.measurement.name }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
