{% extends "base/base.html.j2" %}
{% block title %} Nákupní seznam {% endblock %}

{% block content %}

<h2 class="text-uppercase font-comfortaa">Suroviny (pro {{ event.people_count }} lidí)</h2>
<table class="table">
    {% for ingredient in ingredients %}
    <tr>
        <td>{{ ingredient.name }}</td>
        {% if ingredient.measurement.thousand_fold and ingredient.amount % 1000 != ingredient.amount %}
            <td>{{ ingredient.amount/1000 | round(1) }}</td>
            <td>{{ ingredient.measurement.thousand_fold }}</td>
        {% else %}
            <td>{{ ingredient.amount | round | int }}</td>
            <td>{{ ingredient.measurement.name }}</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

{% endblock %}
