{% extends "base/base.html.j2" %}
{% block title %} Nákupní seznam {% endblock %}

{% block content %}

<h2 class="text-uppercase font-comfortaa">Suroviny (pro {{ event.people_count }} lidí)</h2>


<h3>Trvanlivé</h3>
{% with ingredients=lasting_ingredients %}
    {% include 'event_exporter/_ingredient_table.html.j2' %}
{% endwith %}

{% for shopping in shoppings %}
    {% if shopping.is_shopping %}
        <h3>{{ human_format_date(shopping.date) }}</h3>
    {% else %}
        <h3>Před {{ human_format_date(shopping.date) }}</h3>
    {% endif %}
    {% with ingredients=shopping.shopping_list %}
        {% include 'event_exporter/_ingredient_table.html.j2' %}
    {% endwith %}
{% endfor %}

{% endblock %}
