<nav class="navbar navbar-dark bg-color-primary navbar-expand-lg fixed-top">
  <div class="container">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbar" class="collapse navbar-collapse">

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/"> navařit. | </a>
        </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for_security('register') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}"> registrovat se | </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('PublicRecipesView:public_index') }}"> {{ icon("recipe_database")}} sdílené recepty </a>
          </li>
          {% if config.FF_GALLERY %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('PublicRecipesView:gallery') }}"> {{icon("image")}} galerie receptů </a>
            </li>
          {% endif %}
      </ul>

      {# <div class="navbar-divider"></div> #}

      <ul class="nav navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link font-weight-bold " href="{{ url_for_security('login') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}"> | přihlásit se </a>
          </li>
      </ul>

    </div>
  </div>
</nav>
