<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    {# {% include '_navbar_brand.html.j2' %} #}
    
    <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target=".navbar-collapse"
            aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbar" class="collapse navbar-collapse">

      <ul class="nav navbar-nav navbar-center">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('DashboardView:index') }}"> Domů | </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Přidat
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ url_for('RecipesView:new') }}"> recept </a>
            <a class="dropdown-item" href="{{ url_for('IngredientsView:new') }}"> surovinu </a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Seznam
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ url_for('RecipesView:index') }}"> receptů </a>
            <a class="dropdown-item" href="{{ url_for('IngredientsView:index') }}"> surovin </a>
            <a class="dropdown-item" href="{{ url_for('IngredientsView:public') }}"> veřejných surovin </a>
          </div>
        </li>
        <a class="nav-link" href="{{ url_for('EventsView:index') }}">{{ icon("daily") }} Akce </a>

        {# <a class="nav-link" href="{{ url_for('EventExporterView:index') }}"> Export </a> #}
        <a class="nav-link" href="{{ url_for('PublicRecipesView:index') }}"> {{ icon("recipe_database")}} Databáze receptů </a>

        {% if current_user.is_app_manager %}{% include 'navbars/_navbar_admin.html.j2' %}{% endif %}
      </ul>

      <ul class="nav navbar-nav navbar-right ml-auto">
{#         <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdown" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <i class="fa fa-question-circle"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ url_for('IndexView:about_0') }}">O kalkulačce</a>
          </div>
        </li>
 #}
        <li class="nav-item">
          <a class="nav-link" href="/logout">Odhlásit se</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
