<nav class="navbar navbar-expand-lg bg-color-primary mb-3">
  <div class="container navbar-dark">
    {# {% include '_navbar_brand.html.j2' %} #}
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
            aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-center">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('DashboardView:index') }}"> domů | </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('IngredientView:index') }}"> {{ icon("seedling") }} suroviny </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('RecipeView:index') }}"> {{ icon("food") }} recepty </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('EventView:index') }}"> {{ icon("daily") }} akce </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('PublicRecipeView:index') }}"> {{ icon("recipe_database")}} databáze receptů </a>
        </li>
        
        {% if config['FF_GALLERY'] %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('PublicRecipeView:gallery') }}"> {{icon("image")}} galerie receptů </a>
          </li>
        {% endif %}

        {% if current_user.has_permission("manage-application") %}
          {% include 'navbars/_navbar_admin.html.j2' %}
        {% endif %}
      </ul>

      <ul class="nav navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('TipView:index') }}"> {{ icon("info-circle") }} tipy a triky </a>
        </li>
        
        <li class="nav-item dropdown me-3">
          <a class="nav-link" href="#" id="navbarDropdown" role="button"
             data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <i class="fa fa-question-circle"></i>
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ url_for('SupportView:terms') }}"> podmínky použití </a>
            <a class="dropdown-item" href="{{ url_for('SupportView:privacy') }}"> osobní data </a>
            <a class="dropdown-item" href="https://github.com/janmpeterka/kucharka" target="_blank"> {{ icon("github") }} </a>
            <a class="dropdown-item" href="{{ url_for('SupportView:facebook_redirect') }}" target="_blank" > {{ icon("facebook") }} </a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdown" role="button"
             data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             {{ icon("user", cursor_class="cursor-clickable", class="text-larger") }}
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ url_for('UserView:show') }}"> profil </a>
            <a class="dropdown-item" href="{{ url_for_security('logout') }}"> odhlásit se </a>
          </div>
        </li>

      </ul>
    </div>
  </div>
</nav>
