<nav class="navbar navbar-dark bg-color-dark-green navbar-expand-lg fixed-top" >
  <div class="container">
    {# {% include '_navbar_brand.html.j2' %} #}
    
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
            aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-center">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('DashboardView:index') }}"> Domů | </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdd" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Přidat
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownAdd">
            <li><a class="dropdown-item" href="{{ url_for('RecipesView:new') }}"> recept </a></li>
            <li><a class="dropdown-item" href="{{ url_for('IngredientsView:new') }}"> surovinu </a></li>
            <li><a class="dropdown-item" href="{{ url_for('EventsView:new') }}"> akci </a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownList" role="button"
             data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Seznam
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownList">
            <a class="dropdown-item" href="{{ url_for('RecipesView:index') }}"> receptů </a>
            <a class="dropdown-item" href="{{ url_for('IngredientsView:index') }}"> surovin </a>
            {# <a class="dropdown-item" href="{{ url_for('PublicIngredientsView:index') }}"> veřejných surovin </a> #}
          </div>
        </li>
        <a class="nav-link" href="{{ url_for('EventsView:index') }}">{{ icon("daily") }} Akce </a>

        <a class="nav-link" href="{{ url_for('PublicRecipesView:index') }}"> {{ icon("recipe_database")}} Databáze receptů </a>

        {% if current_user.has_permission("manage-application") %}
          {% include 'navbars/_navbar_admin.html.j2' %}
        {% endif %}
      </ul>

      <ul class="nav navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdown" role="button"
             data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             {{ icon("more", cursor_class="cursor-clickable") }}
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ url_for('SupportView:tips') }}"> Tipy a triky </a>
          </div>
        </li>
        
        <li class="nav-item dropdown me-3">
          <a class="nav-link" href="#" id="navbarDropdown" role="button"
             data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <i class="fa fa-question-circle"></i>
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ url_for('SupportView:terms') }}"> Podmínky použití </a>
            <a class="dropdown-item" href="{{ url_for('SupportView:privacy') }}"> Osobní data </a>
            <a class="dropdown-item" href="https://github.com/janmpeterka/kucharka" target="_blank"> {{ icon("github") }} </a>
            <a class="dropdown-item" href="{{ url_for('SupportView:facebook_redirect') }}" target="_blank" > {{ icon("facebook") }} </a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdown" role="button"
             data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             {{ icon("user", cursor_class="cursor-clickable", class="text-larger") }}
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ url_for('UsersView:show') }}"> Profil </a>
            <a class="dropdown-item" href="{{ url_for_security('logout') }}"> Odhlásit se </a>
          </div>
        </li>


      </ul>
    </div>
  </div>
</nav>
