<form action="{{ url_for('MeasurementView:post') }}" method="POST" id="measurement-create-form">
	<input type="text" name="measurement" id="measurement" class="new-item" placeholder="přidat další" autocomplete="off">
</form>