<turbo-frame id="measurement-{{ measurement.id }}">
  <li class="editing">
    <div>
      <label></label>
    </div>
    <form method="POST" action="{{ url_for('MeasurementsView:post_edit', id=measurement.id) }}">
      <input type="text" name="measurement" value="{{ measurement.name }}" class="edit" autofocus>
    </form>
  </li>
</turbo-frame>