{% from "macros/turbo.html.j2" import button_to %}

<tr id="measurement-edit-{{ measurement.id }}" data-stream-enter-class="animate-row-in" data-stream-exit-class="animate-row-out">

  <td colspan="3">
    <form class="row row-cols-auto g-3 align-items-center" action="{{ url_for('MeasurementsView:update', id=measurement.id) }}" method="POST">
      <div class="col-12 col-md-4">
        <input type="text" name="name" value="{{ measurement.name }}" class="form-control" autofocus>
      </div>

      <div class="col-12 col-md-4">
        <input type="text" name="description" value="{{ measurement.description | default('',True)}}" class="form-control">
      </div>
      
      <div class="col-12 col-md-2">
        <button type="submit" class="btn bg-color-secondary-action color-white"> uložit </button>
      </div>

    </form>
  </td>

  <td></td>
  
  <td>
    {{ button_to(url_for('MeasurementsView:delete', id=measurement.id), class="btn bg-color-secondary-action color-white", method="DELETE", value="smazat") }}
  </td>
  
  <td>
    {{ button_to(url_for('MeasurementsView:hide_edit', id=measurement.id), class="btn bg-color-secondary-action color-white", value="zrušit") }}
  </td>
  
</tr>