<turbo-frame id="measurement-{{ measurement.id }}">
  <li class="row">
      <div>
        <label>{{ measurement.name}}</label>
      </div>
    <label style="font-size: smaller;">{{ measurement.description if measurement.description  }}</label>
    {% if not edit_id %}
      <form method="POST" action="{{ url_for('MeasurementsView:edit', id=measurement.id) }}" data-turbo-frame="all">
        <button type="submit" class="change"></button>
      </form>
      <form method="DELETE" action="{{ url_for('MeasurementsView:delete', id=measurement.id) }}">
        <button type="submit" class="destroy"></button>
      </form>
    {% endif %}
  </li>
</turbo-frame>