{% from "macros/turbo.html.j2" import button_to %}

<tr id="measurement-{{ measurement.id }}">
  <td> {{ measurement.name}} </td>
  <td> {{ measurement.description | default("", True)}} </td>
  <td colspan="3"></td>
  <td>
    {{ button_to(url_for('MeasurementsView:show_edit', id=measurement.id), class="icon change") }}
  </td>
</tr>