{% from "macros/turbo.html.j2" import button_to %}

<turbo-frame id="measurement-{{ measurement.id }}">
  <li class="row">
      <div>
        <label>{{ measurement.name}}</label>
      </div>
    <label style="font-size: smaller;">{{ measurement.description if measurement.description  }}</label>
    {% if not edit_id %}
      {{ button_to(action=url_for('MeasurementsView:edit', id=measurement.id), class="change", data="all") }}
      {{ button_to(action=url_for('MeasurementsView:delete', id=measurement.id), class="destroy", method="DELETE") }}
    {% endif %}
  </li>
</turbo-frame>