{% extends "base/base.html.j2" %}
{% block title %} Míry {% endblock %}

{% block links %}
    {{ super() }}
    {{ turbo() }}
{% endblock %}

{# {% block flashing %}
    {% include('base/_turbo_flashing.html.j2') %}
{% endblock %} #}

{% block content %}

<div class="text-center mt-2">
  <h1 class="text-uppercase font-comfortaa"> V čem se dá počítat? </h1>
</div>

  <table class="table">
    <thead>
      <th style="width: 40%"> Název </th>
      <th style="width: 20%"> Popis </th>
      <th style="width: 20%"> </th>
      <th style="width: 5%"> </th>
      <th></th>
      <th></th>
      {# <th></th> #}
    </thead>
    <tbody>
      {% for measurement in measurements %}
        {% set editing = (edit_id and measurement.id == edit_id | int) %}
        {{ editing }}

        {% include 'measurements/_measurement.html.j2' %}

        {% if editing %}
          {% include "measurements/_edit.html.j2"%}
        {% endif %}

      {% endfor %}
    </tbody>
  </table>
  
  {% include 'measurements/_add.html.j2' %}  

</div> 

{% endblock %}