{% extends "base/base.html.j2" %}

{% block links %}
    {{ super() }}
    {{ turbo() }}
{% endblock %}

{% block flashing %}
    {% include('base/_turbo_flashing.html.j2') %}
{% endblock %}

{% block title %}
    Measurements
{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="text-uppercase font-comfortaa">V čem se dá počítat?</h1>

      <ul class="list">
        <turbo-frame id="measurements">
          {% for measurement in measurements %}
            {% if measurement.id != edit_id %}
              {% include 'measurements/_measurement.html.j2' %}
            {% else %}
              {% include 'measurements/_edit.html.j2' %}
            {% endif %}
          {% endfor %}
        </turbo-stream>
      </ul>


      <form action="{{ url_for('MeasurementsView:post') }}" method="POST" id="measurement-create-form">
        {% include 'measurements/_add.html.j2' %}
      </form>

</div> 
{% endblock %}

