# SQLAlchemy database connection
# project uses pymysql connector for mysql databases 
LOCAL_DB_STRING="mysql+pymysql://username:password@localhost/ketocalc?charset=utf8mb4"

LOCAL_APP_STATE="development"

# pytest uses sqlite for db storage, can be changed in config.py for testing on mysql database
TESTING_SECRET_KEY="test_secret_key"
TESTING_APP_STATE="test"
TESTING_DB_STRING="sqlite://"
# LOCAL_TESTING_DB_STRING="mysql+pymysql://username:password@localhost/ketocalc_test?charset=utf8mb4"

# SMTP mail used for sending mail
MAIL_USERNAME="ketocalc@mail.com"
MAIL_PASSWORD="mail_password"

# recaptcha and google oauth settings
RECAPTCHA_SECRET="recapcha_secret"
GOOGLE_CLIENT_ID="somecode.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="secret"

OAUTHLIB_INSECURE_TRANSPORT=1
OAUTHLIB_RELAX_TOKEN_SCOPE=1

PASSWORD_VERSION="bcrypt"
PASSWORD_MIN_LENGTH=12

# Secret key used for generating apps secrets
SECRET_KEY="application_secret_key"