[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask-Security = "*"
Flask-Migrate = "*"
Flask-Classful = "*"
python-dotenv = "*"
email-validator = "*"
PyMySQL = "*"
flask-security-too = "*"

[dev-packages]

[requires]
python_version = "3.8"
