[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask-Security = "*"
Flask-Migrate = "*"
Flask-Classful = "*"
python-dotenv = "*"
email-validator = "*"
PyMySQL = "*"
gunicorn = "*"
Flask-BabelEx = "*"
Flask-Babel = "*"
cryptography = "*"
Turbo-Flask = "*"
Unidecode = "*"
turbo-flask = "*"
wtforms-sqlalchemy = "*"
flask-weasyprint = "*"
flask-security-too = "*"
bleach = "*"
flask-mail = "*"
icalendar = "*"
sentry-sdk = {extras = [ "sqlalchemy",]}

[dev-packages]
mypy = "*"
pytest-flask = "*"

[requires]
python_version = "3.9"
