[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# flask-classful = "~=0.14.2"
flask-classful = { git = "https://github.com/janpeterka/flask-classful.git", branch = "werkzeug-2.2" }
flask-dance = "*"
flask-dropzone = "*"
flask-mail = "~=0.9.1"
flask-migrate = "~=4.0.2"
flask-security-too = "*"
flask-weasyprint = "*"
wtforms-sqlalchemy = "*"
python-dotenv = "~=0.21.0"
email-validator = "*"
pymysql = "~=1.0.2"
gunicorn = "~=20.1.0"
gevent = "~=22.10.2"
# cryptography = "*"
unidecode = "~=1.3.6"
turbo-flask = "~=0.8.3"
weasyprint = "~=57.2"
icalendar =  "~=5.0.4"
sentry-sdk = {extras = [ "sqlalchemy",]}

[dev-packages]
mypy = "*"
pytest-flask = "~=1.2.0"
factory-boy = "~=3.2.1"
pytest-playwright = "~=0.3.0"
coverage = "~=7.0.5"
flake8 = "~=6.0.0"
black = "~=23.3"
flake8-pyproject = "~=1.2.2"

[requires]
python_version = "3.9"
