{% from "macros/render_field.html.j2" import render_field, render_floating_field %}

<div id="event-info">
<form method="POST" action="{{ url_for('EditEventView:post', event_id=event.id) }}">
    {{ form.csrf_token }}

    {{ render_floating_field(form.name) }}

    <div class="row mt-2">
        <div class="col-md-6 col-sm-12"> {{ render_floating_field(form.date_from) }} </div>
        <div class="col-md-6 col-sm-12"> {{ render_floating_field(form.date_to) }} </div>
    </div>
	
	{{ render_floating_field(form.people_count) }}

    {{ render_field(form.submit, value="Uložit změny") }}
</form>
</div>