## desktop
<input class="form-control rounded-field" type="search"
       name="search_box" id="search_box"
       placeholder="{% if suggestion %} hledej např. {{suggestion}} {% else %} vyhledávání {% endif %}"
       data-controller="form" data-form-target="autofocusable"
>
