{% from "macros/turbo.html.j2" import button_to %}

{% if ingredient.amount %}
    {% set amount = (ingredient.amount|float * recipe.portion_count|float) | round | int %}
{% endif %}

<tr id="ingredient-edit-{{ingredient.id}}">
    <td>
        {{ button_to(url_for('EditRecipeIngredientView:delete',
            recipe_id=recipe.id, ingredient_id=ingredient.id),
            class="btn color-white bg-color-secondary-action", method="DELETE", value="smazat") }}
    </td>
    <td colspan="3">
        <form action="{{ url_for('EditRecipeIngredientView:update', recipe_id=recipe.id, ingredient_id=ingredient.id) }}" method="post" class="row row-cols-auto g-3 align-items-center">
                <div class="col-12 col-md-3 form-floating">
                    <input id="ingredient-amount-{{ingredient.id}}" type="number" class="form-control" name="amount" step="1" min="0" value="{{ amount }}">
                    <label for="ingredient-amount-{{ingredient.id}}" class="ms-2">{{ ingredient.measurement.name }}</label>
                </div>
                <div class="el-switch col-12 col-md-3 mt-4 mb-4 mb-md-0 ms-3 ms-md-0">
                    <span class=""> měřená? </span>
                    <input id="ingredient-measured-{{ingredient.id}}" type="checkbox" name="is-measured" {% if ingredient.is_measured is true %}checked{% endif %}>
                    <label for="ingredient-measured-{{ingredient.id}}" class="el-switch-style" style="color: transparent;">.<label>
                </div>
                <div class="col-12 col-md-3 form-floating">
                    <input id="ingredient-comment-{{ingredient.id}}" type="text" class="form-control" name="comment" value="{% if ingredient.comment %}{{ ingredient.comment }}{% endif %}">
                    <label for="ingredient-comment-{{ingredient.id}}" class="ms-2"> komentář </label>
                </div>
                <div class="col-12 col-md-3 mt-2 pe-4 text-end">
                    <input type="submit" class=" btn color-white bg-color-secondary-action" value="uložit">
                </div>
        </form>
    </td>

</tr>
