{% from "macros/turbo.html.j2" import button_to %}

{% if ingredient.amount %}
    {% set amount = (ingredient.amount|float * recipe.portion_count|float) | round | int %}
{% endif %}

<tr id="ingredient-{{ingredient.id}}">

    <td class="align-middle"> {{ link_to(ingredient) }} </td>
    
    <td> 
        {% if not ingredient.is_measured %}
            <span class="fst-italic font-weight-light"> - </span>
    	{% elif ingredient.amount %}
        	{{ amount }}
            <span class="fst-italic font-weight-light">
                ({{ formatted_amount(ingredient.amount) }} {{ ingredient.measurement.name }} na porci)
            </span>
        {% endif %}
    </td>

    <td class="align-middle">
        <span class="fst-italic font-weight-light"> {{ ingredient.comment | default("", true) }} </span>
    </td>

    <td class="text-end me-3">
        {% if not editing %}
    	   {{ button_to(url_for('EditRecipeIngredientsView:show_edit', recipe_id=recipe.id, ingredient_id=ingredient.id), form_class=form_class, value="upravit", class="btn color-white bg-color-secondary-action") }}
        {% else %}
            {{ button_to(url_for('EditRecipeIngredientsView:hide_edit',
                        recipe_id=recipe.id, ingredient_id=ingredient.id),
                        class="btn color-white bg-color-secondary-action", value="zrušit") }}
    </td>
        {% endif %}
    </td>
</tr>