{% from "macros/turbo.html.j2" import button_to %}

{% if ingredient.amount %}
    {% set amount = (ingredient.amount * recipe.portion_count) | round(1) %}
{% endif %}

# set form = RecipeIngredientForm(obj=ingredient)

<tr id="ingredient-{{ingredient.id}}"
    class="color-transition"
    data-controller="{{ 'revealer' if highlighted_ingredient_id == ingredient.id }}" data-revealer->

    <td class="align-middle"> {{ link_to(ingredient) }} </td>
    
    <td >
        <form action="{{ url_for('EditRecipeIngredientView:update', recipe_id=recipe.id, ingredient_id=ingredient.id) }}" method="post" data-controller="form" data-action="change->form#submit keydown.enter->form#submit">
            {{ render_floating_field(form.amount, value=amount) }}
        </form>
        <span class="fst-italic font-weight-light">
            ({{ formatted_amount(ingredient.amount) }} {{ ingredient.measurement.name }} na porci)
        </span>
    </td>

    <td class="align-top">
        <form action="{{ url_for('EditRecipeIngredientView:update', recipe_id=recipe.id, ingredient_id=ingredient.id) }}" method="post" data-controller="form" data-action="change->form#submit keydown.enter->form#submit">
         {{ render_floating_field(form.comment) }}
        </form>
    </td>

    <td>
        {{ button_to(url_for('EditRecipeIngredientView:delete',
            recipe_id=recipe.id, ingredient_id=ingredient.id),
            class="btn color-white bg-color-secondary-action", value=icon("remove") ~ " smazat", confirmation="opravdu chceš smazat surovinu z receptu?") }}
    </td>
</tr>
