{% extends "base/base.html.j2" %}

{% block content %}
<h1>{{ _fsdomain('Nastavit heslo') }}</h1>

<form data-turbo='false' action="{{ url_for('UsersView:set_new_password') }}" method="POST" name="set_password_form" accept-charset="utf-8">
  {{ form.csrf_token }}

  <div class="form-group" data-controller="see-password" data-see-password-target="passwordDiv">
    {{ render_field(form.password, with_errors=True, label="Heslo", placeholder="***") }}
  </div>
  {{ render_field(form.submit) }}
</form>

{% endblock %}


