{% extends "base/base.html.j2" %}
{% block title %}
    {% if current_user.has_permission("manage-users") and user != current_user %}
        Profil [{{ user.id }} | {{ user.username }}]   
    {% else %}
        Profil
    {% endif %}
{% endblock %}

{% block script %}
    {{ stimulus("password-visibility") }}
{% endblock %}

{% block content %}

<div class="col-12">
    <form action="{{ url_for('UsersView:post') }}" class="form-group" method="post" accept-charset="utf-8">
        {{ user_form.csrf_token }}
        {# {% from "macros/_form_element.html.j2" import render_field %} #}
        <table class="table">
            <thead>
                <tr>
                    <th> přihlašovací e-mail </th>
                    <th> jméno </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{ user.email }}
                    </td>
                    <td>
                        {{ render_field(user_form.full_name, has_label=False) }}
                    </td>
                    <td>
                        {{ render_field(user_form.submit, class="btn bg-color-primary-action color-white", has_label=False, value="Uložit změnu") }}
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

<div>
    <a href="{{ url_for('UsersView:show') }}" class="btn bg-color-secondary-action color-white"> Zrušit úpravy </a>
</div>

{% endblock %}

