{% extends "base/base.html.j2" %}
{% block title %}
    Uživatel
{% endblock %}

{% block style %}{% endblock %}

{% block script %}
    {% include 'javascript/stimulus.js.html' %}
    {% include 'javascript/password_visibility_controller.js.html' %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-12">
            <form action="{{ url_for('UsersView:post_edit') }}" class="form-group" method="post" accept-charset="utf-8">
                {{ user_form.csrf_token }}
                {# {% from "macros/_form_element.html.j2" import render_field %} #}
                <table class="table">
                    <thead>
                        <tr>
                            <th>{{ texts.user.username }}</th>
                            <th>{{ texts.user.firstname }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                {{ user.name }}
                            </td>
                            <td>
                                {{ render_field(user_form.full_name, has_label=False) }}
                            </td>
                            <td>
                                {{ render_field(user_form.submit, class="btn btn-warning", has_label=False, value=texts.edit_confirm) }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>

            <form action="{{ url_for('UsersView:post_password_edit') }}" method="post">
                {{ password_form.csrf_token }}
                <table class="table">
                    <td>
                        <div class="form-group" data-controller="see-password" data-see-password-target="passwordDiv">
                            {{ render_field(password_form.password, has_label=False) }}
                        </div>
                    </td>
                    <td>
                        {{ render_field(password_form.submit, class="btn btn-warning float-right", value=texts.password_change) }}
                    </td>
                </table>
            </form>
        </div>

        <div>
            <a href="{{ url_for('UsersView:show') }}" class="btn btn-secondary">{{ texts.edit_cancel }} {{ icon("edit") }}</a>
        </div>
    </div>
{% endblock %}

