{% extends "base/base.html.j2" %}
{% block title %}
    {% if current_user.has_permission("manage-users") and user != current_user %}
        Profil [{{ user.id }} | {{ user.username }}]   
    {% else %}
        Profil
    {% endif %}
{% endblock %}

{% block script %}
    {{ stimulus('clipboard') }}
{% endblock %}

{% block content %}

<div>
    <table class="table">
        <tr>
            <th> {{ texts.user.username }} </th>
            <th> Jméno </th>
        </tr>
        <tr>
            <td> {{ user.email }} </td>
            <td> {{ user.full_name }} </td>
        </tr>
     </table>
</div>


{% if current_user.has_permission('see-debug')%}
<hr>
<div class="testing-field">
    
    {% if user.calendar_hash %}
    <div data-controller="clipboard" class="row row-cols-lg-auto g-3 align-items-center mb-2">
        <div class="col-10 me-3">
            <input type="text" name="" value="{{ url_for('UserCalendarsView:ical', calendar_hash=user.calendar_hash, _external=True) }}" readonly data-clipboard-target="source" class="form-control me-4">
        </div>
        <div class="col-4">
            <button data-action="click->clipboard#copy" class="btn btn-secondary col"> Zkopírovat adresu </button>
        </div>
    </div>
    <div class="col-4">
        <button data-action="click->clipboard#copy" class="btn bg-color-secondary-action color-white col-"> Zkopírovat adresu </button>
    </div>        
        {{ button_to(url_for('UserCalendarsView:create_calendar'),
           class="btn bg-color-secondary-action color-white", value="Přegenerovat adresu") }}
    {% else %}
        {{ button_to(url_for('UserCalendarsView:create_calendar'),
           class="btn bg-color-secondary-action color-white", value="Vygenerovat URL kalendáře") }}
    {% endif %}
</div>
<hr>
{% endif %}


{% if current_user.has_permission("manage-users") %}
    <div class="admin-field mb-2">
        <h3> Role </h3>
        <ul>
        {% for role in user.roles %}
            <li> {{ role.name }} ({{ role.permissions }}) </li>
        {% endfor %}
        </ul>
        <hr>
        {% for oauth in user.oauths %}
            <li> {{ oauth.provider }} </li>
        {% endfor %}
    </div>
{% endif %}


<div>
    <a href="{{ url_for('UsersView:edit') }}" class="btn bg-color-secondary-action color-white">{{ texts.edit }} {{ icon("edit") }}</a>
    {% if user.has_password %}
        <a href="{{ url_for_security('change_password') }}" class="btn bg-color-secondary-action color-white"> Změnit heslo {{ icon("edit") }}</a>
    {% else %}
        <a href="{{ url_for('UsersView:set_password') }}" class="btn bg-color-secondary-action color-white"> Nastavit heslo </a>
    {% endif %}
</div>

{#
{% if current_user.has_role("manage-application") %}
    <div class="admin-field">
        <a href="{{ url_for('RecipesView:make_all_public_for_user', user_id=user.id) }}" class="btn bg-color-secondary-action color-white">Zveřejnit všechny recepty uživatele</a>
    </div>
{% endif %}
#}

{% endblock %}

