{% extends "base/base.html.j2" %}
{% block title %} components {% endblock %}

{% block navbar %} {% endblock %}

{% block content %}
  <h1>Icons</h1>
  {{ icon("duplicate", value="dupl") }}
  <h1>Links</h1>
  {{ link("https://google.com", "google") }}
{% endblock %}



