{% extends "security/base.html" %}

{% block content %}

  <div data-controller="passwordless" class="text-center">
   <div class="form-floating mb-2">
      <input type="email" name="username" id="username-login" class="form-control" data-passwordless-target="username" data-action="click->passwordless#signIn" autocomplete="username webauthn">
      <label for="email">email</label>
    </div>

    <button class="btn bg-color-primary-action color-white" data-passwordless-target="passwordlessButton">
      přihlásit se
    </button>

    <div data-passwordless-target="debug"></div>

    <a href="{{ url_for('SupportView:passwordless_register') }}">registrace</a>
  </div>
  

{% endblock %}
