{% extends "security/base.html" %}

{% block content %}

  <div data-controller="passwordless" class="text-center mb-2">
      <div class="form-floating mb-2">
        <input type="email" name="username" id="username" class="form-control" data-passwordless-target="username" autocomplete="username">
        <label for="email">email</label>
      </div>

      <button class="btn bg-color-primary-action color-white" data-passwordless-target="passwordlessButton" data-action="passwordless#registerUser">
        registrovat se bez hesla
      </button>

  </div>

  <hr>

  <div data-controller="passwordless" class="text-center">
     <div class="form-floating mb-2">
        <input type="email" name="username" id="username" class="form-control" data-passwordless-target="username" autocomplete="username webauthn">
        <label for="email">email</label>
      </div>
    <button class="btn bg-color-primary-action color-white" data-passwordless-target="passwordlessButton" data-action="passwordless#signIn">
      přihlásit se bez hesla
    </button>

    <div data-passwordless-target="debug"></div>
  </div>


  

{% endblock %}
