{% extends "base/base.html.j2" %}
{% block title %} Zásady ochrany osobních údajů aplikace Skautská kuchařka {% endblock %}

{% block content %}

<div class="font-montserrat text-center">
    <h1 class="text-uppercase color-primary font-comfortaa-bb"> Zásady ochrany osobních údajů </h1>

    <h2 class="text-uppercase font-comfortaa-bb mt-3"> Jaké sbíráme osobní údaje? </h2>

    <h4 class="text-uppercase font-comfortaa-bb"> Můžeme sbírat následující typy osobních údajů: </h4>
    <ul class="list-undecorated mb-3">
        <li>Informace o počítači, jako je IP adresa zařízení</li>
        <li>Informace o návštěvách na stránce, včetně počtu zobrazení konkrétních stránek</li>
        <li>Informace, které zadáte při registraci do služby, jako je jméno a e-mailová adresa</li>
        <li>Informace, které vytvoříte v rámci používání aplikace</li>
        <li>Jakékoli další informace, které napíšete v rámci komunikace skrze <a href="mailto:obr+skautskakucharka@skaut.cz">e-mailovou adresu</a> podpory aplikace</li>
    </ul>

    <h2 class="text-uppercase font-comfortaa-bb"> K čemu používáme osobní údaje? </h2>
    <ul class="list-undecorated mb-3">
        <li>Administraci služby</li>
        <li>Personalizaci služby</li>
        <li>Umožnění používání služby</li>
        <li>Kontaktování Vás v případě problémů spojených s používáním služby</li>
        <li>Udržováním bezpečnosti služby</li>
    </ul>

    <p>Vaše data nezpřístupníme žádné třetí straně.</p>

    <h2 class="text-uppercase font-comfortaa-bb">Jsou moje údaje v bezpečí?</h2>
    <p>Uděláme, co je v našich silách, aby vaše data nebyla napadena, ukradena a nijak zneužita</p>

    <h2 class="text-uppercase font-comfortaa-bb">A když chci všechny údaje o mě smazat?</h2>
    <p>Máte právo žádat o smazání všech dat, či jejich části přes <a href="mailto:obr+skautskakucharka@skaut.cz">kontaktní e-mail</a></p>

</div>

{% endblock %}







