{% extends "base/base.html.j2" %}
{% block title %} zásady ochrany osobních údajů {% endblock %}

{% block content %}

<div class="font-montserrat text-center">
    <h1 class="color-primary font-comfortaa-bb"> zásady ochrany osobních údajů </h1>

    <h2 class="font-comfortaa-bb mt-3"> jaké sbíráme osobní údaje? </h2>

    <h4 class="font-comfortaa-bb"> můžeme sbírat následující typy osobních údajů: </h4>

    <ul class="list-undecorated mb-3">
        <li> informace o počítači, jako je IP adresa zařízení </li>
        <li> informace o návštěvách na stránce, včetně počtu zobrazení konkrétních stránek </li>
        <li> informace, které zadáte při registraci do služby, jako je jméno a e-mailová adresa </li>
        <li> informace, které vytvoříte v rámci používání aplikace </li>
        <li> jakékoli další informace, které napíšete v rámci komunikace skrze <a href="mailto:obr+skautskakucharka@skaut.cz">e-mailovou adresu</a> podpory aplikace </li>
    </ul>

    <h2 class="font-comfortaa-bb"> k čemu používáme osobní údaje? </h2>

    <ul class="list-undecorated mb-3">
        <li> umožnění používání služby </li>
        <li> administraci služby </li>
        <li> udržování bezpečnosti služby </li>
        <li> personalizaci služby </li>
        <li> kontaktování Vás v případě problémů spojených s používáním služby </li>
    </ul>

    <p> vaše data nezpřístupníme žádné třetí straně. </p>

    <h2 class="font-comfortaa-bb"> jsou moje údaje v bezpečí? </h2>
    <p> uděláme, co je v našich silách, aby vaše data nebyla napadena, ukradena a nijak zneužita</p>

    <h2 class="font-comfortaa-bb"> a když chci všechny údaje o mě smazat? </h2>
    <p> máte právo žádat o smazání všech dat, či jejich části přes <a href="mailto:obr+skautskakucharka@skaut.cz"><strong>kontaktní e-mail</strong></a> </p>

</div>

{% endblock %}







