{% extends "base/base.html.j2" %}
{% block title %} podmínky použití {% endblock %}

{% block content %}

<div class="font-montserrat text-center">
	<h1 class="color-primary font-comfortaa-bb"> podmínky použití</h1>
    <ul class="list-undecorated">
        <li> jakákoli část služby může být bez předchozího upozornění změněna. pokud upravuje nakládání s osobními údaji, budou uživatelé na tento fakt upozorněni </li>
        <li> nezaručujeme, že vaše data nebudou smazána či upravena kvůli technickým problémům či chybám v aplikaci </li>
        <li> nezaručujeme přesnost výpočtů vzniklých pomocí naší služby </li>
    </ul>
</div>

{% endblock %}







