{% extends "base/base.html.j2" %}
{% block title %} podmínky použití {% endblock %}

{% block content %}

<div class="font-montserrat text-center">
	<h1 class="color-primary font-comfortaa-bb"> podmínky použití</h1>

    <p> aplikace vzniká ve volném čase, bez jakýchkoli financí, je tedy těžké cokoli zaručit. proto platí, že: </p>

    <p>
        <strong>jakákoli část Kuchařky může být bez předchozího upozornění změněna</strong><br>
        snažím se kuchařku postupně zlepšovat, to může obsahovat i mazání funkcí, které už nedávají smysl.<br>
        <strong>pokud změna upravuje nakládání s osobními údaji, budou uživatelé na tento fakt upozorněni </strong>
    </p>

    <p>
        <strong>nezaručuji, že vaše data nebudou smazána či upravena kvůli technickým problémům či chybám v aplikaci</strong> <br>
        samozřejmě se snažím aby se to nestalo - databázi pravidelně zálohujeme, dbáme na bezpečnost. ale zaručit to nemůžu.
    </p>

    <p>
        <strong>nezaručuji přesnost výpočtů vzniklých pomocí Kuchařky</strong><br>
        chybovat je lidské. i mě se může stát, že někde v kódu udělám chybu a něco se bude počítat špatně. zároveň vím jak je důležité, aby se to nedělo - nechci aby někdo uprostřed tábora zjistil, že mu chybí 30kg cibule nebo přebývá 120 pórků.
    </p>

</div>

{% endblock %}







