{% extends "base/base.html.j2" %}
{% block title %} Podmínky použití aplikace Skautská kuchařka {% endblock %}

{% block content %}

<div class="font-montserrat">
	<h1 class="text-uppercase color-blue font-comfortaa-bb">Podmínky použití</h1>
    <ul>
        <li>Jakákoli část služby může být bez předchozího upozornění změněna. Pokud upravuje nakládání s osobními údaji, budou uživatelé na tento fakt upozorněni</li>
        <li>Nezaručujeme, že vaše data nebudou smazána či upravena kvůli technickým problémům či chybám v aplikaci</li>
        <li>Nezaručujeme přesnost výpočtů vzniklých pomocí naší služby</li>
    </ul>
</div>

{% endblock %}







