<turbo-frame id="tasks">

{% include "recipes/_draft_recipes.html.j2" %}
{% include "recipes/_recipes_without_category.html.j2" %}
{% include "ingredients/_recipes_with_zero_amount_ingredient.html.j2" %}
{% include "ingredients/_ingredients_without_category.html.j2" %}
{% include "ingredients/_ingredients_without_measurement.html.j2" %}

</turbo-frame>