<turbo-frame id="tasks">

{% if not current_user.full_name %}
    <div id="ingredients-without-category" class="mt-3 col-12 ps-5 pe-5">
        <div class="container p-3 bg-color-secondary dashboard-badge">
            <a data-turbo="false" href="{{ url_for('UsersView:edit') }}" class="text-uppercase  font-comfortaa font-weight-bold"> Přidat uživatelské jméno </a>
        </div>
    </div>
{% endif %}

{% include "recipes/_draft_recipes.html.j2" %}
{% include "recipes/_recipes_without_category.html.j2" %}
{% include "ingredients/_recipes_with_zero_amount_ingredient.html.j2" %}
{% include "ingredients/_ingredients_without_category.html.j2" %}
{% include "ingredients/_ingredients_without_measurement.html.j2" %}

</turbo-frame>