{% extends "base/base.html.j2" %}

{% block title %}
    Vítejte {{ current_user.email }}
{% endblock %}

{% block script %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-6">
        <div>
            <h4 class="text-uppercase font-comfortaa">Seznam receptů:</h4>
            {{ list_of_links(current_user.visible_recipes) }}
            {% if current_user.draft_recipes %}              
                <h4 class="text-uppercase font-comfortaa">Seznam rozdělaných receptů:</h4>
                {{ list_of_links(current_user.draft_recipes) }}
            {% endif %}
        </div>
    </div>

    <div class="col-sm-12 col-md-6">
        <h4 class="text-uppercase font-comfortaa">Seznam surovin:</h4>
        {{ list_of_links(current_user.ingredients) }}
    </div>
</div>
{% endblock %}
