{% extends "base/base.html.j2" %}
{% block title %} Vítejte {{ current_user.email }} {% endblock %}

{% block links %}
    {{ super() }}
    {{ turbo() }}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-12 col-md-6">
        <h4 class="text-uppercase font-comfortaa">Rychlé akce</h4>
        
        <hr>
        
        <div class="mb-3"><a href="{{url_for('RecipesView:new')}}" class="text-uppercase font-comfortaa">Přidat nový recept</a></div>

        <hr>

        <details>
            <summary class="text-uppercase font-comfortaa">Další rychlé akce</summary>
            <div class="ml-4">
                
            <turbo-frame id="draft-recipes" src="{{ url_for('UsersView:draft_recipes') }}">
            </turbo-frame>

            <turbo-frame id="ingredients-without-category" src="{{ url_for('UsersView:ingredients_without_category') }}">
            </turbo-frame>
            
            <turbo-frame id="ingredients-without-measurement" src="{{ url_for('UsersView:ingredients_without_measurement') }}">
            </turbo-frame>
            
            <turbo-frame id="recipes-without-category" src="{{ url_for('UsersView:recipes_without_category') }}">
            </turbo-frame>
            </div>
        </details>


    </div>

    <div class="col-sm-12 col-md-6">
        <h4 class="text-uppercase font-comfortaa">Moje</h4>

        <hr>

        <details open>
            <summary class="text-uppercase font-comfortaa"> Akce </summary>
            {{ list_of_links(current_user.events) }}
        </details>
        
        <details>
            <summary class="text-uppercase font-comfortaa"> Recepty </summary>
            {{ list_of_links(current_user.visible_recipes) }}
        </details>
            
        {% if current_user.draft_recipes %}              
        <details>
            <summary class="text-uppercase font-comfortaa"> Rozdělané recepty </summary>
            {{ list_of_links(current_user.draft_recipes) }}
        </details>
        {% endif %}

        <details>
            <summary class="text-uppercase font-comfortaa"> Suroviny </summary>
            {{ list_of_links(ingredients) }}
        </details>
    </div>
</div>

{% endblock %}
