{% extends "base/base.html.j2" %}
{% block title %} navařit {% endblock %}

{% block content %}

<h1 class="mb-3 font-comfortaa text-center"> vítej! </h1>

<hr>
        
<div class="row mb-5" data-controller="clicker" data-clicker-target="area" >
    <div class="col-12 col-md-4 text-center mb-2 mb-md-0 clickable" data-action="click->clicker#activateLink">
        <div class="container bg-color-secondary p-3 dashboard-badge" >
        {% if current_user.all_closest_future_event %}
            podívej se na svou nejbližší akci - {{ link_to(current_user.all_closest_future_event) }}
        {% else %}
            založ <a href="{{url_for('EventView:new')}}"> novou událost </a>
        {% endif %}
        </div>
    </div>

    <div class="col-12 col-md-4 text-center mb-2 mb-md-0 clickable">
        <div class="container bg-color-secondary p-3 dashboard-badge" data-action="click->clicker#activateLink">
            inspiruj se v <a href="{{ url_for('PublicRecipeView:index') }}"> databázi receptů </a>
        </div>
    </div>
    
    <div class="col-12 col-md-4 text-center mb-2 mb-md-0 clickable">
        <div class="container bg-color-secondary p-3 dashboard-badge" data-action="click->clicker#activateLink">
            přidej <a href="{{url_for('RecipeView:new')}}"> nový recept </a>
        </div>
    </div>
</div>    


{#
<div class="row mt-4 text-center bg-color-light-green p-3" id="current" style="border-radius: 1.5rem;">
    <h5> Aktuální </h5>
    <hr>
    <turbo-frame id="current" src="{{ url_for('DashboardView:current') }}" loading="lazy" class="row">
        {{ loader() }}
    </turbo-frame>
</div>

<hr>
#}


<h2 class="font-comfortaa text-center"> k vyřešení </h2>
<hr>
<div class="mt-4 text-center" style="border-radius: 1.5rem;">

    <turbo-frame id="tasks" src="{{ url_for('DashboardView:tasks') }}" loading="lazy" target="_top">
        {{ loader() }}
    </turbo-frame>

</div>

{% endblock %}
