{% extends "base/base.html.j2" %}
{% block title %} Něco se nepovedlo {% endblock %}

{% block content %}
    <div class="container text-center font-montserrat">
		<h1 class="mt-2 text-uppercase color-blue font-comfortaa-bb">Něco se nepovedlo.</h1>
		<p>
			Chyba byla nahlášena na vyšší místa a pracujeme na její nápravě.<br>
        	Zatím se můžete vrátit na <a href="{{ url_for('IndexView:index') }}">hlavní stránku</a>
        </p>
    </div>
{% endblock %}

