{% extends "base/base.html.j2" %}
{% block title %} něco se nepovedlo {% endblock %}

{% block content %}
    <div class="container text-center font-montserrat">
		<h1 class="mt-2 text-uppercase color-primary font-comfortaa-bb"> něco se nepovedlo. </h1>
		<p>
			chyba byla nahlášena na vyšší místa a pracujeme na její nápravě. <br>
        	zatím se můžeš vrátit na <a href="{{ url_for('IndexView:index') }}">hlavní stránku</a>
        </p>
    </div>
{% endblock %}

