{% extends "security/base.html" %}



{% block content %}

{% include "security/_messages.html" %}
<h1>{{ _fsdomain('Změnit heslo') }}</h1>
<form data-turbo='false' action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
  {{ change_password_form.hidden_tag() }}
  <!-- <div class="form-group" data-controller="see-password" data-see-password-target="passwordDiv"> -->
    {{ render_field(change_password_form.password, with_errors=True, label="Heslo", placeholder="***") }}
  <!-- </div> -->
  {{ render_field(change_password_form.new_password, with_errors=True, label="Nové heslo", placeholder="***") }}
  {{ render_field(change_password_form.new_password_confirm, with_errors=True, label="Nové heslo znovu", placeholder="***") }}
  {{ render_field(change_password_form.submit, value="Změnit heslo") }}
</form>

{% endblock %}


    {% include 'javascript/stimulus.js.html' %}
    {% include 'javascript/password_visibility_controller.js.html' %}