{% extends "security/base.html" %}

{% block content %}
<h1 class="text-center font-comfortaa text-uppercase"> {{ _('Přihlásit se') }} </h1>
<form action="{{ url_for_security('login') }}" class="form-control" method="POST" name="login_user_form" data-turbo="false">
  {{ login_user_form.hidden_tag() }}

  {{ render_field(login_user_form.email, label="Přihlašovací e-mail", placeholder="", with_errors=True) }}
  {{ render_field(login_user_form.password, label="Heslo", placeholder="***") }}
  {{ render_field(login_user_form.remember, label="Pamatovat si", with_errors=False) }}
  {{ render_field(login_user_form.submit, value="Přihlásit se") }}
  
  <a class="mt-2 float-end" href="{{ url_for_security('forgot_password')}}">Zapomněli jste heslo?</a>
</form>

{% endblock %}