{% extends "security/base.html" %}
<!-- {% from "macros/render_field.html.j2" import render_field %} -->

{% block content %}
<h1 class="text-center font-comfortaa text-uppercase">{{ _('zaregistrovat se') }}</h1>
<form action="{{ url_for_security('register') }}" class="form-control" method="POST" name="register_user_form" data-turbo="false">
  {{ register_user_form.hidden_tag() }}

  {% if config.FF_GOOGLE_OAUTH %}
  <div class="text-center mt-2"> 
    <a class="no-decoration" href="{{ url_for('google.login') }}">
      <button type="button" class="btn btn-social btn-google loginBtn--google loginBtn">
          <span class="fab fa-google"></span> registrovat se pomocí Google
      </button>
    </a>
  </div>

  <hr>
  <div class="smaller text-center color-grey mb-1"> nebo </div>
  {% endif %}
  
  <div>  

    {{ render_floating_field(register_user_form.email, label="přihlašovací e-mail", placeholder="", class="mb-2") }}
    
    <div class="row">
      <div class="col-6">
        {{ render_floating_field(register_user_form.password, label="heslo", placeholder="") }}
      </div>
      
      {% if register_user_form.password_confirm %}
      <div class="col-6">
        {{ render_floating_field(register_user_form.password_confirm, label="heslo znovu", placeholder="") }}
      </div>
      {% endif %}
    
    </div>
    
    <div class="text-center mt-3">
      {{ render_field(register_user_form.submit, value="registrovat", class="p-2 ps-4 pe-4") }}
    </div>
  
  </div>
</form>
{% endblock %}