<tr id="ingredient-{{ ingredient.id }}">

    <td>{{ link_to(ingredient) }}</td> 

    <td><input class="form-control" type="number" name="amount" placeholder="{{ ingredient.measurement.name }}" /></td>
    <td>{{ ingredient.measurement.name }}</td>

    <td>
        <form method="POST" action="{{ url_for('RecipesView:remove_ingredient', ingredient_id=ingredient.id, recipe_id=recipe.id) }}">
            <button type="submit" class="destroy icon">&#10005;</button>
        </form>
    </td>
</tr>