{% extends "base/base.html.j2" %}
{% block title %} Kuchařské tipy a triky {% endblock %}

{% block content %}

<div class="font-montserrat ">
	<h1 class="text-uppercase text-center color-primary font-comfortaa-bb mb-3"> Tipy a triky </h1>
    {# <hr> #}
    
    <h2 class="text-uppercase color-primary font-comfortaa-bb"> Množství surovin </h2>
    
    <table class="table">
        <thead>
            <th> Co </th>
            <th> Kolik </th>
        </thead>
        <tbody>
            <tr>
                <td> Těstoviny (suché) </td>
                <td> ~ 100g jako hlavní, ~70g jako příloha </td>
            </tr>
            <tr>
                <td> Rýže (suchá) </td>
                <td> ~ 100g jako hlavní, ~70g jako příloha </td>
            </tr>
            <tr>
                <td> Brambory </td>
                <td> ~ 250-300g jako hlavní, ~150g jako příloha </td>
            </tr>
        </tbody>
    </table>
    <h3 class="text-uppercase color-primary font-comfortaa-bb"> Zdroje pro inspiraci </h3>
    <div class="mb-2">
    <a href="https://docs.google.com/document/d/1YKm31Gvgaz7rew0mOeaXhX6wD1erBIapd118OzzmAGs/edit?fbclid=IwAR0IuuVWHzteEyqxA8kGgleI7BVt9u1WsdMLzOJkC3vpDRCi9zPPaKuQTZs#heading=h.777dlp6jb1yy"> Kuchyně ČLK Hrádek </a> (díky Barbora Trojak) <br>
    <a href="https://docs.google.com/document/d/12wiyv8-8510Gn7dFCJe3bCWFvOfL8yVDdJQH5Cb9lFg/edit?fbclid=IwAR0xjl9CdYBS1rDRVOTkiL28zP7zZx5rjS6DMwWnrip7EHlrxog0vD867zY">Kuchařka osvědčených receptů na Brontosauřích akcích </a> (díky Eva Pavlíková) <br>
    <a href="https://docs.google.com/document/d/1ovGKm99X98W6NDCf4L3Czaxl7kvTVVmp-OhianCZd50/edit?fbclid=IwAR0CU-LW1x0JXxmnAH6Js8ixG3vnPYEDEYJofP0mU9AKnULmq63XbSJ6eeo"> Inspirace pro vaření na táboře </a> (díky Richard Dobřichovský) <br>
    </div>

    <h3 class="text-uppercase color-primary font-comfortaa-bb"> Další tipy a triky </h3>
    <ul>
        <li>Aby se mezi potraviny nenastěhovali mravenci, vložíme mezi ně nakrájený citrón.</li>
        <li>Jídlo uchováme déle teplé, když nádobu po sejmutí z ohně i s pokličkou zabalíme do utěrky a do peřin.</li>
        <li>Pokud přepepříme nějaký pokrm, stačí nakrájet dvě jablka na větší kousky, vložit je do jídla a krátce povařit. Ostrost jídla se tím zmírní.</li>
        <li>Přesolená zelenina: do přesolené zeleniny přidáme žloutek rozšlehaný ve smetaně nebo mléce.</li>
    </ul>

    <h3 class="text-uppercase color-primary font-comfortaa-bb"> Tipy od vás </h3>
    <ul>
        {% for tip in tips %}
            <li> {{tip.description}} <em>(přidal*a {{ tip.author.full_name }})</em></li>
        {% endfor %}
    </ul>


    {% if current_user.is_authenticated %}
    <div class="mt-4">
        <hr>
        <h3 class="font-comfortaa text-uppercase">Přidat vlastní tip</h3>
        <form action="{{ url_for('TipsView:add_tip') }}" method="POST" class="form">
            <textarea name="description" class="form-control mb-2"></textarea>
            <button type="submit" class="btn bg-color-primary-action color-white">Přidat</button>
        </form>
    </div>
    {% endif %}


</div>

{% endblock %}







