{% extends "base/base.html.j2" %}
{% block title %} tipy - admin {% endblock %}

{% block content %}

<div class="text-center">
  <h1 class="text-uppercase font-comfortaa"> tipy ke schválení</h1>

    <turbo-frame id="unapproved-tips">
    <ul class="list">
        {% for tip in unapproved_tips %}
            {% include 'tips/_tip.html.j2' %}
        {% endfor %}
    </ul>
    </turbo-stream>

  <div class="mt-5">
  <details>
    <summary>
      schválené tipy
    </summary>

    <turbo-frame id="approved-tips">
    <ul class="list">
        {% for tip in approved_tips %}
            {% include 'tips/_tip.html.j2' %}
        {% endfor %}
    </ul> 
    </turbo-stream>
  </details>
  </div>

  <div class="mt-5">
  <details>
    <summary>
      zamítnuté tipy
    </summary>

    <turbo-frame id="disapproved-tips">
    <ul class="list">
        {% for tip in disapproved_tips %}
            {% include 'tips/_tip.html.j2' %}
        {% endfor %}
    </ul> 
    </turbo-stream>
  </details>
  </div>


</div>

{% endblock %}

