{% extends "base/base.html.j2" %}
{% block title %}
    Admin - Sdílené suroviny	
{% endblock %}

{% block style %}{% endblock %}

{% block script %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-12">
            {% if current_user.is_admin %}
                {# {% include "admin/ingredients/_ingredients_to_approve.html.j2" %} #}
            {% endif %}

            {% include "ingredients/_public_ingredients.html.j2" %}
        </div> 
    </div>
{% endblock %}

