{% from "macros/general.html.j2" import option, options %}

<optgroup label="moje recepty">
    {{ options(current_user.visible_recipes) }}
</optgroup>
<optgroup label="veřejné recepty">
    {{ options(public_recipes) }}
</optgroup>