{% if not day.is_active %}
	{% set color = "light-grey" %}
{% elif day.weekday in ["neděle"]  %}
	{% set color = "secondary-highlighted" %}
{% else %}
	{% set color = "secondary" %}
{% endif %}

{% if not day.is_active %}
	{% set class = "opacity-50 d-none d-md-inline-block cursor-default" %}
{% elif day.is_active %}
	{% set class = "clickable" %}
{% endif %}

<div
	{% if day.is_active %} data-action="click->clicker#activateLink" {% endif %}
	class="col-12 col-md p-2 mb-2 mb-md-3 ms-2 me-2 bg-color-{{ color }} rounded text-center text-nobreak {{ class }} lh-2 text-truncate">
	<div>
		{{ link_to(day) }}
	</div>

	{% if day.is_active %}
		
		<hr class="mt-1">

		{% for daily_recipe in day.daily_recipes %}
		<div class="text-truncate">
			{% if not daily_recipe.recipe.is_shopping %}
				{{ link_to(daily_recipe.recipe, portion_count=daily_recipe.portion_count) }}
			{% else %}
				<span class="color-grey"> nákup </span>
			{% endif %}
		</div>
		{% endfor %}
	
	{% endif %}

	{% if day.all_tasks %}
			<hr>
	    {% for task in day.all_tasks %}
	        {{ task }} <br>
	    {% endfor %}
	{% endif %}

</div>