{% from "macros/icons.html.j2" import icon %}
{% from "macros/turbo.html.j2" import button_to %}

<tr id="daily-recipe-edit-{{ daily_recipe.id }}">
	<td>
        {% if daily_plan.can_current_user_edit %}
        <form method="POST" class="text-start me-3" action="{{ url_for('DailyPlansEditView:remove_daily_recipe', daily_recipe_id=daily_recipe.id) }}">
            {# <button type="submit" class="destroy icon"></button> #}
            <button type="submit" class="btn bg-color-secondary-action color-white"> Smazat </button>
        </form>
        {% endif %}
	</td>

    <td colspan="4">
        {% if not daily_recipe.is_shopping %}
            {% if daily_plan.can_current_user_edit %}
                <form method="POST" class="row row-cols-auto g-3 align-items-center" action="{{ url_for('DailyPlansEditView:edit_daily_recipe', daily_recipe_id=daily_recipe.id) }}">
                    <div class="col-4">
	                    <select name="meal-type" id="meal-type" class="form-control">
	                        <option disabled {% if not daily_recipe.meal_type %}selected{% endif %} value> Typ jídla: </option>
	                    	{% for option in ["snídaně", "dopolední svačina", "oběd", "odpolední svačina", "večeře", "programové", "jiné"] %}
	                        	<option name='{{ option }}' value='{{ option }}' {% if daily_recipe.meal_type==option %}selected{% endif %}> {{ option | capitalize}} </option>
	                    	{% endfor %}
	                    </select>
                    </div>
                    <div class="col-4">
                    	<input type="number" class="form-control" name="portion-count" value="{{ daily_recipe.portion_count}}" placeholder="Počet porcí" required>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-3 text-end pe-4">
                    	<button type="submit" class="btn bg-color-secondary-action"> Uložit změny </button>
                    </div>
                </form>
            {% endif %}
        {% endif %}
    </td>
</tr>