{% from "macros/icons.html.j2" import icon %}

<tr id="daily-recipe-{{ daily_recipe.id }}">
    <td>
        {{ link_to(daily_recipe.recipe) }}
    	{% if not daily_recipe.recipe.is_current_user_author %} {{ icon("public") }} {% endif %}
	</td>
    <td>
        <form method="POST" class="text-right mr-3" action="{{ url_for('DailyPlansView:remove_daily_recipe', daily_recipe_id=daily_recipe.id) }}">
            <button type="submit" class="destroy icon"> {{ icon("remove") }} </button>
        </form>
    </td>
</tr>