{% from "macros/turbo.html.j2" import button_to %}

# set changed = highlighted_recipe_id == daily_recipe.recipe.id

<li id="daily-recipe-{{ daily_recipe.id }}"
    ## {% if daily_recipe.is_shopping %} class="bg-color-ligh-grey opacity-50" {% endif %}
    class="row" style="line-height: 2.5rem;"
    data-sortable-update-url={{ url_for("DailyPlanRecipeView:sort", daily_recipe_id=daily_recipe.id) }}>

    <span class="col-4 text-truncate">
        <svg class="handle inline cursor-movable" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" style="height: 1rem;">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 8h16M4 16h16"></path>
        </svg>

        {% if not daily_recipe.is_shopping %}
            {{ link_to(daily_recipe.recipe, portion_count=daily_recipe.portion_count, turbo=False) }}
        {% else %}
            {{ daily_recipe.recipe.name }}
        {% endif %}

        {% if daily_recipe.is_shopping %}
            {{ icon("shopping") }}
        {% elif daily_recipe.recipe.is_shared and daily_recipe.recipe.author != current_user %}
            {{ icon("public", tooltip="z veřejné databáze receptů") }}
        {% endif %}
    </span>

    {% if daily_recipe.is_shopping %}
        <span class="col-5"> <em>do nákupu se zařadí všechny recepty pod ním</em> </span>
    {% else %}
        <span class="col-3">
            {% if daily_recipe.can_current_user_edit %}
                <form method="POST" action="{{ url_for('DailyPlanRecipeView:update', daily_recipe_id=daily_recipe.id) }}" data-controller="form" data-form-auto-submit-value="true">
                    <select name="meal-type" id="meal-type" class="form-control">
                        <option disabled {% if not daily_recipe.meal_type %}selected{% endif %} value>  </option>
                        {% for option in ["snídaně", "dopolední svačina", "oběd", "odpolední svačina", "večeře", "programové", "jiné"] %}
                            <option name='{{ option }}' value='{{ option }}' {% if daily_recipe.meal_type==option %}selected{% endif %}> {{ option }} </option>
                        {% endfor %}
                    </select>
                </form>
            {% else %}
                <em> {{ daily_recipe.meal_type or "" }} </em>
            {% endif %}
        </span>

        <span class="col-2">
            {% if daily_recipe.can_current_user_edit %}
                <form method="POST" action="{{ url_for('DailyPlanRecipeView:update', daily_recipe_id=daily_recipe.id) }}" data-controller="form" data-form-auto-submit-value="true">
                    <input type="number" step="0.1" class="form-control" name="portion-count" value="{{ daily_recipe.portion_count}}" placeholder="počet porcí" required>
                </form>
            {% else %}
                <em> {{ daily_recipe.portion_count }} </em>
            {% endif %}
        </span>
    {% endif %}

    <span class="col">
        {% if daily_plan.can_current_user_edit %}
            # if daily_recipe.is_shopping
                # set confirm_message = "opravdu chceš smazat nákup?"
            # else
                # set confirm_message = "opravdu chceš smazat " ~ daily_recipe.recipe.name ~ " z jídelníčku?"
            # endif
            {{ button_to(url_for('DailyPlanRecipeView:remove_daily_recipe', daily_recipe_id=daily_recipe.id), icon=True, value=icon("remove", cursor_class="cursor-clickable"), class="fs-5 text-danger align-top mt-0 pt-0", form_class="me-2 float-start", confirmation=confirm_message) }}
        {% endif %}

        <span class="float-start text-success d-none" data-controller="{{ 'class-change' if changed }}" data-class-change-removed-class="d-none">{{ icon("check") }} upraveno</span>

    </span>

</li>
