{% from "macros/icons.html.j2" import icon %}
{% from "macros/turbo.html.j2" import button_to %}

<tr id="daily-recipe-{{ daily_recipe.id }}"
    {% if daily_recipe.is_shopping %} class="bg-color-ligh-grey opacity-50" {% endif %}
    class="align-middle" style="line-height: 2.5rem;">

    <td>
        {% if not daily_recipe.is_shopping %}
            <a href="{{ url_for('RecipeView:show', id=daily_recipe.recipe.id, portion_count=daily_recipe.portion_count) }}"> {{ daily_recipe.recipe.name }} </a>
        {% else %}
            {{ daily_recipe.recipe.name }}
        {% endif %}

        {% if daily_recipe.is_shopping %}
            {{ icon("shopping") }}
        {% elif  daily_recipe.recipe.is_shared %}
    	    {{ icon("public") }}
        {% endif %}
	</td>

    <td>
        {% if not daily_recipe.is_shopping %}
        <em> {{ daily_recipe.meal_type or "" }} </em>
        {% endif %}
    </td>

    <td>
        {% if not daily_recipe.is_shopping %}
            <em> {{ daily_recipe.portion_count }} </em>
        {% endif %}
    </td>

    <td >
        {% if daily_plan.can_current_user_edit %}
        {{ button_to(url_for('DailyPlansEditView:sort_up', daily_recipe_id=daily_recipe.id), class="icon float-start", value='<i class="fas fa-sort-up"></i>') }}
        {{ button_to(url_for('DailyPlansEditView:sort_down', daily_recipe_id=daily_recipe.id), class="icon float-end", value='<i class="fas fa-sort-down"></i>') }}
        {% endif %}
    </td>

    <td class="ps-5">
        {% if daily_plan.can_current_user_edit %}
            {% if daily_recipe.is_shopping %}
                <form method="POST" class="text-end me-3" action="{{ url_for('DailyPlansEditView:remove_daily_recipe', daily_recipe_id=daily_recipe.id) }}">
                    <button type="submit" class="btn color-white bg-color-secondary-action w-100"> smazat </button>
                </form>
            {% else %}
                {% if not editing %}
                <div class="row">
                    <div class="col-9">
                    <form method="POST" class="text-end" action="{{ url_for('DailyPlansEditView:show_edit_daily_recipe', daily_recipe_id=daily_recipe.id) }}">
                        <button type="submit" class="btn color-white bg-color-secondary-action w-100"> upravit </button>
                    </form>
                    </div>

                    <div class="col-1 pe-2 me-2">
                        {{ button_to(url_for('DailyPlansEditView:remove_daily_recipe', daily_recipe_id=daily_recipe.id), icon=True, value="&times", form_class="me-2", style="font-size:2rem; color:red;", confirmation="opravdu chcete smazat recept z jídelníčku?") }}
                    </div>
                </div>
                {% else %}
                    <form method="POST" class="text-end me-3" action="{{ url_for('DailyPlansEditView:hide_edit_daily_recipe', daily_recipe_id=daily_recipe.id) }}">
                        <button type="submit" class="btn color-white bg-color-secondary-action w-100"> zrušit </button>
                    </form>
                {% endif %}
            {% endif %}
        {% endif %}
    </td>

</tr>
