<turbo-frame id="daily-plan-{{daily_plan.id}}-recipes" target="container">
  <ul class="mb-2">
    <li class="row align-middle fs-4">
      <span class="col-4"> <strong>jméno</strong> </span>
      <span class="col-3"> <strong>typ jídla</strong> </span>
      <span class="col"> <strong>počet porcí</strong> </span>
      <span class="col"> </span>
    </li>
  </ul>

  <ul data-controller="sortable" data-sortable-handle-value=".handle">
    # for daily_recipe in daily_recipes
      {% include "daily_plans/_recipe_row.html.j2" %}
    # endfor
  </ul>

  <ul>
    <li class="row mt-3">
      <span class="col-4">
        {{ button_to(url_for('DailyPlanRecipeView:add_shopping', daily_plan_id=daily_plan.id), class="btn bg-color-secondary-action color-white", form_class="mt-2 mb-2 ms-2", value="přidat nákup "~icon("shopping")) }}
      </span>

      <span class="col-6 mt-2" data-controller="enable-select2">
        <form class="form" action="{{ url_for('DailyPlanRecipeView:add_recipe', daily_plan_id=daily_plan.id) }}" method="post">
            <div class="row">
                <div class="col-8">
                    <select name="recipe_id" id="recipe_select" class="form-control" data-enable-select2-target="select">
                        {% include "daily_plans/_add_recipe_form_options.html.j2" %}
                    </select>
                </div>
                <div class="col">
                    <input type="submit" class="form-control btn bg-color-primary-action color-white" value="přidat recept">
                </div>
            </div>
        </form>
      </span>
    </li>
  </ul>

</turbo-frame>
