<turbo-frame id="daily-plan-{{daily_plan.id}}-tasks">

<turbo-frame id="new-daily-plan-task">
    <h3> úkoly na tento den
    <a href="{{ url_for('DailyPlanTaskView:new', daily_plan_id=daily_plan.id) }}" class="d-print-none"> {{ icon("add") }} </a>
    </h3>
</turbo-frame>

{% if daily_plan.all_tasks %}
    <table class="table">
    {% for task in daily_plan.all_tasks %}
        <tr>
            <td> {{ task.name }} </td>
            <td> {{ task.description }} </td>
            {% if task.recipe %}
                <td colspan="2">
                    # set days = task.days_before_cooking
                    ({{ task.recipe.name }} za {{ days }} {{ inflect("den", days) }})
                </td>
            {% else %}
                <td> {{ link_to_edit(task, value=icon("edit"), data={"turbo-frame": "_top"}) }} </td>
                <td> {{ button_to(url_for('DailyPlanTaskView:delete',id=task.id), icon=True, value=icon("remove"), form_class="me-2", style="font-size:2rem; color:red;", confirmation="opravdu chcete smazat úkol?", data={"turbo-frame": "_top"}) }} </td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
{% else %}
    <div class="alert alert-secondary text-center"> den nemá úkoly </div>
{% endif %}
