{% extends "base/base.html.j2" %}
{% block title %} Denní přehled {% endblock %}

{% block content %}

<div data-controller="daily-plan">
    <div class="text-center">
{#         <span class="float-left" style="margin-left: 10rem">
            <a href="{{ url_for('DailyPlansView:show_by_date', date=dates['previous']) }}">
            {{ human_format_date(dates["previous"]) }}
            </a>
        </span> #}
        <span style="font-size: 2rem">
            {{ human_format_date(dates["active"], with_relative=False) }}
        </span>
{#         <span class="float-right" style="margin-right: 10rem">
            <a href="{{ url_for('DailyPlansView:show_by_date', date=dates['next']) }}">
            {{ human_format_date(dates["next"]) }}
            </a>
        </span> #}

    {% if daily_plan.event %}
        <h2>{{ link_to(daily_plan.event) }}</h2>
    {% endif %}
    
    </div>

    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{ texts.title }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

            {% for daily_recipe in daily_recipes %}
                {% include "daily_plans/_recipe_row.html.j2"%}
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row float-right mt-5">
        <form class="form" action="{{ url_for('DailyPlansView:add_recipe', daily_plan_id=daily_plan.id) }}" method="post">
            <div class="form-group form-inline">
                <select name="recipe_id" id="recipe_select" class="form-control">
                    {% include "daily_plans/_add_recipe_form_options.html.j2" %}
                </select>
            </div>

            <input type="submit" data-load-recipes-for-diet-target="submit" class="form-control btn btn-primary" value="Přidat recept">
        </form>
    </div>

</div>

{% endblock %}

{% block scripts_after %}
<script type="text/javascript"> $(document).ready(function() {$('#recipe_select').select2();}); </script>
{% endblock %}