{% extends "base/base.html.j2" %}
{% block title %} denní přehled {% endblock %}

{% block script %}
    {{ stimulus("select2") }}
{% endblock %}

{% block content %}

<div>
    {% if not daily_plan.is_active %}
        <div class='rounded bg-color-primary-action mb-2 p-2 text-center'>
            <strong> ⚠️ pozor, tento den je mimo zadané rozmezí akce! </strong><br>
            nezobrazuje se v exportech a přehledu akce.
        </div>
    {% endif %}

    <div class="row text-center" style="font-size: 1.5rem">     
        {% include "daily_plans/_navigation.html.j2" %}
    </div>

    <div class="row mt-2">
        <div class="col-12 col-md-9">
            {% include "daily_plans/_recipes.html.j2" %}
        </div>

        <div class="col-12 col-md-3 mt-4">
            {% include "daily_plans/_tasks.html.j2" %}
        </div>

    </div>
    

    {% if daily_plan.can_current_user_edit %}



    {% endif %}
</div>

{% endblock %}