{% from "macros/turbo.html.j2" import button_to %}

{% extends "base/base.html.j2" %}
{% block title %} denní přehled {% endblock %}

{% block links %}
    {{ super() }}
    {{ turbo() }}
{% endblock %}

{% block script %}
    {{ stimulus("select2") }}
{% endblock %}

{% block content %}

<div>
    {% if not daily_plan.is_active %}
        <div class='rounded bg-color-primary-action mb-2 p-2 text-center'>
            <strong> ⚠️ pozor, tento den je mimo zadané rozmezí akce! </strong><br>
            nezobrazuje se v exportech a přehledu akce.
        </div>
    {% endif %}

    <div class="row text-center" style="font-size: 1.5rem">
    <h4> {{ link_to(daily_plan.event) }} </h4>

        <div class="col">
            {% if daily_plan.has_previous %}
            <span class="float-start" >
                <a href="{{ url_for('DailyPlansView:previous', id=daily_plan.id) }}" class="color-primary">
                    {{ icon("previous", cursor_class="pointer") }}
                </a>
            </span>
            {% endif %}
        </div>


        <div class="col">
            <span style="font-size: 1.5rem">
                {{ human_format_date(daily_plan.date, with_relative=False) }}
            </span>
        </div>

        <div class="col">
            {% if daily_plan.has_next %}
            <span class="float-end" >
                <a href="{{ url_for('DailyPlansView:next', id=daily_plan.id) }}" class="color-primary">
                    {{ icon("next", cursor_class="pointer") }}
                </a>
            </span>
            {% endif %}
        </div>
    
    </div>

    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 40%"> název </th>
                    <th style="width: 20%"> typ jídla </th>
                    <th style="width: 20%"> počet porcí </th>
                    <th style="width: 5%"></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="daily_recipes">
            {% for daily_recipe in daily_recipes %}
                {% include "daily_plans/_recipe_row.html.j2"%}
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% if daily_plan.can_current_user_edit %}

    <div class="row float-end mt-5" data-controller="enable-select2">
        <form class="form" action="{{ url_for('DailyPlansEditView:add_recipe', daily_plan_id=daily_plan.id) }}" method="post">
            <div class="form-group form-inline">
                <select name="recipe_id" id="recipe_select" class="form-control" data-enable-select2-target="select">
                    {% include "daily_plans/_add_recipe_form_options.html.j2" %}
                </select>
            </div>

            <input type="submit" class="form-control btn bg-color-primary-action color-white" value="přidat recept">
        </form>
    </div>

    <div class="row mt-5">
        {{ button_to(url_for('DailyPlansEditView:add_shopping', daily_plan_id=daily_plan.id), class="btn bg-color-secondary-action color-white", value="přidat nákup <i class='fas fa-shopping-basket'></i>") }}
    </div>

    {% endif %}
</div>

{% endblock %}