{% from "macros/icons.html.j2" import icon %}
{% from "macros/general.html.j2" import options %}
{% from "macros/turbo.html.j2" import button_to %}

<tr id="public-ingredient-edit-{{ ingredient.id }}"
    data-stream-enter-class="animate-row-in"
    data-stream-exit-class="animate-row-out">
  
  <td></td>
  <td colspan="3">
      
    <form method="POST" class="row row-cols-auto g-3 align-items-center" action="{{ url_for('PublicIngredientsView:post_edit', id=ingredient.id) }}">

      <div class="col-12 col-md-3">     
        <select name="measurement_id" class="form-control">
        	{{ options(measurements, selected_item=ingredient.measurement) }}
        </select>
      </div>
      
      <div class="col-12 col-md-3">
        <select name="category_id" class="form-control">
        	{{ options(categories, selected_item=ingredient.category) }}
        </select>
      </div>
    
      <div class="col-12 col-md-3"> 
        <button type="submit" class="btn bg-color-secondary-action color-white"> Uložit </button>
      </div>
    
    </form>

  </td>
  <td>
    {{ button_to(url_for('PublicIngredientsView:hide_edit', id=ingredient.id), class="btn bg-color-secondary-action color-white float-end", value="Zrušit") }}
    </form>
  </td>

</tr>