{% from "macros/icons.html.j2" import icon %}
{% from "macros/general.html.j2" import options %}

<tr id="public-ingredient-edit-{{ ingredient.id }}" data-stream-enter-class="animate-row-in" data-stream-exit-class="animate-row-out">
  <td></td>
  <td colspan="3">
      
    <form method="POST" class="row row-cols-auto g-3 align-items-center" action="{{ url_for('PublicIngredientsView:post_edit', id=ingredient.id) }}">

      <div class="col">     
        <select name="measurement_id" class="form-control">
        	{{ options(measurements, selected_item=ingredient.measurement) }}
        </select>
      </div>
      
      <div class="col">
        <select name="category_id" class="form-control">
        	{{ options(categories, selected_item=ingredient.category) }}
        </select>
      </div>
    
      <div class="col"> 
        <button type="submit" class="btn btn-warning"> Uložit </button>
      </div>
    
    </form>

  </td>
  <td>
    <form method="POST" class="row row-cols-auto g-3 align-items-center" action="{{ url_for('PublicIngredientsView:hide_edit', id=ingredient.id) }}">
      <button type="submit" class="btn btn-secondary"> Zrušit </button>
    </form>
  </td>
</tr>