<tr class="lh-2" id="public-ingredient-{{ ingredient.id }}">
 
  <td> {{ link_to(ingredient) }} </td>
  <td> {{ ingredient.measurement.name }} </td>
  <td> {{ ingredient.category.name }} </td>
  <td> {{ ingredient.author.name }} </td>
  <td>
    {% if current_user.is_application_manager or current_user.is_admin %}
      <form method="POST" class="col {% if editing %}visibility-hidden{% endif %}" action="{{ url_for('PublicIngredientsView:show_edit', id=ingredient.id) }}" data-turbo-frame="all">
        <button type="submit" class="icon change"></button>
      </form>
    {% endif %}
  </td>

</tr>
