{% from "macros/turbo.html.j2" import button_to %}

<tr id="public-ingredient-{{ ingredient.id }}">
 
  <td> {{ link_to(ingredient) }} </td>
  <td> {{ ingredient.measurement.name }} </td>
  <td> {{ ingredient.category.name }} </td>
  <td> {{ ingredient.author.name }} </td>
  <td>
    {% if current_user.has_permission("manage-application") %}
      {% if editing %} {% set form_class="visibility-hidden"%} {% endif %}

      {{ button_to(url_for('PublicIngredientsView:show_edit', id=ingredient.id), form_class=form_class, value="upravit", class="btn bg-color-secondary-action color-white float-end") }}
    {% endif %}
  </td>

</tr>
