{% from "macros/turbo.html.j2" import button_to %}

<tr id="public-ingredient-{{ ingredient.id }}"
    data-controller="{{ 'class-animation' if highlighted_id == ingredient.id }}" data-class-animation-added-class="bg-success">
 
  # set form = IngredientForm(obj=ingredient)

  <td> {{ link_to(ingredient) }} </td>
  <td>
    <form method="POST" action="{{ url_for('PublicIngredientView:update', id=ingredient.id) }}" data-controller="form">
      {{ render_field(form.measurement, has_label=False, data_action="focusout->form#submit") }}
    </form>
  </td>
  <td>
    <form method="POST" action="{{ url_for('PublicIngredientView:update', id=ingredient.id) }}" data-controller="form">
      {{ render_field(form.category, has_label=False, data_action="focusout->form#submit") }}
    </form>
  </td>
  <td> {{ ingredient.author.name }} </td>
  <td>  </td>

</tr>
