{% extends "base/base.html.j2" %}
{% block title %} veřejné suroviny {% endblock %}

{% block content %}

<div class="text-center">
	<h1 class="text-uppercase font-comfortaa"> veřejné suroviny </h1>

	<turbo-frame id="ingredients">

		<table id="public-ingredients" class="table">
			<thead>
				<th style="width: 30%"> surovina </th>
			    <th style="width: 20%"> míra </th>
			    <th style="width: 20%"> kategorie </th>
				<th> Vytvořil*a </th>
			    <th>  </th>
			</thead>
			<tbody>
		    {% for ingredient in public_ingredients %}
					{% include "ingredients/public/_ingredient.html.j2" %}
				{% endfor %}
			</tbody>
		</table>

	</turbo-frame>
</div>

{% endblock %}

