{% from "macros/general.html.j2" import option, options %}

<optgroup label="Moje suroviny">
    {{ options(personal_ingredients) }}
</optgroup>
<optgroup label="Veřejné suroviny">
    {{ options(public_ingredients) }}
</optgroup>