<turbo-frame id="add_ingredient_form">	

<form method="post" action="{{ url_for('EditRecipeView:add_ingredient', recipe_id=recipe.id) }}" data-controller="enable-select2" class="row row-cols-lg-auto g-3 align-items-center">
	<div class="col-12">
	    <select class="form-control" name="ingredient_option" id="ingredient_select" data-enable-select2-target="select">
	        {% include "recipes/edit/_add_ingredient_form_options.html.j2" %}
	    </select>
	</div>

	<div class="col-12">	
    	<button type="submit" class="btn bg-color-primary-action color-white"> Přidat do receptu </button>
	</div>
	
	<div class="col-12 ms-5">	
		<a class="" href="{{ url_for('FastAddIngredientsView:new', recipe_id=recipe.id) }}"> Přidat chybějící surovinu </a>
	</div>	
</form>

<turbo-frame id="add-ingredient-simple"></turbo-frame>

{# {% if recipe %}
<form method="POST" action="{{ url_for('RecipesView:refresh_usable_ingredients', recipe_id=recipe.id) }}">
    <button type="submit" class="icon mt-2">&#8635;</button>
</form>
{%endif%} #}

</turbo-frame>