<div id="recipe-description" data-controller="enable-summernote">
    <form action="{{ url_for('EditRecipeView:post_description', recipe_id=recipe.id) }}" class="form" method="post" accept-charset="utf-8">
        <textarea id="summernote" name="description" class='form-control' data-enable-summernote-target="summernote">
            {% if recipe.description %}{{ recipe.description }}{% endif %}
        </textarea>
        <div class="mt-4 pb-2">
        	<button type="submit" class="btn btn-warning">Upravit návod</button>
    		<span class="float-right mr-5 color-success">{{ message }}</span>
        </div>
    </form>
</div>