<div id="recipe-description" data-controller="enable-editor">
    <form action="{{ url_for('EditRecipeView:post_description', recipe_id=recipe.id) }}" class="mt-3" method="post" accept-charset="utf-8">
        
        <textarea id="editor" name="description" data-enable-editor-target="editor">
            {% if recipe.description %} {{ recipe.description }} {% endif %}
        </textarea>

        <div class="mt-4 pb-2">
        	<button type="submit" class="btn bg-color-secondary-action color-white"> upravit návod </button>
    		<span class="float-end me-5 color-success animate-fadeout"> {{ message }} </span>
        </div>

    </form>
</div>