{% from "macros/render_field.html.j2" import render_field %}

<div id="recipe-info">
    <form action="{{ url_for('EditRecipeView:post', recipe_id=recipe.id) }}" method="post" accept-charset="utf-8">
        {{ form.csrf_token }}

        <div class="form-floating">
            {{ render_field(form.name, has_label=False) }}
            {{ form.name.label }}
        </div>

        <div class="form-floating">
            {{ render_field(form.category, has_label=False) }}
            {{ form.category.label }}
        </div>

        <div class="form-floating">
            {{ render_field(form.portion_count, has_label=False) }}
            {{ form.portion_count.label }}
        </div>

        <div class="row" data-controller="enable-select2">
            {{ form.dietary_labels.label(class_="me-1 col-sm-2 col-form-label") }}
            {{ render_field(form.dietary_labels, has_label=False, data_enable_select2_target="select", class="w-75") }}
        </div>
{# 
          <div class="row mb-3">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3">
    </div>
  </div> #}

        <div class="row mt-2" data-controller="select-badges" data-select-badges-selected-class="bg-color-light-green" data-select-badges-unselected-class="bg-color-grey">
            {{ form.difficulty_label.label(class_="me-1 col-sm-2 col-form-label") }}
            <div class="col-sm-9">
                {{ render_field(form.difficulty_label, has_label=False, data_select_badges_target="select") }}
                <span data-select-badges-target="badges">
            </div>
                
            </span>
        </div>

        <div class="mt-4 pb-2">
            <input type="submit" value="{{ texts.recipe_edit }}" class="btn btn-warning">
            <span class="float-end me-5 color-success with-fadeout">{{ message }}</span>
        </div>
    </form>
</div>