<table class="table" id="recipe-ingredient-table">
    <thead>
        <tr>
            <th> Název </th>
            <th> Množství (na {{ recipe.portion_count }} porcí) </th>
            <th colspan="4"></th>
        </tr>
    </thead>
    <tbody id="ingredients">
    {% for ingredient in recipe.ingredients: %}
        {% include "recipes/edit/_edit_ingredient.html.j2" %}
    {% endfor %}
    </tbody>
</table>