<table class="table" id="recipe-ingredient-table">
    <thead>
        <tr>
            <th style="width:20%"> Název </th>
            <th style="width:20%"> Množství (na {{ recipe.portion_count }} porcí) </th>
            <th> Poznámky </th>
            <th style="width:20%"></th>
        </tr>
    </thead>
    <tbody id="ingredients">
    {% for ingredient in recipe.ingredients: %}
        {% include "recipes/edit/ingredient/_row.html.j2" %}
    {% endfor %}
    </tbody>
</table>