.admin-field {
  background-color: var(--admin-yellow);
  padding: 0.5rem;
  /*border: solid 0.1rem red;*/
  border-radius: 0.3rem;
  box-shadow: 0.2rem 0.2rem 0.4rem black;
}

.admin-warning {
  text-align: center;
}

.dev-badge {
  margin-left: 2rem;
  position: fixed;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 0.7rem black;
}

.dev-badge.dev {
  background-color: var(--logo-light-green);
}

.dev-badge.prod {
  background-color: var(--palette-orange);
}

.color-admin {
  color: var(--admin-yellow) !important;
}

.bg-color-admin {
  background-color: var(--admin-yellow) !important;

}

.admin-notification-count {
  border-radius: 0.5rem;
  padding-left: 0.3rem;
  padding-right: 0.2rem;
  color: white;
  background-color: red;
}