/* Sign in buttons */
/* Shared */
.loginBtn {
  padding: 0.5rem 1.5rem;
  border: none;
  text-align: center;
  line-height: 2rem;
  white-space: nowrap;
  border-radius: 0.5rem;
  color: #FFF;
}
/*.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}*/
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background-color: #DD4B39;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background-color: #E74B37;
}

/* SkautIS */
.loginBtn--skautis {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background-color: grey;
}
.loginBtn--skautis:hover,
.loginBtn--skautis:focus {
  background-color: grey;
}
