:root {
    --primary:  #33403E;

    --secondary:  #E9F2F1;
    --secondary-highlighted:  #c9e0dd;

    --primary-action:  #A66A6A;
    --secondary-action:  #657371;

    --details:  #A4BFBF;

    --highlight: #6aa6a6;
    --strong-highlight: #A66A6A;


    --inactive: grey;

    --color-light-grey: lightgrey;

    /* Flash signals */
    --error: #A66A6A;
    --success: #6aa6a6;
    --warning: #A66A6A; 
    --info: grey;
    --debug: pink;


    /* Ketocalc colors */

    /* Added based on logo-blue*/
    --palette-orange: #EA7401;


/*
    navbar
    #33403E
    rámečky pozadí (dash, karty dní)
    #E9F2F1
    primary button, zvýraznění
    #A66A6A
    secondary button
    #657371
    details 
    #A4BFBF
    
    #6aa6a6 nikde, potenciálně další tlačítka
    
    neděle
    #c9e0dd
*/
    /* Other colors */
    --admin-yellow: #FFE766;

    --color-grey: #C1C2C4;
}


/* Primary */
.color-primary {
    color: var(--primary);
}

.bg-color-primary {
    background-color: var(--primary);
}

.b-color-primary {
    border-color: var(--primary);
}

/* Secondary */

.bg-color-secondary {
    background-color: var(--secondary);
}

.b-color-secondary {
    border-color: var(--secondary);
}

/* Secondary highlighted */

.bg-color-secondary-highlighted {
    background-color: var(--secondary-highlighted);
}

/* Hightlight */

.color-highlight {
    color: var(--highlight);
}

.bg-color-highlight {
    background-color: var(--highlight);
}

.bg-color-strong-highlight {
    background-color: var(--strong-highlight);
}

.b-color-highlight {
    border-color: var(--highlight);
}

.b-color-strong-highlight {
    border-color: var(--strong-highlight);
}


/* Actions */

.bg-color-primary-action {
    background-color: var(--primary-action);
}

.b-color-primary-action {
    border-color: var(--primary-action);
}

.bg-color-secondary-action {
    background-color: var(--secondary-action);
}

.b-color-secondary-action {
    border-color: var(--secondary-action);
}

.color-white {
    color: white;
}


.color-black {
    color: black;
}

.bg-color-light-grey {
    background-color: var(--color-light-grey);
}

.b-color-light-grey {
    border-color: var(--color-light-grey);
}

/* Color signals */
.color-inactive {
    color: var(--inactive);
}

.color-grey {
    color: var(--inactive);
}

.color-success {
    color: var(--success);
}


.pulse-bg-success {
  transition: background-color 0.5s;
  background-color: var(--success);
}



/* Effects */

.opacity-50 {
    opacity: 0.7;
}
