.info-badge {
	border-radius: 0.2rem;
	border-color: var(--secondary-highlighted);
	border-style: solid;
	border-width: 0.1rem;

	display: inline-flex;
  	align-items: center; 
  	width: 100%;
}

.dashboard-badge {
	border-radius: 1rem;
}


.dropzone {
  border-radius: 0.5rem;
  border: 1px solid #ced4da !important;
}


.select-badge {
	min-width: 4rem;
	text-align: center;
}
