/*Flashes*/

div.flashes {
    position: absolute;
    width: 100%;
    margin-left: 15%;
    margin-right: auto;
    top: 0.7rem;
    height: 3rem;
    z-index: 10000;
    background-color: rgba(255, 255, 255, 0.6);
    /*pointer-events: none;*/
    cursor: pointer;
}

div.flashes ul li{
    list-style-type: none;
    text-align: center; 
    color: #101010;
}

div.flashes ul li.error {
    color: var(--error);
}

div.flashes ul li.success {
    color: var(--success);
}

div.flashes ul li.info {
    color: var(--info);
}

div.flashes ul li.warning {
    color: var(--warning);
}

div.flashes ul li.debug {
    color: var(--debug);
}