/*Flashes*/

div.flashes {
    position: relative;
    height: 0px;
}

div.flashes ul li{
    list-style-type: none;
    text-align: center; 
    color: #101010;
}

div.flashes ul li.error{
    color: var(--error);
}

div.flashes ul li.success{
    color: var(--success);
}

div.flashes ul li.info{
    color: var(--info);
}

div.flashes ul li.warning{
    color: var(--warning);
}

div.flashes ul li.debug{
    color: var(--debug);
}