@media print {
	body {
		font-family: "Open Sans", Arial, sans-serif;
	}

	.font-comfortaa {
		font-family: "Open Sans", Arial, sans-serif;
	}

	.font-montserrat {
		font-family: "Open Sans", Arial, sans-serif;
	}

	a {
		text-decoration: none;
		color: black;
	}

	.d-print-none {
		display: none;
	}
	
	.print-break-none {
        width: 100%;
		break-inside: avoid;
	}
}

@page {
    size: A4;
    margin-top: 1cm;
    margin: 1.3cm;

    counter-increment: page;

    @bottom-center {
	    content: counter(page) " / " counter(pages);
    	width: 100%;
    }

	font-family: Calibri, Candara, Arial, sans-serif;
}
