/* Base */
@import "colors.css";
@import "atomic.css";

/*@import "texts.css";*/

/* Elements  */
@import "lists.css";
@import "forms.css";
@import "details.css";
@import "footer.css";
/*@import "tables.css";*/

/* Functions */
@import "icons.css";
@import "flash.css";
@import "turboflash.css";

/* Other */
@import "admin.css";
@import "select2.css";


/* other */

a {
  color: #007bff;
  text-decoration: none;
}


a.info {
  color: var(--color-grey);
}

a.info:hover {
  color: var(--logo-blue);
}

a.color-hover-black:hover {
  color: black;
}

/*.navbar div.navbar-divider {
  width: 2rem;
}
*/

table.table > tbody > tr > td {
  vertical-align: middle;
}

abbr {
  /*cursor: default !important;*/
  text-decoration: none !important;
}

div.warning {
  background-color: var(--warning);
  border-radius: 0.5rem;
}

div.warning li {
  list-style-type: none; 
}

div.warning li:before {
  content: "!";
}