@import "colors.css";

@import "icons.css";

@import "atomic.css";

/*@import "texts.css";*/

@import "lists.css";
@import "forms.css";

@import "flash.css"
@import "turboflash.css";

@import "admin.css";

/*@import "tables.css";*/

/* Footer */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: var(--info);
    font-size: 0.7rem;
    text-align: center;
    opacity: 0.7;
}

/* other */


a.info {
  color: var(--color-grey);
}

a.info:hover {
  color: var(--logo-blue);
}

.navbar div.navbar-divider {
  width: 2rem;
}

.table tr.vertically-centered td {
  vertical-align: middle;
}

abbr {
  /*cursor: default !important;*/
  text-decoration: none !important;
}

div.warning {
  background-color: var(--warning);
  border-radius: 0.5rem;
}

div.warning li {
  list-style-type: none; 
}

div.warning li:before {
  content: "!";
}