/* CSS TABLE STYLES */
div.table {
	display: table	
}

div.table div.table-header {
	display: table-header-group;
	font-weight: bold;
	background-color: rgb(191, 191, 191);
}

div.table div.table-body {
	display: table-row-group;
}

div.table div.table-row {
	display: table-row	
}

/*div.table div.table-row div.table-cell {
	display: table-cell
}
*/

div.table div.table-header div,
div.table div.table-row div {
	display: table-cell;
	padding: 0 6px;
}

div.table div.table-header div {
	text-align: center;
	border: 1px solid rgb(255, 255, 255);
}
