.turbo-flash {
    animation:fadeout 0.5s 1;
    animation-delay:1.5s;
    animation-fill-mode: forwards;

    -webkit-animation:fadeout 0.5s 1;
    -webkit-animation-delay:1.5s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;
} 

@keyframes fadeout {
    from {opacity :0.9;}
    to {opacity :0;}
}

@-webkit-keyframes fadeout {
    from {opacity :0.9;}
    to {opacity :0;}
}