{# This template receives the following context:
  reset_link - the link that should be fetched (GET) to reset
  reset_token - this token is part of reset link - but can be used to
    construct arbitrary URLs for redirecting.
  user - the entire user model object
  security - the Flask-Security configuration
#}


Vypadá to, že jste požádali o zaslání nového hesla do <a href="skautskakucharka.cz"> Skautské kuchařky </a>. <br>
Pokud to tak opravdu je, můžete heslo změnit na <a href="{{ reset_link }}">{{ _fsdomain('tomto odkaze') }}</a><br>
<p>
V opačném případě mě kontaktujte na <a href="mailto:obr+skautskakucharka@skaut.cz">tomto emailu</a>.
