<form action="{{ url_for('IngredientCategoriesView:post') }}" method="POST" id="ingredient-category-create-form">
	<input type="text" name="ingredient-category" id="ingredient-category" class="new-item" placeholder="přidat další" autocomplete="off">
</form>