<turbo-frame id="ingredient-category-{{ category.id }}">
  <li class="editing">
    <div>
      <label></label>
    </div>
    <form method="PUT" action="{{ url_for('IngredientCategoriesView:put', id=category.id) }}" data-turbo-frame="all">
      <input type="text" name="ingredient-category" value="{{ category.name }}" class="edit" autofocus>
    </form>
  </li>
</turbo-frame>