{% extends "base/base.html.j2" %}
{% block title %} Ingredient categories {% endblock %}

{% block links %}
    {{ super() }}
    {{ turbo() }}
{% endblock %}

{% block flashing %}
    {% include('base/_turbo_flashing.html.j2') %}
{% endblock %}

{% block content %}

<div class="text-center">

  <h1 class="text-uppercase font-comfortaa">Typy surovin</h1>
  <span class="font-montserrat">pro lepší řazení při nákupu</span>

<table class="table">
    <thead>
      <th style="width: 40%"> Název </th>
      <th style="width: 20%"> Popis </th>
      <th style="width: 20%"> </th>
      <th style="width: 5%"> </th>
      <th></th>
      <th></th>
    </thead>
    <tbody id="ingredient-categories">
      {% for category in ingredient_categories %}
        {% set editing = (edit_id and measurement.id == edit_id | int) %}

        {% include 'ingredient_categories/_row.html.j2' %}

        {% if editing %}
          {% include 'ingredient_categories/_edit.html.j2' %}
        {% endif %}

      {% endfor %}
    </tbody>
  </table>

  {% include 'ingredient_categories/_add.html.j2' %}

</div> 

{% endblock %}

