{% if not session["as_commoner"] %}
	{% set description = "jste přihlášeni jako admin!" %}
	{# {% set toggle_value = "používat jako běžný uživatel" %} #}
{% else %}
	{% set description = "jste admin, i když to tak nevypadá." %}
	{# {% set toggle_value = "používat jako admin" %} #}
{% endif %}


<span class="admin-badge admin-warning admin-field no-print">
	{{ description }}	
{# 	<hr>
	<details open>
		<summary class="text-start mb-1"> možnosti </summary>
		{{ button_to(url_for('AdminView:toggle_admin'), class="btn bg-color-secondary-action color-white", value=toggle_value)	}}
	</details> #}
</span>


