{% extends "base/base.html.j2" %}
{% block title %} Admin - dashboard {% endblock %}
{% block content %}

<div class="admin-field row mt-5">
    <iframe
        src="http://jmp-analysis.herokuapp.com/public/dashboard/8f73536b-01f0-4212-85cb-9cca5ca77fcc"
        frameborder="0"
        width="1600"
        height="600"
        allowtransparency
    ></iframe>
</div>

{% endblock %}