{% if not category or category == "message" %}{% set category = "info" %}{% endif %}
<div class='flash alert alert-{{ category }} animate-fadeout' role="alert"
     data-controller="visibility" data-visibility-target="element" data-action="click->visibility#hide">
   {{ message }}
</div>