{% if messages %}
  
<div id="flashes" class="flashes container alert alert-light animate-fadeout" role="alert">
  <ul id="flashes_list">
  {% for category, message in messages %}
    {% include "base/_flash.html.j2" %}    
  {% endfor %}
  </ul>
</div>

{% endif %}