{% with messages = get_flashed_messages(with_categories=true) %}
<turbo-frame id="flashing">
  <div class="flashes container alert alert-light mt-5" role="alert">
    <turbo-frame id="flashing-content">
    <ul>
    {% for category, message in messages %}
      {% if not category %}
        {% set category = "info" %}  
      {% endif %}

      <li class='{{ category }}'>{{ message }}</li>
    
    {% endfor %}
    </ul>
    </turbo-frame>
  </div>
</turbo-frame>
{% endwith %}