<div class="row">
  <div class="col-10"></div>
  <div class="col-2" id="flashes" data-flashing-target="flashes">
      
    {% for category, message in messages %}
      {% include "_flash.html.j2" %}
    {% endfor %}

  </div>

</div>