<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% if not config.APP_STATE == "development" %}
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
{% endif %}


<meta name="sentry-user-name" content="{{current_user.full_name | default("anonymous", True)}}">
<meta name="sentry-user-id" content="{{current_user.id | default(-1, True)}}">
