<turbo-frame id=turbo-flash>	
  <div class="turbo-flash container alert alert-light animate-fadeout mt-5" role="alert">
    <ul class="no-list">
      <li class='{{ category }}'>{{ message }}</li>
    </ul>
  </div>
</turbo-frame>
