<turbo-frame id=turbo-flash>	
  <div class="turbo-flash container alert alert-light" role="alert">
    <ul style="list-style-type: none">
      <li style="" class='{{ category }}'>{{ message }}</li>
    </ul>
  </div>
</turbo-frame>
