{% from "macros/render_field.html.j2" import render_field, render_floating_field %}
{% from "macros/render_label.html.j2" import render_label %}
{% from "macros/admin_field.html.j2" import admin_field_class with context %}
{% from "macros/general.html.j2" import option, options, link_or_name, list_of_links with context %}
{% from "macros/icons.html.j2" import icon %}
{% from "macros/turbo.html.j2" import button_to %}
{% from "macros/loader.html.j2" import loader %}
{% from 'javascript/stimulus.js.html' import stimulus %}

{% if not user %}
    {% set user = current_user %}
{% endif %}

<!DOCTYPE html>
<html lang="cs">
<head>
{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block meta %}{% endblock %} 

    {% block links %}
        {# <link rel="icon" href="{{ url_for('static', filename='img/icon_space.png') }}"> #}

        <!-- Bootstrap -->
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap-5.1.3/css/bootstrap.min.css') }}">
        <script src="{{ url_for('static', filename='bootstrap-5.1.3/js/bootstrap.bundle.min.js') }}"></script>

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Select 2 -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

        <!-- Font Awesome Icons -->
        {# <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous"> #}
        <script src="https://kit.fontawesome.com/4ffc18f632.js" crossorigin="anonymous"></script>

        
        <!-- Bootstrap Social -->
        <!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-social.css') }}"> -->
       
        <!-- My style -->
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
       
        <!-- reCaptcha -->
        <script src='https://www.google.com/recaptcha/api.js?hl=cs'></script>

        <!-- cookieconsent -->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
        <!-- custom fonts -->
        <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
        {% if print %}
            <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/print.css') }}">
        {% endif %}
    {% endblock %}

    {% block style %}{% endblock %}
    {% block script %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
{% endblock head %}
</head>
<body>
    {% if not print %}
        
    {% block navbar %}            
        {% if current_user.is_authenticated %}
            {% include('navbars/navbar.html.j2') %}
        {% else %}
            {% include('navbars/login.html.j2') %}
        {% endif %}
    {% endblock %}

    {% block flashing %}
        {# {% if current_user.is_admin %} #}
            {# {% include('_admin_warning.html.j2') %} #}
        {# {% endif %} #}
        {% include('base/_flashing.html.j2') %}
        {% include('base/_turbo_flashing.html.j2') %}
    {% endblock %}


    {% block dev %}
    {% if config.APP_STATE == "development" %}
        <span class="dev-badge dev"><strong>DEV</strong></span>
    {% elif config.APP_STATE == "local_production" %}
        <span class="dev-badge prod"><strong>PROD</strong></span>
    {% endif %}
    {% endblock %}

    {% endif %}

    <div id="content" class="container mb-5">
        {% block content %}{% endblock %}
    </div>

</body>
{% block scripts_after %}{% endblock %}
<script>

document.addEventListener("turbo:before-stream-render", function(event) {
  // Add a class to an element we are about to add to the page
  // as defined by its "data-stream-enter-class"
  
  if (event.target.firstElementChild instanceof HTMLTemplateElement && event.target.templateContent.firstElementChild != null)  {
    var enterAnimationClass = event.target.templateContent.firstElementChild.dataset.streamEnterClass
    if (enterAnimationClass) {
      event.target.templateElement.content.firstElementChild.classList.add(enterAnimationClass)
    }
  }

  // Add a class to an element we are about to remove from the page
  // as defined by its "data-stream-exit-class"
  var elementToRemove = document.getElementById(event.target.target)
  var streamExitClass = elementToRemove.dataset.streamExitClass
  if (streamExitClass) {
    // Intercept the removal of the element
    event.preventDefault()
    elementToRemove.classList.add(streamExitClass)
    // Wait for its animation to end before removing the element
    elementToRemove.addEventListener("animationend", function() {
      event.target.performAction()
    })
  }
})

</script>
</html>
