{% extends "base/base.html.j2" %}


{% block style %}
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/print.css') }}">
{% endblock %}


{% block navbar %}{% endblock %}
{% block footer %}{% endblock %}
{% block dev %}{% endblock %}


{% block content %}
{% endblock %}

