{% from "macros/render_field.html.j2" import render_field %} 

<turbo-frame id="add-ingredient-simple">

<div class="form-control mt-2">    
<form method="post" action="{{ url_for('FastAddIngredientsView:post', recipe_id=recipe.id) }}" class="row row-cols-lg-auto g-3 align-items-center" accept-charset="UTF-8">
    {{ form.csrf_token }}
    <div class="col-12">{{ render_field(form.name, has_label=False) }}</div>
    <div class="col-12">{{ render_field(form.measurement, has_label=False) }}</div>
    <div class="col-12">{{ render_field(form.submit, value="Uložit a přidat") }}</div>
</form>
</div>

</turbo-frame>