{% from "macros/render_field.html.j2" import render_field, render_floating_field %} 
{% from "macros/turbo.html.j2" import button_to %} 

<div id="add-ingredient-simple" class="row mt-2">
    <hr>

    <div class="col-7">
        
        <div class="">    
            <form method="post" action="{{ url_for('FastAddIngredientView:post', recipe_id=recipe.id) }}" class="row row-cols-lg-auto g-3 align-items-center" accept-charset="UTF-8">
                {{ form.csrf_token }}
                <div class="col-12">{{ render_floating_field(form.name) }}</div>
                <div class="col-12">{{ render_floating_field(form.measurement) }}</div>
                <div class="col-12">{{ render_field(form.submit, value="uložit a přidat") }}</div>
            </form>
                
        </div>
        
    </div>
    <div class="col-5 mt-2 text-end">
        
        {{ button_to(url_for('FastAddIngredientView:hide', recipe_id=recipe.id), class="btn color-white bg-color-secondary-action", value="zrušit") }}

    </div>

</div>