<h1>Veřejné suroviny</h1>
{# {% if current_user.is_admin %}		 #}
	{# <a href="{{ url_for('IngredientsView:add_public') }}"><button class="btn btn-secondary float-right">Přidat veřejnou surovinu</button></a> #}
{# {% endif %} #}
{# <table id="public_ingredients" class="table">
<tr>
	<th>Surovina</th>
	<th>Specifika</th>
	<th>Vytvořil*a</th>
    <th>Míra</th>
    <th>Kategorie</th>
</tr>
</table> #}
<ul class="list">
    {% for ingredient in public_ingredients: %}
    {% include "ingredients/_ingredient.html.j2"%}
{% endfor %}
</ul>
{# </table> #}