<h1>Sdílené suroviny
{# {% if current_user.is_admin %}		 #}
	{# <a href="{{ url_for('IngredientsView:add_public') }}"><button class="btn btn-secondary float-right">Přidat veřejnou surovinu</button></a> #}
{# {% endif %} #}
</h1>
<table id="public_ingredients" class="table">
{% for ingredient in public_ingredients: %}
    <tr>
        <td>{{ link_to(ingredient) }}</td>
        <td>{{ ingredient.author }}</td>
    </tr>
{% endfor %}
</table>