{% if current_user.recipes_with_zero_amount_ingredient %}

<div id="recipes-with-zero-amount-ingredient" class="mt-3 col-12 col-sm-6 col-md-4">

    <h6> Přidat množství nějakým surovinám v receptech </h6>

    <ul class="no-list">
    {% for recipe in current_user.recipes_with_zero_amount_ingredient %}
        <li>{{ link_to(recipe, link_type="edit") }}</li>
    {% endfor %}
    </ul>

</div>

{% endif %}