{% if current_user.recipes_with_zero_amount_ingredient %}

<div id="recipes-with-zero-amount-ingredient" class="mt-3 col-12">
    <div class="container bg-color-secondary p-3 dashboard-badge">

        <h6 class="font-comfortaa text-uppercase"> přidat množství nějakým surovinám v receptech </h6>

        <ul class="no-list">
        {% for recipe in current_user.recipes_with_zero_amount_ingredient %}
            <li>{{ link_to_edit(recipe) }}</li>
        {% endfor %}
        </ul>

    </div>  

</div>

{% endif %}