{% extends "base/base.html.j2" %}

{% block title %} {{ ingredient.name }} {% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-8 col-sm-12" style="margin-bottom:2rem">
        <form action="{{ url_for('IngredientsView:update', id=ingredient.id) }}" class="form-group" method="post" accept-charset="utf-8">
            {{ form.csrf_token }}

            {{ render_floating_field(form.name) }}
            <div class="row mt-2">
                <div class="col-md-6 col-sm-12"> {{ render_floating_field(form.measurement, disabled=not ingredient.can_edit_measurement) }} </div>
                <div class="col-md-6 col-sm-12 mt-2 mt-md-0"> {{ render_floating_field(form.category) }} </div>
            </div>

            {{ render_floating_field(form.description, class="mt-2") }}

            <details class="mt-2 mb-3" {% if form.errors %} open {% endif %}>
            <summary> nutriční hodnoty </summary>
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3 mb-1 mb-md-0"> {{ render_floating_field(form.calorie) }} </div>
                <div class="col-12 col-sm-6 col-lg-3 mb-1 mb-md-0"> {{ render_floating_field(form.protein) }} </div>
                <div class="col-12 col-sm-6 col-lg-3 mb-1 mb-md-0"> {{ render_floating_field(form.fat) }} </div>
                <div class="col-12 col-sm-6 col-lg-3"> {{ render_floating_field(form.sugar) }} </div>
            </div>
            </details>
            
            <hr>

            <button type="submit" class="btn bg-color-primary-action color-white me-3">
                uložit změnu {{ icon("edit") }}
            </button>
            
            <a class="btn bg-color-secondary-action color-white" href="{{ url_for('IngredientsView:show', id=ingredient.id) }}">
                zrušit úpravy {{ icon("edit") }}
            </a>
            
        </form>
    </div>
    {% include ('recipes/_recipe_list.html.j2') %}
</div>

{% endblock %}