{% extends "base/base.html.j2" %}

{% block title %} {{ texts.ingredient }} {% endblock %}

{% block script %}
    {% include 'javascript/stimulus.js.html' %}
    {% include 'javascript/enable_select2_controller.js.html' %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-sm-12" style="margin-bottom:2rem">
        <form action="{{ url_for('IngredientsView:post_edit', id=ingredient.id) }}" class="form-group" method="post" accept-charset="utf-8">
            {{ form.csrf_token }}
            <div class="w-100 mb-2">
            {{ render_field(form.name, has_label=False, class="col-6") }}
            </div>

            <div class="w-100">
            {{ render_field(form.description, has_label=False) }}                            
            </div>

            <div class="w-100">
            {{ render_field(form.measurement, disabled=not ingredient.can_edit_measurement) }}                            
            </div>

            <div class="w-100 mt-2">
            {{ render_field(form.category) }}              
            </div>

            <hr>

            {% include "ingredients/_form_labels.html.j2" %}

            {% include "ingredients/_form_nutrition_values.html.j2" %}
            
            <button type="submit" class="btn btn-warning">{{ texts.edit_confirm }} {{ icon("edit") }}</button>
            <a class="btn btn-secondary" href="{{ url_for('IngredientsView:show', id=ingredient.id) }}">{{ texts.edit_cancel }} {{ icon("edit") }}</a>
            
        </form>
        {# <form
            action="{{ url_for('IngredientsView:delete', id=ingredient.id) }}"
            onsubmit="return confirm('{{ texts.ingredient_delete_confirm }}');"
            method="post"
            accept-charset="utf-8"
            >
            {% if ingredient.is_used == False %}
                <button type="submit" class="btn btn-danger">{{ texts.ingredient_delete }} {{ icon("delete") }}</button>
            {% else %}
                <button type="submit" class="btn btn-danger" disabled>{{ texts.delete_error }} {{ icon("delete") }}</button>
            {% endif %}
        </form> #}
    </div>
    {% include ('recipes/_recipe_list.html.j2') %}
</div>
{% endblock %}