{% extends "base/base.html.j2" %}
{% block title %} moje suroviny	{% endblock %}

{% block content %}

<h1 class="font-comfortaa"> moje suroviny </h1>

<div class="row mb-2">
    <div class="col">
        {{ action_badge("new", Ingredient) }}
        ## <a href="{{ url_for('IngredientView:new') }}" class="btn bg-color-secondary-action color-white"> {{ icon("add") }} surovinu </a>
    </div>
    <div class="col-6 col-md-3">
        {{ search_box(ingredients + IngredientCategory.load_all(), ["name"]) }}
    </div>
</div>


<table id="ingredients" class="table table-hover"
        data-controller="bstable"
        data-filter-control="true"
        data-classes="table-borderless"
        data-search="true" data-search-selector="#search_box"
        data-pagination="true" data-page-size=25 data-sort-order="desc">

    <thead>
        <th data-field="name" data-sortable="true"> název </th>
        <th data-field="category" data-sortable="true"> kategorie </th>
        <th data-field="measurement" > míra </th>
    </thead>
    
    <tbody>
        {% for ingredient in ingredients: %}
        <tr>
            <td> {{ link_to(ingredient) }} </td>
            <td> {{ ingredient.category.name }} </td>
            <td> {{ ingredient.measurement.name }} </td>
        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}

