{% extends "base/base.html.j2" %}
{% block title %} Moje suroviny	{% endblock %}

{% block content %}

<h1>Moje suroviny
    <a href="{{ url_for('IngredientsView:new') }}"><button class="btn btn-secondary float-end">Přidat surovinu</button></a>
</h1>

<table id="ingredients" class="table">
    <tr>
        <th>Název</th>
    </tr>
    {% for ingredient in ingredients: %}
        <tr>
            <td>{{ link_to(ingredient) }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}

