{% extends "base/base.html.j2" %}
{% block title %} Nová surovina {% endblock %}

{% block content %}

<form action="{{ url_for('IngredientsView:post') }}" method="post" accept-charset="UTF-8">
    {{ form.csrf_token }}

    {{ render_floating_field(form.name) }}
    {{ render_floating_field(form.measurement, class="mt-2") }}
    {{ render_floating_field(form.category, class="mt-2") }}

    {{ render_field(form.submit) }}
</form>

{% endblock %}

