{% extends "base/base.html.j2" %}

{% block title %} Nová surovina {% endblock %}

{% block script %}
    {% include 'javascript/stimulus.js.html' %}
    {% include 'javascript/enable_select2_controller.js.html' %}
{% endblock %}

{% block content %}

<form method="post" action="{{ url_for('IngredientsView:post') }}" class="form-group col-12" accept-charset="UTF-8">
    {{ form.csrf_token }}

    {{ render_field(form.name) }}
    {{ render_field(form.description) }}
    {{ render_field(form.measurement) }}
    {{ render_field(form.category) }}
    
    {% include "ingredients/_form_labels.html.j2" %}

    {% include "ingredients/_form_nutrition_values.html.j2" %}

    {{ render_field(form.submit) }}
</form>

{% endblock %}

