{% extends "base/base.html.j2" %}
{% block title %} Surovina {% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-8 col-sm-12">
        <div class="mb-2">
            <div>
                <h2>{{ ingredient.name }}</h2>
                <p>{{ ingredient.description if ingredient.description }}</p>
            </div>

            <div>   
                <span class="font-italic"> Míra: {{ ingredient.measurement.name }} </span>
                {% if ingredient.is_public %}
                    <span class="font-italic font-weight-light float-right" >Veřejná surovina (zdroj: {{ ingredient.source }})</span>
                {% endif %}
            </div>
            
            <div>
                <span class="font-italic"> Kategorie: {{ ingredient.category.name }} </span>
                <span class="float-right">
                {% if ingredient.is_vegetarian %}
                    {{ icon("vegetarian")}}
                {% endif %}
                {% if ingredient.is_vegan %}
                    {{ icon("vegan")}}
                {% endif %}
                {% if ingredient.lactose_free %}
                    {{ icon("lactose_free")}}
                {% endif %}
                {% if ingredient.gluten_free %}
                    {{ icon("gluten_free")}}
                {% endif %}
                </span>
            </div>
        </div>

        <hr>

        <details class="mb-3 mt-2">
        <summary>Nutriční hodnoty</summary>
            <table class="table">
            <tr>
                <th>{{ texts.energy_100 }}</th>
                <th>{{ texts.protein_100 }}</th>
                <th>{{ texts.fat_100 }}</th>
                <th>{{ texts.sugar_100 }}</th>
            </tr>
            <tr>
                <td>{{ ingredient.calorie }}</td>
                <td>{{ ingredient.protein }}</td>
                <td>{{ ingredient.fat }}</td>
                <td>{{ ingredient.sugar }}</td>
            </tr>
            </table>
        </details>

        {% if ingredient.can_current_user_edit %}
            {% include "ingredients/_edit_or_delete.html.j2"%}
            {% if from_new %}
            <div class="row">
                <a href="{{ url_for('IngredientsView:new') }}"><button class="btn btn-primary mt-3 ml-0">Přidat další surovinu</button></a>
            </div>
            {% endif %}
        {% endif %}
        <div>
        
        </div>
    </div>


    {% include ('recipes/_recipe_list.html.j2') %}
</div>

{% endblock %}