{% from "macros/turbo.html.j2" import button_to %}

{% extends "base/base.html.j2" %}
{% block title %} {{ ingredient.name }} {% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-8 col-sm-12 mb-4">
        <div class="mb-2">
            <div>
                <h2> {{ ingredient.name }} </h2>
                <p> {{ ingredient.description if ingredient.description }} </p>
            </div>

            <div>   
                <span class="fst-italic"> Míra: {{ ingredient.measurement.name }} </span>
                {% if ingredient.is_public %}
                    {% if ingredient.source == "nutridatabaze" %}
                        <span class="fst-italic font-weight-light float-end">Veřejná surovina (zdroj: <abbr title='Na základě dat z NutriDatabaze.cz, verze 7.16, ÚZEI, Praha, www.nutridatabaze.cz/.'> nutridatabaze.cz </abbr>)</span>
                    {% else %}
                        <span class="fst-italic font-weight-light float-end"> {{ ingredient.author.full_name }} </span>
                    {% endif %}
                {% endif %}
            </div>
            
            <div>
                <span class="fst-italic"> kategorie: {{ ingredient.category.name }} </span>
            </div>
        </div>

        <hr>

        <details class="mb-3 mt-2">
        <summary> nutriční hodnoty </summary>
            <table class="table">
            <tr>
                <th> energie (kJ) / 100g </th>
                <th> bílkoviny / 100g </th>
                <th> tuky / 100g </th>
                <th> sacharidy / 100g </th>
            </tr>
            <tr>
                <td> {{ ingredient.calorie }} </td>
                <td> {{ ingredient.protein }} </td>
                <td> {{ ingredient.fat }} </td>
                <td> {{ ingredient.sugar }} </td>
            </tr>
            </table>
        </details>

        {% if ingredient.alternative_measurements %}
        
            <details class="mb-3 mt-2">
            <summary> konverze mezi druhy měření </summary>
            {% for conversion in ingredient.alternative_measurements %}
                <li>{{ conversion.amount_from }} {{ conversion.ingredient.measurement.name }} → {{ conversion.amount_to }} {{ conversion.to_measurement.name }}</li>
            {% endfor %}

            {% if current_user.has_permission("manage-application") %}
            <div class="admin-field mt-3">
                <h4> přidat alternativní měření </h4>
                {% include ('conversions/_add.html.j2') %}
            </div>
            {% endif %}
            </details>
        
        {% else %}
            {% if current_user.has_permission("manage-application") %}
            <details class="mb-3 mt-2 admin-field">
            <summary> konverze mezi druhy měření </summary>

            <div class="mt-3">
                <h4> přidat alternativní měření </h4>
                {% include ('conversions/_add.html.j2') %}
            </div>
            </details>    
            {% endif %}
        {% endif %}

        {% if ingredient.can_current_user_edit %}
            {% include "ingredients/_edit_or_delete.html.j2"%}

            {% if from_new %}
            <div class="row">
                <a href="{{ url_for('IngredientView:new') }}"><button class="btn bg-color-primary-action color-white mt-3 ms-0"> přidat další surovinu </button></a>
            </div>
            {% endif %}

            {% if current_user.has_permission("manage-application") %}
            <div class="mt-4 admin-field">
                {% if ingredient.is_public %} {% set value="Vyřadit z veřejných" %} {% else %} {% set value="zařadit mezi veřejné" %} {% endif %}
                
                {{ button_to(url_for('IngredientView:toggle_public', id=ingredient.id), class="btn bg-color-secondary-action color-white", value=value) }}
            </div>
            {% endif %}

        {% endif %}
    </div>

    {% include ('recipes/_recipe_list.html.j2') %}
</div>

{% endblock %}