{% from "macros/turbo.html.j2" import button_to %}

{% if ingredient.source == "nutridatabaze" %}
    {% set source = "<abbr title='Na základě dat z NutriDatabaze.cz, verze 7.16, ÚZEI, Praha, www.nutridatabaze.cz/.'>" + ingredient.source + "</abbr>" %}
{% else %}
    {% set source = ingredient.author.full_name %}
{% endif %}

{% extends "base/base.html.j2" %}
{% block title %} Surovina {% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-8 col-sm-12 mb-4">
        <div class="mb-2">
            <div>
                <h2> {{ ingredient.name }} </h2>
                <p> {{ ingredient.description if ingredient.description }} </p>
            </div>

            <div>   
                <span class="fst-italic"> Míra: {{ ingredient.measurement.name }} </span>
                {% if ingredient.is_public %}
                    {% if ingredient.source == "nutridatabaze" %}
                        <span class="fst-italic font-weight-light float-end">Veřejná surovina (zdroj: <abbr title='Na základě dat z NutriDatabaze.cz, verze 7.16, ÚZEI, Praha, www.nutridatabaze.cz/.'>nutridatabaze.cz</abbr>)</span>
                    {% else %}
                        <span class="fst-italic font-weight-light float-end">ingredient.author.full_name</span>
                    {% endif %}
                {% endif %}
            </div>
            
            <div>
                <span class="fst-italic"> Kategorie: {{ ingredient.category.name }} </span>
            </div>
        </div>

        <hr>

        <details class="mb-3 mt-2">
        <summary>Nutriční hodnoty</summary>
            <table class="table">
            <tr>
                <th>{{ texts.energy_100 }}</th>
                <th>{{ texts.protein_100 }}</th>
                <th>{{ texts.fat_100 }}</th>
                <th>{{ texts.sugar_100 }}</th>
            </tr>
            <tr>
                <td>{{ ingredient.calorie }}</td>
                <td>{{ ingredient.protein }}</td>
                <td>{{ ingredient.fat }}</td>
                <td>{{ ingredient.sugar }}</td>
            </tr>
            </table>
        </details>

        {% if ingredient.alternative_measurements %}
        
            <details class="mb-3 mt-2">
            <summary> Konverze mezi druhy měření </summary>
            {% for conversion in ingredient.alternative_measurements %}
                <li>{{ conversion.amount_from }} {{ conversion.ingredient.measurement.name }} → {{ conversion.amount_to }} {{ conversion.to_measurement.name }}</li>
            {% endfor %}

            {% if current_user.is_admin or current_user.is_application_manager %}
            <div class="admin-field mt-3">
                <h4> Přidat alternativní měření </h4>
                {% include ('conversions/_add.html.j2') %}
            </div>
            {% endif %}
            </details>
        
        {% else %}
            {% if current_user.is_admin or current_user.is_application_manager %}
            <details class="mb-3 mt-2 admin-field">
            <summary> Konverze mezi druhy měření </summary>

            <div class="mt-3">
                <h4> Přidat alternativní měření </h4>
                {% include ('conversions/_add.html.j2') %}
            </div>
            </details>    
            {% endif %}
        {% endif %}

        {% if ingredient.can_current_user_edit %}
            {% include "ingredients/_edit_or_delete.html.j2"%}

            {% if from_new %}
            <div class="row">
                <a href="{{ url_for('IngredientsView:new') }}"><button class="btn btn-primary mt-3 ms-0">Přidat další surovinu</button></a>
            </div>
            {% endif %}

            {% if current_user.is_admin or current_user.is_application_manager %}
            <div class="mt-4 admin-field">
                {% if not ingredient.is_public and (current_user.is_application_manager or current_user.is_admin)  %}
                    {{ button_to(action=url_for('IngredientsView:publish', id=ingredient.id), class="btn btn-danger", value="Zařadit mezi veřejné") }}
                {% elif ingredient.is_public and (current_user.is_application_manager or current_user.is_admin) %}
                    {{ button_to(action=url_for('IngredientsView:unpublish', id=ingredient.id), class="btn btn-danger", value="Vyřadit z veřejných") }}
                {% endif %}
            </div>
            {% endif %}

        {% endif %}
    </div>

    {% include ('recipes/_recipe_list.html.j2') %}
</div>

{% endblock %}