{% macro stimulus() %}

<script type="module">

import { Application, Controller } from "https://unpkg.com/@hotwired/stimulus/dist/stimulus.js"
window.Stimulus = Application.start()

{% for controller in varargs %}
	{% if controller == "select2" %}
		{% include 'javascript/_enable_select2_controller.js' %}
	{% elif controller == "select-badges" %}
		{% include 'javascript/_select_badges_controller.js' %}
	{% elif controller == "editor" %}		
		{% include 'javascript/_enable_editor_controller.js' %}
	{% elif controller == "password-visibility" %}		
		{% include 'javascript/_password_visibility_controller.js' %}
	{% elif controller == "recipe-reaction" %}		
		{% include 'javascript/_recipe_reaction_controller.js' %}
	{% elif controller == "set-default-dates" %}		
		{% include 'javascript/_set_default_dates_controller.js' %}
	{% elif controller == "toggle-details" %}		
		{% include 'javascript/_toggle_details_controller.js' %}
	{% else %}
		console.log("Tento Stimulus controller neexistuje:")
		console.log(controller)
	{% endif %}
{% endfor %}

</script>

{% endmacro %}