{% macro stimulus() %}

<script type="module">

import { Application, Controller } from "https://unpkg.com/@hotwired/stimulus/dist/stimulus.js"
window.Stimulus = Application.start()

{% if config["APP_STATE"]=="development" %}
	window.Stimulus.debug = true
{% endif %}

{% include 'javascript/_enable_select2_controller.js' %}
{% include 'javascript/_select_badges_controller.js' %}
{% include 'javascript/_enable_editor_controller.js' %}
{% include 'javascript/_password_visibility_controller.js' %}
{% include 'javascript/_recipe_reaction_controller.js' %}
{% include 'javascript/_set_duration_controller.js' %}
{% include 'javascript/_toggle_details_controller.js' %}
{% include 'javascript/_clipboard_controller.js' %}
{% include 'javascript/_clicker_controller.js' %}
{% include 'javascript/_refresh_controller.js' %}
{% include 'javascript/_flashing_controller.js' %}
{% include 'javascript/_visibility_controller.js' %}

</script>

{% endmacro %}