# set portion_type_id = portion_type.id if portion_type is defined else 0

<form action="{{ url_for("AttendeeView:post", event_id=event.id, portion_type_id=portion_type_id) }}" class="row row-cols-lg-auto g-3 align-items-center" method="POST" target="_top">
  {% include "attendances/_form_fields.html.j2" %}
  <div class="col-2">
    {{ render_field(form.submit) }}
  </div>
</form>
