{% extends "base/base.html.j2" %}
{% block title %} strávníci {% endblock %}

{% block content %}
  <h1> strávníci na {{ link_to(event) }}</h1>

  <div>{{ event.people_without_attendee_count}} strávníků se základní porcí</div>

  <table class="table">
    <thead>
      <tr>
        <th>jméno</th>
        <th>poznámky</th>
        <th>omezení</th>
      </tr>
    </thead>

    <tbody>

    # set portion_types = [PortionType.default] + current_user.portion_types

    {% for portion_type in portion_types %}
      {% set event_portion_type = event.event_portion_type(portion_type) %}

      # if portion_type.id is none
        # set count = event.people_count_without_portion_type
        # set attendees = event.attendees_without_portion_type
      # else
        # set count = event.event_portion_type(portion_type).count
        # set attendees = event.attendees_with_portion_type(portion_type)
      # endif

      # if count and count > 0

       <tr class="fs-4">
        <td>
          <strong> {{ portion_type.name }} </strong>
        </td>
        <td colspan="2">
          {{ count }} {{ inflect("strávník", count) }}
        </td>
      </tr>

      {% for attendee in attendees %}
        <tr>
          <td>
            <strong> {{ attendee.name }} </strong>
          </td>

          <td> {{ attendee.note | default("", True) }} </td>

          <td>
            {% for label in attendee.labels %}
              {{ render_label(label) }}
            {% endfor %}
          </td>

        </tr>
      {% endfor %}

      # endif
    {% endfor %}
    </tbody>

  </table>
{% endblock %}
