{% extends "base/base.html.j2" %}
{% block title %} strávníci {% endblock %}

{% block script %}
  {{ stimulus("select-badges") }}
{% endblock %}

{% block content %}
  <h1 class="text-center font-comfortaa"> strávníci ({{event.people_count}}) na {{ link_to(event) }} </h1>

  {{ event.people_count_without_portion_type }} strávníků se základní porcí, a kromě toho:

  {% for portion_type in current_user.portion_types %}
    
    <details class="colored">
      <summary>
        {{ portion_type.name }} ({{ (portion_type.size * 100) | int }}%)
        <span class="float-end">
          {% include "portion_types/_portion_count_form.html.j2" %}      
        </span>
      </summary>

      <turbo-frame id="portion-type-{{portion_type.id}}">
      <div>
      
      <table class="table">
        <thead>
          <th>strávník</th>
        </thead>

        <tbody>
        {% for attendee in event.attendees_with_portion_type(portion_type) %}
          <tr> <td>
            {% if edit_id == attendee.id %}
              <form action="{{ url_for("AttendeeView:update", id=attendee.id) }}" class="row row-cols-lg-auto g-3 align-items-center" method="POST">
                {% with form=edit_form %}
                  {% include "attendances/_form_fields.html.j2" %}
                {% endwith %}
                <div class="col-2">
                    {{ render_field(edit_form.update) }}
                    <a href="{{ url_for("AttendanceView:index", event_id=event.id) }}", class="ms-2"> zrušit </a>
                </div>
              </form>
            {% else %}
            <div class="row">
              <div class="col-3">
                <strong> {{ attendee.name }} </strong>
              </div>

              <div class="col-2">
                {{ attendee.note | default("", True) }}
              </div>

              <div class="col-3">
                {% for label in attendee.labels %}
                  {{ render_label(label) }}
                {% endfor %}
              </div>

              <div class="col-3">
                <a href="{{ url_for("AttendanceView:index", event_id=event.id, edit_id=attendee.id) }}"> upravit </a>
                {{ icon_button_to(url_for("AttendeeView:delete", id=attendee.id), icon=True, value=icon('remove', style="font-size:2rem; color:red;"), form_class="ms-2") }}
              </div>

            </div>
            {% endif %}

            </td> </tr>
        {% endfor %}
        </tbody>
      </table>
      {% if event.people_without_attendee_count > 0 %}
        <strong>přidat dalšího strávníka</strong>
        <turbo-frame target="portion-type-{{portion_type.id}}">
          {% include "attendances/_new_form.html.j2" %}
        </turbo-frame>
      {% endif %}
    </div>
    </turbo-frame>

    </details>
  {% endfor %}
  
  <hr>
  
  <div class="row">
    <div class="col">
      souhrn pro tisk <a href="{{ url_for('AttendanceView:export', event_id=event.id) }}" data-turbo="false"> tady </a>
    </div>
    <div class="col">
      <turbo-frame id="new-portion-type-form" src="{{ url_for('PortionTypeView:new') }}" target="_top"></turbo-frame>
    </div>
  </div>


{% endblock %}