<div class="row mb-2 ml-1">
    {# <a class="btn btn-secondary mr-3" href="{{ url_for('EventsView:edit', id=event.id) }}">{{ texts.edit }} {{ icon("edit") }}</a> #}
    <form class="form form-inline" action="{{ url_for('EventsView:delete', id=event.id) }}" onsubmit="return confirm('Opravdu chcete smazat akci?');" method="post" accept-charset="utf-8">
        <button type="submit" class="btn btn-danger"> Smazat akci {{ icon("delete") }}</button>
    </form>
    <form class="form form-inline" action="{{ url_for('EventsView:toggle_archived', id=event.id) }}" method="post" accept-charset="utf-8">
    {% if not event.is_archived %}
        <button type="submit" class="btn btn-warning"> Archivovat {{ icon("archive") }}</button>
    {% else %}
        <button type="submit" class="btn btn-warning"> Aktivovat {{ icon("unarchive") }}</button>
    {% endif %}
    </form>
</div>