<details class="colored mb-2">
<summary> exporty </summary>
<div>
	<div class="row mb-2">
		<div class="row">
		<div class="col-12 col-sm-3">
			<a data-turbo="false" class="btn bg-color-secondary-action color-white me-2 mt-1 mt-lg-0 w-100" href="{{ url_for('EventExporterView:show_shopping_list', event_id=event.id) }}"> {{ icon("shopping") }} nákupní seznam </a>
		</div>
		<div class="col-12 col-sm-3">
			<a data-turbo="false" class="btn bg-color-secondary-action color-white me-2 mt-1 mt-lg-0 w-100" href="{{ url_for('EventExporterView:show_ingredient_list', event_id=event.id) }}"> {{ icon("list") }} nákupní seznam s recepty </a>
		</div>
		<div class="col-12 col-sm-3">
			<a data-turbo="false" class="btn bg-color-secondary-action color-white me-2 mt-1 mt-lg-0 w-100" href="{{ url_for('EventExporterView:show_recipe_list', event_id=event.id) }}"> {{ icon("food") }} jídelníček </a>
		</div>
		<div class="col-12 col-sm-3">
			<a data-turbo="false" class="btn bg-color-secondary-action color-white me-2 mt-1 mt-lg-0 w-100" href="{{ url_for('EventExporterView:show_cookbook', event_id=event.id) }}"> {{ icon("cookbook") }} kuchařka </a>
		</div>
		</div>
	</div>

	{# PDFs #}
	<div class="row mb-2 d-none d-md-block">
		<div class="row">

		<div class="col-12 col-sm-3">
			<a data-turbo="false" class="btn bg-color-secondary-action color-white me-2 mt-1 mt-lg-0 w-100" href="{{ url_for('EventExporterView:show_shopping_list_pdf', event_id=event.id) }}" target="_blank"> {{ icon("pdf") }} nákupní seznam </a>
		</div>
		<div class="col-12 col-sm-3">
			<a data-turbo="false" class="btn bg-color-secondary-action color-white me-2 mt-1 mt-lg-0 w-100" href="{{ url_for('EventExporterView:show_ingredient_list_pdf', event_id=event.id) }}" target="_blank"> {{ icon("pdf") }} nákupní seznam s recepty  </a>
		</div>
		<div class="col-12 col-sm-3">
			<a data-turbo="false" class="btn bg-color-secondary-action color-white me-2 mt-1 mt-lg-0 w-100" href="{{ url_for('EventExporterView:show_recipe_list_pdf', event_id=event.id) }}" target="_blank"> {{ icon("pdf") }} jídelníček  </a>
		</div>
		<div class="col-12 col-sm-3">
			<a data-turbo="false" class="btn bg-color-secondary-action color-white me-2 mt-1 mt-lg-0 w-100" href="{{ url_for('EventExporterView:show_cookbook_pdf', event_id=event.id) }}" target="_blank"> {{ icon("pdf") }} kuchařka </a>
		</div>
		</div>
	</div>

	{# Downloads #}
	<div class="row mb-2 d-md-none">
		<div class="row">

		<div class="col-12 col-sm-3">
			<a data-turbo="false" class="btn bg-color-secondary-action color-white me-2 mt-1 mt-lg-0 w-100" href="{{ url_for('EventExporterView:download_shopping_list_pdf', event_id=event.id) }}" target="_blank"> {{ icon("pdf") }} nákupní seznam </a>
		</div>
		<div class="col-12 col-sm-3">
			<a data-turbo="false" class="btn bg-color-secondary-action color-white me-2 mt-1 mt-lg-0 w-100" href="{{ url_for('EventExporterView:download_ingredient_list_pdf', event_id=event.id) }}" target="_blank"> {{ icon("pdf") }} nákupní seznam s recepty </a>
		</div>
		<div class="col-12 col-sm-3">
			<a data-turbo="false" class="btn bg-color-secondary-action color-white me-2 mt-1 mt-lg-0 w-100" href="{{ url_for('EventExporterView:download_recipe_list_pdf', event_id=event.id) }}" target="_blank"> {{ icon("pdf") }} jídelníček  </a>
		</div>
		<div class="col-12 col-sm-3">
			<a data-turbo="false" class="btn bg-color-secondary-action color-white me-2 mt-1 mt-lg-0 w-100" href="{{ url_for('EventExporterView:download_cookbook_pdf', event_id=event.id) }}" target="_blank"> {{ icon("pdf") }} kuchařka </a>
		</div>
		</div>
	</div>
</div>
</details>