{% from "macros/icons.html.j2" import icon %}

<div id="event-info">
	<h1 class="text-center"> {{ event.name }} </h1>

	<hr>

	<div class="row">

		<div class="col">
			<div class="row">		
					<div class="col mb-1 me-1 p-1 info-badge">
						Od {{ human_format_date(event.date_from, with_relative=False, with_weekday=False) }}
					</div>

					<div class="col mb-1 p-1 info-badge">
						Do {{ human_format_date(event.date_to, with_relative=False, with_weekday=False) }}
					</div>
				</div>
		</div>

		<div class="col">
			<div class="col mb-1 p-1 info-badge">
				 {{ event.duration }} dnů
			</div>
		</div>

	</div>

	<div class="row">
		<div class="col">
			<div class="row">		
				<div class="col mb-1 me-1 p-1 info-badge">
					Pro {{ event.people_count }} lidí 
				</div>
				<div class="col mb-1 p-1 info-badge">
				    {% if event.is_shared %}
				        <span> {{ icon("shared") }} </span>
				    {% endif %}
				</div>
			</div>
		</div>

		<div class="col">
		    {% if event.can_current_user_edit %}
				<form method="POST" action="{{ url_for('EditEventView:edit', event_id=event.id) }}">
					<button type="submit" class="btn btn-warning w-100"> Upravit {{ icon("edit") }} </button>
				</form>
		    {% endif %}
		</div>

	</div>

</div>