{% from "macros/icons.html.j2" import icon %}

<div id="event-info">
	<h1> {{ event.name }} </h1>		
	<span> Od {{ human_format_date(event.date_from) }} do {{ human_format_date(event.date_to) }} ({{ event.duration }} dnů)<br></span>
	<span> Pro {{ event.people_count }} lidí</span>

    <div>
        {% if event.is_shared %}
            <span class="font-italic font-weight-light float-right"> {{ icon("shared") }} </span>
        {% endif %}
    </div>

	<form method="POST" action="{{ url_for('EditEventView:edit', event_id=event.id) }}">
		<button type="submit" class="btn btn-warning"> Upravit {{ icon("edit") }} </button>
	</form>

</div>