{% from "macros/icons.html.j2" import icon %}

<div id="event-info">
	<h1 class="text-center font-comfortaa"> {{ event.name }} </h1>

	<hr>

	<div class="row ms-2 me-2">
		<div class="col-12 col-sm">
			<div class="row">
				<div class="col mb-1 me-1 p-2 info-badge">
					od {{ human_format_date(event.date_from, with_relative=False, with_weekday=False) }}
				</div>

				<div class="col mb-1 p-2 info-badge">
					do {{ human_format_date(event.date_to, with_relative=False, with_weekday=False) }}
				</div>
			</div>
		</div>

		<div class="col-12 col-sm">
			<div class="mb-1 p-2 info-badge">
				 {{ event.duration }} {{ event.duration_label }}
			</div>
		</div>

	</div>

	<div class="row ms-2 me-2">
		<div class="col-12 col-sm">
			<div class="row">
				<div class="col mb-1 me-1 p-2 info-badge">
					pro {{ event.people_count }} lidí
				</div>
				<div class="col col mb-1 p-2 info-badge">
				    {% if event.is_shared %}   <span class="me-2"> {{ icon("shared") }}   </span> {% endif %}
				    {% if event.is_archived %} <span class="me-2"> {{ icon("archived") }} </span> {% endif %}
				</div>
			</div>
		</div>

		<div class="col">
		    {% if event.can_current_user_edit %}
					<a href="{{ url_for('EventView:edit', id=event.id) }}" class="btn bg-color-primary-action color-white w-100 pb-2 pt-2" style=""> upravit {{ icon("edit") }} </a>
		    {% endif %}
		</div>

	</div>

</div>