<div class="row ms-0 mb-2" id="event-more-options">
    <div class="row" id="event-more-options-button-row">
        <div class="col-12 col-md-3 mb-1">
            {% if event.is_shared %}
                {% set share_text = "zneveřejnit" + icon("unshare") %}
            {% else %}
                {% set share_text = "zveřejnit" + icon("share") %}
            {% endif %}

            {{ button_to(url_for('EventsView:toggle_shared', id=event.id),
                class="btn bg-color-secondary-action color-white w-100", value=share_text) }}
        </div>

        <div class="col-12 col-md-3 mb-1">   
            {% if event.can_current_user_share %}
            {{ button_to(url_for('EditEventView:show_share_with_user', event_id=event.id),
                class="btn bg-color-secondary-action color-white w-100", value="sdílet dalším lidem" + icon('share')) }}
            {% else %}
            <button class="btn bg-color-secondary-action color-white w-100" disabled> nemůžete sdílet </button>
            {% endif %}
        </div>
 
        {# <div class="col-12 col-md-3 mb-1">   
            {{ button_to(url_for('EventsView:share_all_used_recipes', id=event.id),
                class="btn bg-color-secondary-action color-white w-100 ", value="Zveřejnit použité recepty"+ icon('share')) }}
        </div> #}

        <div class="col-12 col-md-3 mb-1">
            {% if not event.is_archived %}
                {% set archive_text = "archivovat" + icon("archive") %}
            {% else %}
                {% set archive_text = "aktivovat" + icon("unarchive") %}
            {% endif %}

            {{ button_to(url_for('EventsView:toggle_archived', id=event.id),
                class="btn bg-color-secondary-action color-white w-100 ", value=archive_text) }}
        </div>

        <div class="col-12 col-md-3 mb-1">  
            {{ button_to(url_for('EventsView:delete', id=event.id),
                class="btn bg-color-secondary-action color-white w-100 ", value="smazat akci " ~ icon("delete"), confirmation="Opravdu chcete smazat akci?") }}  
        </div>
    </div>
</div>