<details class="colored mb-2">
<summary> další akce </summary>
<div>
	<div class="row mb-2">
		<div class="row">
			<div class="col-12 col-sm-3">
				{{ button_to(url_for('EventsView:duplicate', id=event.id),
			                 class="btn bg-color-secondary-action color-white w-100", value="zkopírovat" + icon('duplicate')) }}
			</div>
			<div class="col-12 col-sm-3">
			</div>
			<div class="col-12 col-sm-3">
			</div>
			<div class="col-12 col-sm-3">
			</div>
		</div>
	</div>
</div>
</details>