<details class="colored mb-2" open>
<summary> další akce </summary>
<div>
	<div class="row mb-2">
		<div class="row">
			<div class="col-12 col-sm-3">
				{{ action_badge("duplicate", event, path=url_for("EventDuplicationView:new", id=event.id), class="w-100") }}

			</div>
			<div class="col-12 col-sm-3">
			</div>
			<div class="col-12 col-sm-3">
			</div>
			<div class="col-12 col-sm-3">
			</div>
		</div>
	</div>
</div>
</details>
