<details class="colored mb-2">
    <summary > sdílení </summary>
    <div>
        {% for event_role in event.user_roles %}
        <div class="col-12 row mb-2">
            <div class="col-3 pt-2">
            {{ event_role.user.email }} {{ icon(event_role.role) }}
            </div>
            <div class="col-2">
                {% if event.can_current_user_share %}    
                {{ button_to(url_for('ShareEventView:remove_sharing', event_id=event.id, user_id=event_role.user.id),
                class="btn", style="color:white; background-color: #A66A6A", value="odebrat práva" ~ icon('delete')) }}
                {% endif %}
            </div>
        </div>
        <hr>
        {% endfor %}

        {% if event.is_shared %}
        <div class="col-12 row mb-2" data-controller="clipboard">
            <div class="col-3 pt-2">
                <a href="{{ event.public_url }}" data-clipboard-target="source"> odkaz pro veřejné sdílení </a>
            </div>

            <div class="col-2">
                <button data-action="click->clipboard#copy" class="btn btn-secondary col"> {{ icon('clipboard')}} zkopírovat adresu </button>
            </div>
        </div>
        {% endif %}
    </div>

</details>
