<turbo-frame id="event-warnings">
	{% if event.zero_amount_ingredient_recipes
		  or event.empty_recipes
		  or event.no_measurement_ingredient_recipes
		  or event.no_category_ingredient_recipes
		  or event.recipes_without_category %}

	<hr>
		
	<div class="warning m-2 p-2 pb-3 pt-3 text-center">
		<h3 class="text-uppercase font-comfortaa"> Upozornění </h3>

		{% if event.zero_amount_ingredient_recipes %}
			{% for recipe in event.zero_amount_ingredient_recipes %}
				<li> {{ link_to(recipe) }} má surovinu s nulovou hodnotou </li>
			{% endfor %}
		{% endif %}

		{% if event.empty_recipes %}
			{% for recipe in event.empty_recipes %}
				<li> {{ link_to(recipe) }} nemá suroviny </li>
			{% endfor %}
		{% endif %}

		{% if event.no_measurement_ingredient_recipes %}
			{% for recipe in event.no_measurement_ingredient_recipes %}
				<li> {{ link_to(recipe) }} má surovinu bez metrik ({{ link_to(recipe.no_measurement_ingredients[0]) }}) </li>
			{% endfor %}
		{% endif %}

		{% if event.no_category_ingredient_recipes %}
			{% for recipe in event.no_category_ingredient_recipes %}
				<li> {{ link_to(recipe) }} má surovinu bez kategorie ({{ link_to(recipe.no_category_ingredients[0]) }}) </li>
			{% endfor %}
		{% endif %}


		{% if event.recipes_without_category %}
			{% for recipe in event.recipes_without_category %}
				<li> {{ link_to(recipe) }} nemá kategorii </li>
			{% endfor %}
		{% endif %}
	
	</div>
	{% endif %}
</turbo-frame>