{% extends "base/base.html.j2" %}
{% block title %} Akce {% endblock %}

{% block content %}

<h1>Moje akce
    <a href="{{ url_for('EventsView:new') }}"><button class="btn btn-secondary float-right"> Přidat akci </button></a>
</h1>

<table class="table">
    {% for event in current_user.events: %}
    <tr>
        <td>{{ link_to(event) }}</td>
    </tr>
    {% endfor %}
</table>

<hr>

{% endblock %}

