{% extends "base/base.html.j2" %}
{% block title %} Akce {% endblock %}

{% block content %}

<div class="row">
    <div class="col">
        <h1 class="text-uppercase font-comfortaa"> Moje akce </h1>
    </div>
    <div class="col">
        <a href="{{ url_for('EventsView:new') }}"><button class="btn btn-secondary float-end"> Přidat akci </button></a>
    </div>
</div>

<table class="table">
    {% for event in current_user.events %}
        {% if event.is_active %}
        <tr><td>{{ link_to(event) }}</td></tr>    
        {% endif %}
    {% endfor %}
</table>

<details open>
    <summary> Sdílené akce </summary>
    <table class="table">
        {% for event in current_user.role_events %}
            {% if event.is_active %}
            <tr><td> {{ link_to(event) }} {{ icon(event.current_user_role) }} </td></tr>    
            {% endif %}
        {% endfor %}
    </table>
</details>


{% if current_user.archived_events %}
<details>
    <summary>Archivované akce</summary>
    <table class="table">
    {% for event in current_user.events: %}
        {% if event.is_archived %}
        <tr><td>{{ link_to(event) }}</td></tr>    
        {% endif %}
    {% endfor %}
</table>
</details>
{% endif %}

{% endblock %}

