{% extends "base/base.html.j2" %}
{% block title %} Nová akce {% endblock %}

{% block content %}

<form method="post" action="{{ url_for('EventsView:post') }}" class="form-group col-6" accept-charset="UTF-8">
    {{ form.csrf_token }}

    {{ render_floating_field(form.name, placeholder="např. Tábor 2021") }}

    <div class="row mt-2">
        <div class="col-md-6 col-sm-12"> {{ render_floating_field(form.date_from) }} </div>
        <div class="col-md-6 col-sm-12"> {{ render_floating_field(form.date_to) }} </div>
    </div>

    {{ render_floating_field(form.people_count, placeholder="základní, u jednotlivých jídel je možné změnit") }}
    
    {{ render_field(form.submit) }}
</form>

{% endblock %}

