{% extends "base/base.html.j2" %}
{% block title %} {{ event.name }} {% endblock %}
{% block links %}
    {{ super() }}
    {{ turbo() }}
{% endblock %}

{% block content %}

<div class="mb-3">
{% include "events/_info.html.j2" %}
</div>

<hr>

<div>
<ul>
    {% for day in event.active_daily_plans %}
        <li>{{ link_to(day) }}
            {% if day.daily_recipes %}
                ({{ day.daily_recipes | length }})
            {% endif %}
        </li>
    {% endfor %}
</ul>
</div>

<hr>

{% if event.can_current_user_edit %}
    {% include "events/_delete_or_edit.html.j2" %}
{% endif %}

{% include "events/_export.html.j2" %}

{% if event.can_current_user_edit %}
    <turbo-frame id="event-warnings" src="{{ url_for('EventsView:warnings', id=event.id) }}"></turbo-frame>
{% endif %}

{% endblock %}