{% extends "base/base.html.j2" %}
{% block title %} {{ event.name }} {% endblock %}

{% block content %}

<div id="event-{{event.id}}-update-warning" class="text-center cursor-clickable" data-controller="refresh" data-action="click->refresh#refresh"></div>

<turbo-frame id="event-info">
    <div class="mb-3">
        {% include "events/_info.html.j2" %}
    </div>
</turbo-frame>

<div class="row ms-0" data-controller="clicker" data-clicker-target="area">
    {% for week in timetable.all_relevant_days_split_by_weeks %}
        <div class="row">
        {% for day in week %}
            {% include("daily_plans/_day_card.html.j2") %}
        {% endfor %}
        </div>
    {% endfor %}
</div>


{% if event.can_current_user_edit %}
    {% include "events/_more_options.html.j2" %}
{% endif %}

{% if event.can_current_user_edit %}
    <turbo-frame id="event-warnings" src="{{ url_for('EventView:warnings', id=event.id) }}"></turbo-frame>
{% endif %}

{% if event.can_current_user_edit and (event.is_shared or event.shared_with) %}
    {% include "events/_sharing.html.j2" %}
{% endif %}

{% include "events/_export.html.j2" %}

{% if event.can_current_user_edit %}
    {% include "events/_other_options.html.j2" %}
{% endif %}

{% endblock %}
