{% from "macros/general.html.j2" import options %}

<form class="form form-inline" action="{{ url_for('ConversionsView:add', ingredient_id=ingredient.id, next=request.url) }}" method="POST" id="conversion-create-form">
	<select class="form-control" name="new_measurement_id">
		{{ options(possible_alternative_measurements) }}
	</select>
	<input type="number" name="amount_from" class="form-control" placeholder="Množství v původní">
	<input type="number" name="amount_to" class="form-control" placeholder="Množství v nové">
	{# <input type="text" name="conversion" id="conversion" class="new-item" placeholder="Přidat další"> #}
	<button type="submit" class="btn btn-primary">Přidat</button>
</form>