{% extends "base/base.html.j2" %}
{% block title %} konverze {% endblock %}

 
{% block links %}
    {{ super() }}
    {{ turbo() }}
{% endblock %}


{% block content %}

<div class="text-center">
  <h1 class="text-uppercase font-comfortaa"> přepočty </h1>

  <table class="table">
    <thead>
      <th> název </th>
      <th> z </th>
      <th> na </th>
    </thead>
    <tbody>
        {% for conversion in conversions %}
            {% include 'conversions/_row.html.j2' %}
        {% endfor %}
    </tbody>
  </table>

 </div> 

{% endblock %}

