{% from "macros/icons.html.j2" import icon %}
{% from "macros/render_label.html.j2" import render_label %}

<tr id = "recipe-{{ recipe.id }}" class="h-5" data-controller="recipe-reactions">
	<td>{{ link_to(recipe) }}</td>
    {# <td>{{ recipe.concat_ingredients }}</td> #}
    <td>{{ recipe.category.name }}</td>
    <td>
        <span>
        {% for label in recipe.labels %}
        	{{ render_label(label) }}
            {# {{ icon(label.icon_name) }}             #}
        {% endfor %}
        </span>
    </td>
    <td>{{ recipe.author.name }}</td>
    {% if current_user.is_authenticated %}
        
	<td>
		<form method="post" action="{{ url_for('PublicRecipesView:toggle_reaction', recipe_id=recipe.id) }}">
			<button type="submit" class="invisible-button">
				{% if recipe.has_reaction %}
					<span>{{ icon("heart_full", action="click->recipe-reactions#empty") }}</span>
				{% else %}
					<span>{{ icon("heart_empty", action="click->recipe-reactions#fill") }}</span>
				{% endif %}
			</button>
		</form>
	</td>
    {% endif %}

    <td>
    	<span class="ms-1">{{ recipe.reactions | length }}</span>
    </td>
</tr>