<table  id="table" class="table"
	   	data-filter-control="true" data-toggle="table" data-search="true"  data-pagination="true" data-sort-name="reaction_count" data-sort-order="desc">
    <thead>
    	<th data-field="recipe" data-sortable="true"> recept </th>
    	<th data-field="ingredients" data-sortable="true"> seznam surovin </th>
    	<th data-field="category" data-sortable="true"> kategorie </th>
        <th data-field="dietary" > specifika </th>
    	<th data-field="author" data-sortable="true"> autor*ka </th>
        {% if current_user.is_authenticated %}
    	<th data-field="reactions" data-sortable="true"> {{ icon("heart_full") }} </th>
        {% endif %}
  		<th data-field="reaction_count" data-sortable="true"> {{ icon("heart_empty") }} </th>
    </thead>
    
    {% include "public_recipes/_recipes_table_body.html.j2" %}
</table>