{% extends "base/base.html.j2" %}
{% block title %} databáze receptů {% endblock %}

{% block meta %}
  <meta name="turbo-visit-control" content="reload">
{% endblock %}

{% block content %}

<h1 class="font-comfortaa"> databáze sdílených receptů </h1>

{% include "public_recipes/_filter.html.j2" %}

<hr>

<turbo-frame id="recipes">
  <div class="row">

    {% for recipe in recipes %}
      <div class="col-12 col-md-4 mb-3">
        {% include "public_recipes/_recipe_card.html.j2" %}
      </div>
    {% endfor %}

  </div>
</turbo-frame>

{% endblock %}

