{% extends "base/base.html.j2" %}

{% block links %}
    {{ super() }}
    {{ turbo() }}
{% endblock %}

{% block title %} {{ texts.recipe_all }} {% endblock %}


{% block style %}
	<link href="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.css" rel="stylesheet">
{% endblock %}

{% block script %}
	<script src="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.js"></script>
{% endblock %}

{% block content %}
  <form action="{{ url_for('PublicRecipesView:filter') }}" method="post" class="form-inline form-control" accept-charset="UTF-8">
  	{{ form.csrf_token }}
  		<div>
  			<div class="row mt-2">
  				{{ form.ingredient_name.label(class_="ml-2") }}
  				{{ render_field(form.ingredient_name, has_label=False, class="ml-3") }}
          {{ form.category.label(class_="ml-2") }}
          {{ render_field(form.category, has_label=False, class="ml-3") }}
  			</div>
        <div class="row">
          <details open>
            <summary>Dietní omezení</summary>
            {{ render_field(form.is_vegetarian) }}
            {{ render_field(form.is_vegan) }}
            {{ render_field(form.without_gluten) }}
            {{ render_field(form.without_lactose) }}
          </details>
        </div>
        <div class="row">
  				{{ render_field(form.with_reaction, has_label=False, class="ml-3") }}
  		    {{ form.submit(class_='btn btn-primary ml-3') }}
        </div>
  		</div>
  </form>

  {% include "public_recipes/_recipes_table.html.j2"%}

{% endblock %}

