{% macro option(object) %}

	<option name='{{object.name}}' value='{{object.id}}'>{{object.name}}</option>"

{% endmacro %}



{% macro options(list) %}

	{% for item in list %}
		{{ option(item) }}\n
	{% endfor %}

{% endmacro %}

{# {% macro list_of_links(list) %}

    <ul>
    	{% for item in list %}
    		<li>{{ link_to(item) }}</li>
    	{% endfor %}
    </ul>

{% endmacro %} #}