{% macro icon(name) %}

    {% set tooltip = kwargs.pop('tooltip', None) %}
    {% set value = kwargs.pop('value', None) %}
    {% set class_ = kwargs.pop('class', '') %}
    {% set cursor_class = kwargs.pop('cursor_class', "cursor-default") %}
    {% set class_ = class_ + " " + cursor_class %}
    {% set fa_class_ = "" %}
    
    {% set action = kwargs.pop('action', None) %}

    {# Pages #}
    {% if name=="user" %}
    	{% set fa_class_ = 'far fa-user-circle' %}
    {% elif name=="daily" %}
        {% set fa_class_ = 'fas fa-calendar-alt' %}
    {% elif name=="more" %}
        {% set fa_class_ = 'fas fa-ellipsis-h' %}
    {% elif name=="image" %}
        {% set fa_class_ = 'far fa-image' %}


    {# Operations #}
    {% elif name=="edit" %}
        {% set fa_class_ = 'fas fa-pencil-alt' %}
    {% elif name=="delete" %}
        {% set fa_class_ = 'fas fa-trash' %}
    {% elif name=="duplicate" %}
        {% set fa_class_ = 'far fa-clone' %}
    {% elif name=="archive" or name=="archived" %}
        {% set fa_class_ = 'fas fa-archive' %}
    {% elif name=="unarchive" %}
        {% set fa_class_ = 'fas fa-archive' %}

    {% elif name=="remove" %}
        {% set value = '×' %}
    {% elif name=="add" %}
        {% set fa_class_ = 'fas fa-plus' %}


    {% elif name=="previous" %}
        {% set fa_class_ = 'fas fa-chevron-left' %}
    {% elif name=="next" %}
        {% set fa_class_ = 'fas fa-chevron-right' %}
    {% elif name=="clipboard" %}
        {% set fa_class_ = 'fa fa-clipboard' %}


    {# Sharing, publishing,... #}
    {% elif name=="shared" %}
        {% set fa_class_ = 'fas fa-user-friends' %}
        {% if not tooltip %} {% set tooltip="zveřejněno" %} {% endif %}
        {% set with_tooltip = True %}
    {% elif name=="share" %}
        {% set fa_class_ = 'fas fa-user-friends' %}
    {% elif name=="unshare" %}
        {% set fa_class_ = 'fas fa-ban' %}
    {% elif name=="public" %}
        {% set fa_class_ = 'fas fa-user-friends' %}
        {% if not tooltip %} {% set tooltip="z veřejných" %} {% endif %}
        {% set with_tooltip = True %}
    {% elif name=="heart_empty" %}
        {% set fa_class_ = 'far fa-heart color-highlight' %}
    {% elif name=="heart_full" %}
        {% set fa_class_ = 'fas fa-heart color-highlight' %}
    
    {% elif name=="collaborator" %}
        {% set fa_class_ = 'fas fa-user-edit' %}
        {% if not tooltip %} {% set tooltip="editace" %} {% endif %}
        {% set with_tooltip = True %}
    {% elif name=="viewer" %}
        {% set fa_class_ = 'far fa-eye' %}
        {% if not tooltip %} {% set tooltip="prohlížení" %} {% endif %}
        {% set with_tooltip = True %}

    {# Misc #}
    {% elif name=="recipe_database" %}
        {% set fa_class_ = 'fas fa-book-open' %}
    {% elif name=="cookbook" %}
        {% set fa_class_ = 'fas fa-book' %}
    {% elif name=="food" %}
        {% set fa_class_ = 'fas fa-utensils' %}
    {% elif name=="shopping" %}
        {% set fa_class_ = 'fas fa-shopping-basket' %}
    {% elif name=="info" %}
        {% set fa_class_ = 'fas fa-info' %}
    {% elif name=="info-circle" %}
        {% set fa_class_ = 'fas fa-info-circle' %}
    {% elif name=="list" %}
        {% set fa_class_ = 'fas fa-list-ul' %}
    {% elif name=="seedling" %}
        {% set fa_class_ = 'fas fa-seedling' %}

    {% elif name=="up" %}
        {% set fa_class_ = 'fas fa-sort-up' %}
    {% elif name=="down" %}
        {% set fa_class_ = 'fas fa-sort-down' %}

    {# Brands #}
    {% elif name=="github" %}
        {% set fa_class_ = 'fab fa-github' %}
    {% elif name=="facebook" %}
        {% set fa_class_ = 'fab fa-facebook-square' %}
    {% elif name=="pdf" %}
        {% set fa_class_ = 'fas fa-file-pdf' %}
        {% if not tooltip %} {% set tooltip="pdf" %} {% endif %}
        {% set with_tooltip = True %}

    {% else %}
        {% set fa_class_ = '' %}
    {% endif %}

    {% set with_tooltip = kwargs.pop('with_tooltip', with_tooltip) %}

    {% if with_tooltip %}
        <abbr title="{{ tooltip }}">
    {% endif %}

    <i class="{{ fa_class_ + ' ' + class_ }}" {% if action %}data-action="{{ action }}"{% endif %}>
        {% if value %}{{ value }}{% endif %}
    </i>


    {% if with_tooltip %}
        </abbr>
    {% endif %}
	
{% endmacro %}