{% macro loader() %}

<div style="margin: auto; padding-left: 2rem;">
    <div class="loader-ellipsis">
    	<div></div>
    	<div></div>
    	<div></div>
    	<div></div>
    </div>
</div>

{% endmacro %}