{% from "macros/icons.html.j2" import icon %}
{% from "macros/turbo.html.j2" import button_to %}

{% macro render_image(image) %}
	{% set thumbnail = kwargs.pop('thumbnail', False) %}
	{% set class = kwargs.pop('class', "") %}
	{% set style = kwargs.pop('style', "") %}
	{% set with_delete = kwargs.pop('with_delete', False) %}


	{% if thumbnail %}
		{% set url = image.thumbnail_url %}
	{% else %}
		{% set url = image.url %}
	{% endif %}

	<div style="position: relative;">
		{{ button_to(url_for('FilesView:delete', id=image.id), class="delete-icon", value="&times", confirmation="Opravdu chcete smazat fotku?") }}
		<img style="{{ style }}" class="{{ class }} img-fluid" src="{{ url }}" alt="{{ image.full_name }}"/>	
	</div>

    {% if with_delete and image.recipe.can_current_user_edit %}
        <form action="{{ url_for('FilesView:delete', id=image.id) }}" method="post">
            <button type="submit" class="btn btn-danger"> Smazat foto {{ icon("delete") }} </button>
        </form>
    {% endif %}	

{% endmacro %}