{% macro render_image(image) %}

	{% set thumbnail = kwargs.pop('thumbnail', False) %}
	{% set class = kwargs.pop('class', "") %}
	{% set style = kwargs.pop('style', "") %}

	{% if thumbnail %}
		{% set url = image.thumbnail_url %}
	{% else %}
		{% set url = image.url %}
	{% endif %}

	<img style="{{ style }}" class="{{ class }} img-fluid" src="{{ url }}" alt="{{ image.full_name }}"/>		

{% endmacro %}