{% macro render_label(label) %}

{% if label.color %}
	{# TODO: nějak dát dopořádku #}
	{# {% set color = label.color %} #}
	{% set color = "highlight" %}
{% else %}
	{% if label.category.name == "dietary" %}
		{% set color = "light-green"%}
	{% else %}
		{% set color = "highlight" %}
	{% endif %}	
{% endif %}


{% if label.category.name == "dietary" %}

	<img src="{{ url_for('static', filename='icons/' + label.name +'.svg') }}" style="height: 7rem;">

{% else %}

	<span class="p-2 m-1 bg-color-{{color}} rounded-pill lh-3 text-nobreak">
		{{ label }}
	</span>

{% endif %}

{% endmacro %}