{% macro render_label(label) %}

{% set size = kwargs.pop('size', 4) %}

{% if label.color %}
	{% set color = label.color %}
{% else %}
	{% if label.category.name == "dietary" %}
		{% set color = "highlight"%}
	{% else %}
		{% set color = "highlight" %}
	{% endif %}	
{% endif %}


{# {% if label.category.name == "dietary" %}

	<img src="{{ url_for('static', filename='icons/' + label.name +'.svg') }}"
	     style="height: {{size}}rem;"
	>

{% else %} #}

	<span class="ps-2 pe-2 pt-0 pb-0 m-1 bg-color-{{color}} rounded-pill lh-2 text-nobreak" style="display: inline-block;">
		{{ label }}
	</span>

{# {% endif %} #}

{% endmacro %}
