{% macro render_field(field) %}

  {% set with_errors = kwargs.pop('with_errors', True) %}
  {% set with_label = kwargs.pop('has_label', True) %}
  {% set label = kwargs.pop('label', field.label.text) %}
  {% set placeholder = kwargs.pop('placeholder', label) %}
  {% set class_ = kwargs.pop('class', '') %}

  {% if field.flags.required %}
    {% set class_ = class_ + ' required' %}
  {% endif %}

  {% if field.type in ('SubmitField', 'ButtonField', 'CancelButtonField', 'AddButtonField', 'DeleteButtonField', 'EditButtonField') %}
    {% set with_label = False %}
    {% set with_errors = False %}
  {% endif %}

  {% if with_label and field.type != 'BooleanField' %}
    <label for="{{ field.id }}"
           class="control-label{% if field.flags.required %} required{% endif %}">
        {{ label }}
    </label>
    {% if "data_toggle" in kwargs and kwargs["data_toggle"] == "tooltip" %}
      <i class="fa fa-question-circle" data-toggle="tooltip" title="{{ kwargs['title'] }}"></i>
    {% endif %}
  {% endif %}

  {% if field.type == 'BooleanField' %}
    <div class="form-check">
      {{ field(class_=class_ + ' form-check-input', **kwargs) }}
      <label class="form-check-label" for="{{ field.id }}">{{ field.label.text|safe }}</label>
    </div>
  {% else %}
    {% if field.type in ('TextField', 'TextAreaField', 'PasswordField',
                         'IntegerField', 'StringField', 'EmailField', 'DateField', 'URLField', 'TelField', 'ComaFloatField') %}
      {% set class_ = class_ + ' form-control' %}
    {% elif field.type == 'FileField' %}
      {% set class_ = class_ + ' form-control-file' %}
    {% elif field.type == 'SelectField' %}
      {% set class_ = class_ + ' form-control' %}

    {% elif field.type == 'SubmitField' %}
      {% set class_ = class_ + ' btn btn-primary' %}

    {# Our custom button fields #}
    {% elif field.type == 'ButtonField' %}
      {% set class_ = class_ + ' btn' %}
    {% elif field.type == 'AddButtonField' %}
      {% set class_ = class_ + ' btn btn-success' %}
    {% elif field.type == 'CancelButtonField' %}
      {% set class_ = class_ + ' btn btn-secondary' %}
    {% elif field.type == 'EditButtonField' %}
      {% set class_ = class_ + ' btn btn-primary' %}
    {% elif field.type == 'DeleteButtonField' %}
      {% set class_ = class_ + ' btn btn-warning' %}
    {% endif %}

    {% if field.type == 'SelectField' %}
      {{ field(class_=class_, **kwargs) }}
    {% elif field.type == 'PasswordField' %}
      {{ field(class_=class_, placeholder=placeholder, data_password_visibility_target="passwordField", **kwargs) }}
    {% else %}
      {{ field(class_=class_, placeholder=placeholder, **kwargs) }}
    {% endif %}

  {% endif %}

  {% if with_errors and field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li class="warning no-list">{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}

{% endmacro %}

