{% macro button_to(action) %}

  {% set class_ = kwargs.pop('class', "") %}
  {% set form_class = kwargs.pop('form_class', "") %}
  {% set data = kwargs.pop('data', None) %}
  {% set icon = kwargs.pop('icon', None) %}
  {% set value = kwargs.pop('value', None) %}
  {% set method = kwargs.pop('method', "POST") %}
  {% set disabled = kwargs.pop('disabled', False) %}

  {% set confirmation = kwargs.pop('confirmation', None) %}


<form method="{{ method | upper }}"
      action="{{ action }}"
      {% if form_class %} class="{{ form_class }}" {% endif %}
      {% if data %} data-turbo-frame="{{ data }}" {% endif %}
      {% if confirmation %} onsubmit='return confirm("{{ confirmation }}");' {% endif %}
>

  <button type="submit"
          class="{% if icon %} icon {% endif %} {{ class_ }}"
          {% if disabled %} disabled {% endif %}>
      
      {% if value %} {{ value | safe }} {% endif %}
  
  </button>

</form>

{% endmacro %}