{% macro button_to(action="") %}
  {% set class_ = kwargs.pop('class', "") %}
  {% set form_class_ = kwargs.pop('form_class', "") %}
  {% set data = kwargs.pop('data', None) %}
  {% set icon = kwargs.pop('icon', None) %}
  {% set value = kwargs.pop('value', None) %}
  {% set method = kwargs.pop('method', "POST") %}
  {% set disabled = kwargs.pop('disabled', False) %}


<form method="{{ method | upper }}" action="{{ action }}" class="{{ form_class_ }}" {% if data %} data-turbo-frame="{{ data }}" {% endif %}>
    <button type="submit" class="{% if icon %} icon {% endif %} {{ class_ }}" {% if disabled %} disabled {% endif %}>
      {% if value %} {{ value | safe }} {% endif %}
    </button>
</form>

{% endmacro %}