{% extends "base/base.html.j2" %}
{% block title %} úkol {% endblock %}

{% block content %}

<form action="{{ url_for('DailyPlanTaskView:update', id=task.id) }}" class="row row-cols-auto g-3 align-items-center" method="post"  accept-charset="UTF-8">
        {{ form.csrf_token }}
    <div class="col-12">
        {{ render_floating_field(form.name, class="mb-2", placeholder="např. Objednat pečivo") }}
    </div>
    <div class="col-6">
        {{ render_floating_field(form.description, class="mb-2", placeholder="např. Objednat pečivo z Jednoty ve Vrchlabí") }}
    </div>
    <div class="col-6">
        {{ render_field(form.submit, value="upravit", data_turbo="false") }}
        {{ link_to(task.daily_plan, value="zrušit", class="ms-2") }}
    </div>
</form>

{% endblock %}

