{% extends "base/base.html.j2" %}
{% block title %} strávníci {% endblock %}


{% block script %}
  {{ stimulus("select-badges") }}
{% endblock %}

{% block content %}
  {% for portion_type in current_user.portion_types %}
      {{ portion_type.name }}
  {% endfor %}
  

  {% include "portion_types/_new.html.j2" %} 

{% endblock %}