{% if day.weekday in ["neděle"]  %}
  {% set color = "secondary-highlighted" %}
{% endif %}

# set daily_plan = day

<div data-action="click->clicker#activateLink"
  class="col-12 col-md p-2 mb-2 mb-md-3 ms-2 me-2 bg-color-{{ color }} rounded text-center text-nobreak {{ css_classes }} lh-2 text-truncate user-select-none">

  <div><h2>{{ link_to(day, class="fs-5") }}</h2></div>

    ## desktop
    <ul class="ps-0 ms-0 d-none d-md-block"
      {% if event.can_current_user_edit %}
      data-controller="sortable"
      data-sortable-group-value="daily-plan-recipes"
      data-sortable-list-id="{{day.id}}"
      {% endif %}
      >

      {% for daily_recipe in day.daily_recipes %}
        <li class="text-truncate"
            data-sortable-update-url="{{ url_for("DailyPlanRecipeView:sort", daily_recipe_id=daily_recipe.id)}}"
            data-sortable-move-url={{ url_for("DailyPlanRecipeView:change_daily_plan", daily_recipe_id=daily_recipe.id)}}
            >

          {% if not daily_recipe.recipe.is_shopping %}
            {{ link_to(daily_recipe.recipe, portion_count=daily_recipe.portion_count, style="user-select: none") }}
          {% else %}
            <span class="color-grey"> nákup </span>
          {% endif %}
        </li>
      {% else %}
        # if event.can_current_user_edit
          <span class="text-wrap"><em>zatím tu nejsou žádné recepty. nějaký přidej, nebo je přesuň z jiného dne</em></span>
        # endif
      {% endfor %}
    </ul>

    ## mobile
    <ul class="ps-0 ms-0 d-md-none">

      {% for daily_recipe in day.daily_recipes %}
        <li class="text-truncate">

          {% if not daily_recipe.recipe.is_shopping %}
            {{ link_to(daily_recipe.recipe, portion_count=daily_recipe.portion_count, style="user-select: none") }}
          {% else %}
            <span class="color-grey"> nákup </span>
          {% endif %}
        </li>
      {% else %}
        # if event.can_current_user_edit
          <span class="text-wrap"><em>zatím tu nejsou žádné recepty. nějaký přidej, nebo je přesuň z jiného dne</em></span>
        # endif
      {% endfor %}

    </ul>

    # if event.can_current_user_edit
    <button type="button" class="btn bg-color-primary-action text-white" data-bs-toggle="modal" data-bs-target="#add-recipe-to-{{day.id}}-modal" data-controller="custom-events">
      víc jídla! {{ icon("add") }}
    </button>
    # endif
  
  {% if day.has_tasks %}
    <hr>
    <h3 class="fs-5">úkoly</h3>
  {% endif %}

  {% for task in day.all_tasks %}
    {{ task }} <br>
  {% endfor %}

</div>

{% with modal_id="add-recipe-to-"~day.id~"-modal" %}
  {% include "daily_plans/_add_recipe_modal.html.j2" %}
{% endwith %}
