{% extends "base/base.html.j2" %}
{% block title %} Skautská kuchařka {% endblock %}

{% block content %}

<div class="font-montserrat text-larger">
    <div class="mb-5 text-center" >
        <p class="mb-2">
            <h2 class="mt-2 text-uppercase color-dark-green font-comfortaa-bb">Vítejte na stránkách skautské kuchařky.</h2>
            Kuchařka má pomoci kuchařům zejména na skautských táborech a kurzech.<br>
            Umožňuje generování nákupních seznamů, správu a sdílení receptů nebo výpočty nutričních hodnot jídel.<br>
        </p>
        <p>
            <h2 class="mt-5 text-uppercase color-dark-green font-comfortaa-bb">Co umí skautská kuchařka?</h2>
        </p>
    </div>
    
    <hr>

    <div class="mb-5 text-center row">
        {# <div class="col d-sm-none d-md-block"></div> #}
	    <div>              
	        <h4 class="color-dark-green text-uppercase font-comfortaa-b mt-4">Přidávání vlastních surovin</h4>
	        Kromě základních surovin, které mají k dispozici všichni, si můžete vytvořit vlastní seznam surovin, které běžně používáte.
	        <h4 class="color-dark-green text-uppercase font-comfortaa-b mt-4">Ukládání receptů</h4>
	        Všechny jednou zadané recepty už máte navždy uložené ve svém účtu.<br>
	        Můžete mezi nimi hledat (a to i přes suroviny), tisknout je a přidávat do jídelníčky
	        <h4 class="color-dark-green text-uppercase font-comfortaa-b mt-4">Sdílení receptů</h4>
	        Můžete sdílet své recepty s ostatními a zároveň se jejich recepty <a href="{{ url_for('PublicRecipesView:public_index') }}">inspirovat</a>.<br>
	        <h4 class="color-dark-green text-uppercase font-comfortaa-b mt-4">Jídelníček</h4>
	        Poskládejte si jídelníček akce a mějte kompletní přehled.<br>
            <h4 class="color-dark-green text-uppercase font-comfortaa-b mt-4">Export jídelníčku</h4>
            Z vytvořeného jídelníčku si pak můžete vyexportovat seznam receptů a nákupní seznam s množstvím jednotlivých surovin podle zadaného počtu strávníků.
	    </div>
	</div>
	
	<hr>
    
    <div class="color-light-blue text-uppercase text-center font-comfortaa-b mb-5">
        <div class="row">
            <div class="col-sm-12 col-md-6 text-sm-center text-md-start">
                <a href="{{ url_for_security('login') }}"> Přihlašte se! </a>
            </div>            
            <div class="col-sm-12 col-md-6 text-sm-center text-md-end">
                <a href="{{ url_for_security('register') }}"> Zaregistrujte se! </a>
            </div>            
        </div>
    </div>
</div>

<footer class="footer">
    s 💚 vyrobil <a href="jpeterka.cz">Obr</a> pro <a href="https://fons.skauting.cz">Fons Beníšky</a>
</div>

{% endblock %}

