<form action="{{ url_for('RecipeCategoriesView:post') }}" method="POST" id="recipe-category-create-form">
	<input type="text" name="recipe-category" id="recipe-category" class="new-item" placeholder="Přidat další" autocomplete="off">
</form>