<turbo-frame id="recipe-category-{{ category.id }}">
  <li class="editing">
    <div>
      <label></label>
    </div>
    <form method="POST" action="{{ url_for('RecipeCategoriesView:edit', id=category.id) }}" data-turbo-frame="all">
      <input type="text" name="recipe-category" value="{{ category.name }}" class="edit" autofocus>
    </form>
  </li>
</turbo-frame>