{% extends "base/base.html.j2" %}
{% block links %}
    {{ super() }}
    {{ turbo() }}
{% endblock %}

{% block flashing %}
    {% include('base/_turbo_flashing.html.j2') %}
{% endblock %}

{% block title %} Kategorie receptů {% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="text-uppercase font-comfortaa"> Kategorie receptů </h1>

      <ul class="list">
        <turbo-frame id="recipe-categories">
          {% for category in recipe_categories %}
            {% if category.id != edit_id %}
              {% include 'recipe_categories/_recipe_category.html.j2' %}
            {% else %}
              {% include 'recipe_categories/_edit.html.j2' %}
            {% endif %}
          {% endfor %}
        </turbo-frame>
      </ul>

      <form action="{{ url_for('RecipeCategoriesView:create') }}" method="POST" id="recipe-category-create-form">
        {% include 'recipe_categories/_add.html.j2' %}
      </form>

</div> 
{% endblock %}

