{% extends "base/base.html.j2" %}
{% block title %} Kategorie receptů {% endblock %}

{% block links %}
    {{ super() }}
    {{ turbo() }}
{% endblock %}

{% block flashing %}
    {% include('base/_turbo_flashing.html.j2') %}
{% endblock %}


{% block content %}
<div class="text-center">
    <h1 class="text-uppercase font-comfortaa"> Kategorie receptů </h1>
    <table class="table">
    <thead>
      <th style="width: 40%"> Název </th>
      <th style="width: 20%"> Popis </th>
      <th style="width: 20%"> Použití </th>
      <th style="width: 5%"> </th>
      <th></th>
      <th></th>
    </thead>
    <tbody id="recipe-categories">
      {% for category in recipe_categories %}
        {% set editing = (edit_id and measurement.id == edit_id | int) %}

        {% include 'recipe_categories/_row.html.j2' %}

        {% if editing %}
          {% include 'recipe_categories/_edit.html.j2' %}
        {% endif %}

      {% endfor %}
    </tbody>
  </table>

  {% include 'recipe_categories/_add.html.j2' %}

</div> 
{% endblock %}

