<div class="mt-3 mb-3 border rounded p-2" id="recipe-description">
    <h3>Návod k přípravě</h3>
    {{ recipe.description | replace("<script>","<span class='hidden'>") | replace("</script>", "</span>") | safe }}
</div>