{% if current_user.draft_recipes %}

<div id="draft-recipes" class="mt-3 col-12 col-sm-6 col-md-4">
    <h6> Dokončit rozdělané recepty </h6>

    <ul class="no-list">
    {% for recipe in current_user.draft_recipes %}
        <li> {{ link_to(recipe) }} </li>
    {% endfor %}
    </ul>    
</div>

{% endif %}
