<tr id="ingredient-{{ingredient.id}}">
    <td class="align-middle">{{ link_to(ingredient) }}</td>
    <td>
        <form action="{{ url_for('RecipesView:change_ingredient_amount', recipe_id=recipe.id, ingredient_id=ingredient.id) }}" class="form form-inline" method="post">
            <input type="number" class="form-control" name="amount" value="{{ ingredient.amount|round(2,'common') }}">
            <input type="submit" class="form-control btn btn-warning" value="Změnit">
        </form>
    </td>
</tr>