<details class="mt-2" open>
<summary>Štítky</summary>
<div data-controller="enable-select2">
    {{ render_field(form.labels, has_label=False, data_enable_select2_target="select") }}
</div>
</details>