<details class="colored">
    <summary> fotky </summary>
    <div class="p-2">
        <div class="row" style="align-items: center;">
            
        {% for image in recipe.images %}
        <div class="col-12 col-sm-6 col-md-4 pb-2">
            {{ render_image(image, with_delete=True, with_pin=True, style="border-radius:0.4rem") }}
        </div>
        {% endfor %}
        </div>
        
    {% if recipe.can_current_user_edit %}


        {{ dropzone.create(action=url_for('EditRecipeView:upload_photo', recipe_id=recipe.id)) }}
        {{ dropzone.config() }}
        {{ dropzone.config(redirect_url=url_for('RecipeView:show', id=recipe.id), default_message="přetáhni fotku nebo klikni pro výběr.") }}

        {# {{ button_to(url_for('EditRecipeView:delete_all_photos', recipe_id=recipe.id), class="btn bg-color-secondary-action color-white", value='smazat všechny soubory') }} #}


    {% endif %}
    </div>
</details>