<h4> galerie </h4>

# set editable = recipe.can_current_user_edit

<turbo-frame id="images">
    <div class="p-2">
        <div class="row">
            {% for image in recipe.images %}
            <div class="col-12 col-sm-6 col-md-3 pb-2">
                {{ recipe_gallery_image(image, with_delete=editable, with_pin=editable, style="border-radius:0.4rem;") }}
            </div>
            {% endfor %}
        </div>

    {% if editable %}
        {{ dropzone(action=url_for('RecipePhotoView:upload_photo', recipe_id=recipe.id), default_message="přetáhni fotku nebo klikni pro přidání.") }}
    {% endif %}
    </div>
</turbo-frame>
