    
{% if recipe.can_current_user_edit %}
<div class="mb-5 {{ admin_field_class(in_class=True, obj=recipe) }}">
    <form action="{{ url_for('RecipesView:delete', id=recipe.id) }}" method="post" class="form-inline" onsubmit="return confirm('{{ texts.recipe_delete_confirm }}');">
        <a class="btn btn-warning" href="{{ url_for('RecipesView:edit', id=recipe.id) }}">{{ texts.edit }} {{ icon("edit") }}</a>
        {% if recipe.is_used %}
            <button type="submit" class="btn btn-danger" disabled="">Nelze smazat, je použit</button>
        {% else %}
            <button type="submit" class="btn btn-danger">{{ texts.recipe_delete }} {{ icon("delete") }}</button>
        {% endif %}
    </form>
    <form action="{{ url_for('RecipesView:toggle_shared', id=recipe.id) }}" method="post" class="form-inline">
        {% if recipe.is_shared == True %}
            <button type="submit" class="btn btn-secondary">{{ texts.recipe_unshare }} {{ icon("unshare") }}</button>
        {% else %}
            <button type="submit" class="btn btn-secondary">{{ texts.recipe_share }} {{ icon("share") }}</button>
        {% endif %}
    </form>
</div>
{% endif %}

{% if not recipe.is_current_user_author %}
<div class="mt-2 mb-1">
    <a class="btn btn-info" href="{{ url_for('RecipesView:duplicate', id=recipe.id) }}">
        Zkopírovat do mých receptů
    </a>
</div>
{% endif %}

<details class="colored">
    <summary>Zobrazit pro daný počet porcí</summary>
    <div>
        <div class="ml-2">
        
        <a class="btn color-white color-hover-black bg-color-blue" href="{{ url_for('RecipesView:show', id=recipe.id, portion_count=1) }}">Jedna porce</a>
        <a class="btn color-white color-hover-black bg-color-purple ml-1" href="{{ url_for('RecipesView:show', id=recipe.id, portion_count=13) }}">Třináct porcí</a>
        <a class="btn color-white color-hover-black bg-color-purple ml-1" href="{{ url_for('RecipesView:show', id=recipe.id) }}">Původní</a>
    
        </div>
        
        <form method="POST" action="{{ url_for('RecipesView:show_with_portion_count', id=recipe.id) }}" class="form form-inline">
            <input type="number" name="portion_count" min="1" class="form-control" value=1>
            <button type="submit" class="btn btn-primary">Zobrazit pro daný počet porcí</button>
        </form>
    
    </div>
</details>

<details class="colored">
    <summary>Další možnosti</summary>
    <div>
    
        <a class="btn color-white color-hover-black bg-color-red d-none d-md-inline-block" href="{{ url_for('RecipesView:pdf', id=recipe.id, portion_count=recipe.portion_count) }}" target="_blank">Zobrazit jako PDF </a>

        <a class="btn color-white color-hover-black bg-color-red d-md-none" href="{{ url_for('RecipesView:pdf_download', id=recipe.id, portion_count=recipe.portion_count) }}" target="_blank">Stáhnout PDF </a>
    
        {% if recipe.is_current_user_author %}
            <a class="btn btn-info" href="{{ url_for('RecipesView:duplicate', id=recipe.id) }}">
                Vytvořit kopii receptu
            </a>
        {% endif %}
    
    </div>
</details>