<turbo-frame id="recipes">
<ul>
{% for recipe in recipes %}
    <li>{{ link_to(recipe) }}
        {% if recipe.is_shared %} {{ icon("shared") }} {% endif %}
    </li>
{% endfor %}
</ul>
</turbo-frame>