{% from "macros/icons.html.j2" import icon %}

<div class="col">
    <label for="recipes"><h3> moje recepty se surovinou </h3></label>

    {% include "recipes/_recipes.html.j2" %}

    {% if current_user.has_permission("manage-application") and all_recipes %}
    <div class="admin-field">
	    <label><h3> všechny recepty se surovinou </h3></label>

        <turbo-frame id="all-recipes">
	    <ul>
	        {% for recipe in all_recipes %}
	            <li>{{ link_to(recipe) }}
                    {% if not recipe.is_current_user_author %} ({{ recipe.author.name }}) {% elif recipe.is_shared %} {{ icon("shared") }} {% endif %}
                </li>
	        {% endfor %}
	    </ul>
        </turbo-frame>

    </div>
    {% endif %}
</div>
