<table id="table" class="table"
	   	data-filter-control="true" data-toggle="table" data-search="true" data-pagination="true" data-sort-order="desc">

    <thead>
    	<th data-field="name" data-sortable="true"> recept </th>
    	<th data-field="category" data-sortable="true"> kategorie </th>
        <th data-field="dietary" > specifika </th>
    </thead>
    
    <tbody id="recipes">
    {% for recipe in recipes: %}
        <tr id = "recipe-{{ recipe.id }}" class="h-5">
            <td> {{ link_to(recipe) }} </td>
            <td> {{ recipe.category.name }} </td>
            <td>
                <span>
                {% for label in recipe.labels %}
                    {{ render_label(label) }}
                {% endfor %}
                </span>
            </td>
        </tr>
    {% endfor %}
    </tbody>

</table>