<div class="col">
    <label for="recipes"><h3>{{ texts.recipe_list }}</h3></label>
    <ul name="recipes">
        {% for recipe in recipes %}
            <li>{{ link_to(recipe) }}
                {% if recipe.is_shared %} (veřejný) {% endif %}
            </li>
        {% endfor %}
    </ul>

    {% if current_user.is_admin and all_recipes %}
    <div class="admin-field">
	    <label><h3>Všechny recepty</h3></label>
	    <ul>
	        {% for recipe in all_recipes %}
	            <li>{{ link_to(recipe) }}
                    {% if not recipe.is_current_user_author %} ({{ recipe.author.name }}) {% elif recipe.is_shared %} (veřejný) {% endif %}
                </li>
	        {% endfor %}
	    </ul>
    </div>
    {% endif %}
</div>
