<table id="ingredients" class="table">
    <thead>
        <tr>
            <th> název </th>
            <th> množství (na {{recipe.portion_count}} porcí) </th>
            <th></th>
        </tr>
    </thead>

    {% for ingredient in recipe.ingredients: %}
        {% if ingredient.amount %}
            {% set ingredient_amount = ingredient.amount * recipe.portion_count %}
        {% endif %}

        <tr>
            {% if current_user.is_authenticated %}
                <td>
                    {{ link_to(ingredient) }}
                    {% if ingredient.is_public %}
                        <span class="d-print-none"> {{ icon("public", class="text-secondary") }} </span>
                    {% endif %}
                </td>
            {% else %}
                <td> {{ ingredient.name }} </td>
            {% endif %}

            <td>
            {% if ingredient.is_measured %}
                {% if ingredient.measurement.thousand_fold and ingredient_amount % 1000 != ingredient_amount %}
                    {{ formatted_amount(ingredient_amount/1000) }} {{ ingredient.measurement.thousand_fold }}
                {% else %}
                    {{ formatted_amount(ingredient_amount) }} {{ ingredient.measurement.name }}
                {% endif %}

                {% if ingredient.alternative_measurement %}
                    {% set ns = namespace(title="přibližně\n") %}      
                    {% for conversion in ingredient.alternative_measurements %}
                        {% set ns.title = ns.title + formatted_amount(ingredient_amount/conversion.amount_from * conversion.amount_to) | string + " " + conversion.to_measurement.name %}

                        {% set ns.title = ns.title + "\n" %}
                    {% endfor %}
                    <abbr title="{{ ns.title }}">
                         {{ icon("info-circle", class="ms-1") }}
                    </abbr>   
                {% endif %}

            {% endif %}
            </td>

            <td><em>{{ ingredient.comment|default("", True) }}</em></td>
        </tr>
    {% endfor %}
</table>
