{% from "macros/icons.html.j2" import icon %}
{% from "macros/general.html.j2" import link_or_name with context %}

<div class="mb-5">
<div class="mb-3">
    <div> 
        <h2> {{ link_or_name(recipe) }} </h2>
    </div>
    
    <div>
        <span class="fst-italic"> kategorie: {{ recipe.category.name }} </span><br>
    </div>

    <div>
        <span class="float-end">
        {% for label in recipe.labels %}
            {{ icon(label.icon_name)}}
        {% endfor %}
        </span>
    </div>
</div>


<table id="ingredients" class="table">
    <tr>
        <th> název </th>
        <th> množství (na {{recipe.portion_count}} porcí) </th>
        <th></th>
    </tr>

    {% for ingredient in recipe.ingredients: %}
        {% set ingredient_amount = ingredient.amount * recipe.portion_count %}
        <tr>
            {% if not print %}
                
            <td>{{ link_to(ingredient) }}
                {% if ingredient.is_public %} {{ icon("public", class="text-secondary") }} {% endif %}
            </td>
            {% else %}
                <td>{{ ingredient.name }}</td>
            {% endif %}

            <td>
            {% if ingredient.is_measured %}
                {% if ingredient.measurement.thousand_fold and ingredient_amount % 1000 != ingredient_amount %}
                    {{ formatted_amount(ingredient_amount/1000) }} {{ ingredient.measurement.thousand_fold }}
                {% else %}
                    {{ formatted_amount(ingredient_amount) }} {{ ingredient.measurement.name }}
                {% endif %}

            {% endif %}
            </td>

            <td><em>{{ ingredient.comment|default("", True) }}</em></td>
        </tr>
    {% endfor %}
</table>

{# <hr> #}

{% if recipe.description %}
    {% include "recipes/_description.html.j2" %}
{% endif %}
</div>