{% if recipe.category.name %}
    {% set category_name=recipe.category.name %}
{% else %}
    {% set category_name="bez kategorie" %}    
{% endif %}

<div class="mt-2">
    <span class="fst-italic"> {{ category_name }} </span>
</div>

{% if recipe.is_shared and not recipe.is_current_user_author and recipe.author.name %}
    {% set author_note = "(vytvořil*a " + recipe.author.name + ")" %}
{% elif recipe.is_shared and not recipe.is_current_user_author and not recipe.author.name %}
    {% set author_note = None %}
{% elif recipe.is_shared %}
    {% set author_note = "zveřejněný recept " + icon("shared") %}
{% else %}
    {% set author_note = None %}
{% endif %}

{% if author_note != None %}

<hr>

<div class="mt-2">
    <span class="fst-italic font-weight-light"> {{ author_note }} </span>
</div>

{% endif %}

{% if current_user.is_authenticated and recipe.is_shared and not recipe.is_current_user_author %}

<hr>

<turbo-frame id="recipe-{{recipe.id}}-reaction">
<form method="post" action="{{ url_for('PublicRecipeView:toggle_reaction', recipe_id=recipe.id, refresh=True) }}">
    <button type="submit" class="invisible-button">
        {% if recipe.has_reaction %}
            <span> {{ icon("heart_full", action="click->recipe-reactions#empty", cursor_class="cursor-clickable") }} </span>
        {% else %}
            <span> {{ icon("heart_empty", action="click->recipe-reactions#fill", cursor_class="cursor-clickable") }} </span>
        {% endif %}
    </button>
</form>
</turbo-frame>
{% endif %}


{% if recipe.labels %}

<hr>

<div class="d-print-none">
    {% from "macros/render_label.html.j2" import render_label %}
    {% for label in recipe.labels %}
        {{ render_label(label, size=7) }}
    {% endfor %}
</div>

{% endif %}

