{% extends "base/base.html.j2" %}
{% block title %}
    {{ texts.recipe }}
{% endblock %}

 {% block links %}
    {{ super() }}
    {{ turbo() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.25.1/trumbowyg.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.25.1/ui/trumbowyg.min.css" rel="stylesheet">
{% endblock %}

{% block script %}
    {{ stimulus("select2", "editor") }}
{% endblock %}

{% block content %}

<a class="btn btn-secondary ms-2 mb-3" href="{{ url_for('RecipesView:show', id=recipe.id) }}">{{ texts.edit_finish }} {{ icon("edit") }}</a>

<details open class="form-control mb-3">
<summary> Upravit recept </summary>
    {% include "recipes/edit/_info.html.j2" %}
</details>

<details open class="form-control mb-3">
<summary> Upravit suroviny </summary>

<div class="m-3">
    {% include "recipes/edit/_add_ingredient_form.html.j2" %}
</div>

<table class="table">
    <thead>
        <tr>
            <th>{{ texts.title }}</th>
            <th>Množství (na {{ recipe.portion_count }} porcí) </th>
            <th colspan="4"></th>
        </tr>
    </thead>
    <tbody id="ingredients">
    {% for ingredient in recipe.ingredients: %}
        {% include "recipes/edit/_edit_ingredient.html.j2" %}
    {% endfor %}
    </tbody>
</table>
</details>


<details class="form-control mb-3" open>
<summary> Upravit návod </summary>
    {% include "recipes/edit/_description.html.j2" %}
</details>

<a class="btn btn-secondary ms-2 mb-5" href="{{ url_for('RecipesView:show', id=recipe.id) }}">{{ texts.edit_finish }} {{ icon("edit") }}</a>

{% endblock %}