{% extends "base/base.html.j2" %}
{% block title %}
    {{ texts.recipe }}
{% endblock %}

{% block content %}
<form action="{{ url_for('RecipesView:post_edit', id=recipe.id) }}" class="form" method="post" accept-charset="utf-8">
    {{ form.csrf_token }}
    <div class="w-100">
    {{ render_field(form.name, has_label=False, class="col-6") }}
    </div>

    <div class="w-100">
    {{ render_field(form.description, has_label=False, class="col") }}                            
    </div>

    <div class="w-100 mt-2 mb-2">
    {{ render_field(form.category, has_label=False, class="col") }}                            
    </div>

    <input type="submit" value="{{ texts.recipe_edit }}" class="btn btn-warning">
    <a class="btn btn-secondary ml-2" href="{{ url_for('RecipesView:show', id=recipe.id) }}">{{ texts.edit_cancel }} {{ icons.edit }}</a>
</form>

<table id="ingredients" class="table">
    <tr>
        <th>{{ texts.title }}</th>
        <th>{{ texts.amount_simple }}</th>
        {# <th>{{ texts.energy_simple }}</th> #}
        {# <th>{{ texts.protein_simple }}</th> #}
        {# <th>{{ texts.fat_simple }}</th> #}
        {# <th>{{ texts.sugar_simple }}</th> #}
    </tr>

    {% for ingredient in recipe.ingredients: %}
        {% include "recipes/_edit_ingredient.html.j2" %}
    {% endfor %}

    {# <tr class="totals"> #}
        {# <td>Celkem</td> #}
        {# <td>{{ totals.amount|round(2,'common')  }}</td> #}
        {# <td>{{ totals.calorie }}</td> #}
        {# <td>{{ totals.protein }}</td> #}
        {# <td>{{ totals.fat }}</td> #}
        {# <td>{{ totals.sugar }}</td> #}
    {# </tr> #}
</table>

{% endblock %}

