{% extends "base/base.html.j2" %}
{% block title %}
    {{ texts.recipe }}
{% endblock %}

 {% block links %}
    {{ super() }}
    {{ turbo() }}
    <!-- include summernote css/js-->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
{% endblock %}

{% block script %}
    {% include 'javascript/stimulus.js.html' %}
    {% include 'javascript/enable_select2_controller.js.html' %}
    {% include 'javascript/enable_summernote_controller.js.html' %}
{% endblock %}

{% block content %}

<a class="btn btn-secondary ml-2 mb-3" href="{{ url_for('RecipesView:show', id=recipe.id) }}">{{ texts.edit_finish }} {{ icon("edit") }}</a>

<details open class="form-control mb-3">
<summary> Upravit recept </summary>
    {% include "recipes/edit/_info.html.j2" %}
</details>

<details open class="form-control mb-3">
<summary> Upravit suroviny </summary>
<div>
    {% include "recipes/edit/_add_ingredient_form.html.j2" %}
</div>

<table id="ingredients" class="table">
    <tr>
        <th>{{ texts.title }}</th>
        <th>Množství (na {{ recipe.portion_count }} porcí) </th>
        <th colspan="2"></th>
    </tr>

    {% for ingredient in recipe.ingredients: %}
        {% include "recipes/edit/_edit_ingredient.html.j2" %}
    {% endfor %}
</table>
</details>


<details class="form-control mb-3" open>
<summary> Upravit návod </summary>
    {% include "recipes/edit/_description.html.j2" %}
</details>

<a class="btn btn-secondary ml-2 mb-5" href="{{ url_for('RecipesView:show', id=recipe.id) }}">{{ texts.edit_finish }} {{ icon("edit") }}</a>

{% endblock %}