{% extends "base/base.html.j2" %}
{% block title %} recepty {% endblock %}

{% block content %}

<div class="row">
    <div class="col">
        <h1 class="font-comfortaa"> moje recepty </h1>
    </div>
    <div class="col">
        <a href="{{ url_for('RecipeView:new') }}" class="btn bg-color-secondary-action color-white float-end mt-2"> {{icon('add')}} recept
        </a>
    </div>
</div>

<hr>

<table id="recipes-table" class="table" data-controller="bstable"
       data-filter-control="true" data-toggle="table" data-search="true"  data-pagination="true" data-sort-name="reaction_count" data-sort-order="desc">
    <thead>
        <th data-field="recipe" data-sortable="true"> recept </th>
        {# <th data-field="ingredients" data-sortable="true"> seznam surovin </th> #}
        <th data-field="category" data-sortable="true"> kategorie </th>
        <th data-field="dietary" > specifika </th>
        <th data-field="author" data-sortable="true"> autor*ka </th>
        {% if current_user.is_authenticated %}
        <th data-field="reactions" data-sortable="true"> {{ icon("heart_full") }} </th>
        {% endif %}
        <th data-field="reaction_count" data-sortable="true"> {{ icon("heart_empty") }} </th>
    </thead>

    <tbody>

    {% for recipe in recipes: %}
        {% include "public_recipes/_recipe_row.html.j2" %}
    {% endfor %}

    </tbody>
</table>

{% endblock %}

