{% extends "base/base.html.j2" %}
{% block title %} recepty {% endblock %}

{% block content %}

<h1 class="font-comfortaa"> moje recepty </h1>

<div class="row mb-2">
    <div class="col">
        {{ action_badge("new", Recipe) }}
    </div>
    <div class="col-6 col-md-3">
        {{ search_box(recipes + RecipeCategory.load_all() + Label.load_all()) }}
    </div>
</div>


<table id="table" class="table table-hover" data-controller="bstable"
        data-filter-control="true" data-toggle="table" data-search-selector="#search_box" data-pagination="true" data-sort-order="desc" data-classes="table-borderless" data-page-size=25>

    <thead>
        <th data-field="name" data-sortable="true"> recept </th>
        <th data-field="category" data-sortable="true"> kategorie </th>
        <th data-field="dietary" > specifika </th>
    </thead>

    <tbody id="recipes">
    {% for recipe in recipes: %}
        <tr id = "recipe-{{ recipe.id }}" class="h-4">
            <td> {{ link_to(recipe) }} </td>
            <td> {{ recipe.category.name }} </td>
            <td>
                <span>
                {% for label in recipe.labels %}
                    {{ render_label(label) }}
                {% endfor %}
                </span>
            </td>
        </tr>
    {% endfor %}
    </tbody>

</table>
{% endblock %}

