{% extends "base/base.html.j2" %}
{% block title %} Vytvořit recept {% endblock %}

{% block links %}
    {{ super() }}
    {{ turbo() }}
{% endblock %}

{% block content %}

<form action="{{ url_for('RecipesView:post') }}" method="post" accept-charset="utf-8">
    {{ form.csrf_token }}

    {{ render_floating_field(form.name) }}
    {{ render_floating_field(form.category) }}
    {{ render_floating_field(form.portion_count) }}

    {{ render_field(form.submit) }}
</form>


{% endblock %}