{% extends "base/base.html.j2" %}
{% block title %} Vytvořit recept {% endblock %}

{% block links %}
    {{ super() }}
    {{ turbo() }}
{% endblock %}

{% block content %}

{% include "recipes/new/_new_recipe_form.html.j2" %}

{% endblock %}