{% extends "base/base.html.j2" %}
{% block title %} {{ texts.recipe }} {% endblock %}

{% block content %}

<div class="col-10">

{% include("recipes/_show.html.j2") %} 

{% if not print %}
    {% include("recipes/_interactions.html.j2") %} 
{% endif %}

</div>
<div class="col-2">
    {% include("recipes/_sidebar_details.html.j2") %} 
</div>

{% endblock %}

